<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="coin">
  <meta name="keywords" content="coin">
  <meta name="author" content="coin">
  <link rel="icon" href="../public/assets/images/favicon.png" type="image/x-icon"/>
  <link rel="shortcut icon" href="../public/assets/images/favicon.png" type="image/x-icon"/>



<%- contentFor('head') %>
  

	 <title>Login | LOOiX Coin</title>

   <style type="text/css">
    .alert-success {
      color: #155724;
      background-color: #d4edda;
      border-color: #c3e6cb;
      line-height: 20px;
    }
    @media screen and (max-width: 768px) {
      .login-box .login-form {
        text-align: center;
        /*margin-top: 350px;*/
      } 
    }
  </style>
  </head>
  <body>
<%- contentFor('body') %>
  <!-- Loader Start-->
    <div class="spinner-wrapper">
      <div class="spin"></div>
    </div>
    <!-- Loader Ends-->
    <!-- Signup start -->

    <div class="form-bg login-form-bg login-new-bg">
        <div class="container login-box">
          <div class="row">

            <div class="login-info col-md-5 text-center">
            <a href="/"><img class="img-fluid mt-4 mb-4 main-logo-login" src="../public/assets/images/logo.png" /></a>
            <div class="d-flex-center login-left-div">
              <div class="container">
                <div class="col-sm-12 text-left">
                
               <div class="iconed-text mtop-80 mbt-30">
                       <span><img src="../public/assets/images/icons/daily-transaction.png"></span>
                          <span class="font-15">Get bonus plus heavy discount on Pre ICO </span>
                    </div>
                     <div class="iconed-text mtop-80 mbt-30">
                        <span><img src="../public/assets/images/icons/daily-transaction.png"></span>
                          <span class="font-15">Refer and get refferal bonus, Simply login copy your referral link and share it!</span>
                    </div>
                     <!-- <div class="iconed-text mtop-80 mbt-30">
                        <span><img src="public/assets/images/icons/daily-transaction.png"></span>
                          <span class="font-15">Next 50000 users will get 100 tokens free</span>
                    </div>
                     
                     <div class="iconed-text mtop-80 mbt-30">
                           <span><img src="public/assets/images/icons/daily-transaction.png"></span>
                          <span class="font-15">Get 25% Referral bonus</span>
                    </div> -->
                 <div class="iconed-text mtop-80 mbt-30 mb-3">
                        <span><img src="../public/assets/images/icons/daily-transaction.png"></span>
                          <span class="font-15">Please fill all the details correctly</span>
                    </div>
                                
                  </div>
              </div>
            </div>
          </div>
          <div class="login-form col-md-7 pt-4">
            <div class="container">
            <div class="text-center">
               <h2 class="title theme-color">Sign Up</h2>
               <span class="titleline"><em></em></span>
            </div>
         </div>
          <form id="register-form" action="/register" method="post" class="tab-content active">

            
          <% if (message.length > 0) { %>
              <div class="alert alert-danger flash"><%= message %></div>
          <% } %>

          <% if (success.length > 0) { %>
              <div class="alert alert-success flash"><%= success %></div>
          <% } %>

          <% for(var i=0; i<error.length; i++) { 
         if (error[i].param == 'firstname'){ var firstname =  error[i]['msg'] }
         if (error[i].param == 'lastname'){ var lastname =  error[i]['msg'] }
         if (error[i].param == 'username'){ var username =  error[i]['msg'] }
         if (error[i].param == 'email'){ var email =  error[i]['msg'] }
         if (error[i].param == 'password'){ var password =  error[i]['msg'] }
         if (error[i].param == 'confirm_password'){ var confirm_password =  error[i]['msg'] }
         if (error[i].param == 'erc20_address'){ var erc20_address =  error[i]['msg'] }
           }  %>




                    <div class="form-group form-row">
                        <div class="col-sm-6">
                          <input type="text" class="form-control" value="" placeholder="First Name" name="firstname">
                         <% if (firstname) { %> <span class="help-block text-danger"> <strong><%= firstname %></strong> </span>  <% }  %>
                       </div>
                      
                        <div class="col-sm-6">
                          <input type="text" class="form-control" value="" placeholder="Last Name" name="lastname">
                         <% if (lastname) { %> <span class="help-block text-danger"> <strong><%= lastname %></strong> </span>  <% }  %>
                        </div>
                    </div>

                <div class="form-group form-row">
                  <div class="col-sm-6">
                    <input type="text" class="form-control" value="" placeholder="User Name" name="username">
                    <% if (username) { %> <span class="help-block text-danger"> <strong><%= username %></strong> </span>  <% }  %>
                  </div>
             
                   <div class="col-sm-6">
                   <input type="email" class="form-control" value="" placeholder="Email" name="email">
                <% if (email) { %> <span class="help-block text-danger"> <strong><%= email %></strong> </span>  <% }  %>
                  </div>
               </div>
             
              <div class="form-group form-row">
                <div class="col-sm-6">
                  <input type="password" class="form-control" placeholder="Password" name="password">
                  <% if (password) { %> <span class="help-block text-danger"> <strong><%= password %></strong> </span>  <% }  %>
                 </div>
                <div class="col-sm-6">
                  <input type="password" class="form-control" placeholder="Retype Password" name="confirm_password">
                             <% if (confirm_password) { %> <span class="help-block text-danger"> <strong><%= confirm_password %></strong> </span>  <% }  %>
               </div>
              </div>
              <div class="form-group form-row">
                <div class="col-sm-12">
                  <input type="text" class="form-control" placeholder="ERC20 address" name="erc20_address" onchange="checkaddress(this.value)">
                  <% if (erc20_address) { %> <span class="help-block text-danger"> <strong><%= erc20_address %></strong> </span>  <% }  %>
                  <span class="help-block text-danger" id="address"></span>
                 </div>
              </div>
               <input type="hidden" class="form-control" placeholder="Sponser Name" value="" name="sponser">


              <div class="text-center" id="register_div1">
                <button type="submit"  class="btn btn-login text-center">Register</button>
              </div>

       

              <div class="row mt-5 text-center">
                <div class="col-sm-12">
                 Already have an account?  <a href="/login" class="p-0 m-0">Log In</a>
                </div>
                  
              </div>

            </form>

          </div>
          
        </div>
      </div>
    </div>

    <!-- Signup ends -->

      

  <script src="./public/assets/js/jquery-3.2.1.min.js" ></script>
    <!--Jarallax JS-->
    <script src="./public/assets/js/jarallax.min.js"></script>
    <!--OWL Carousel JS -->
    <script src="./public/assets/js/owl.carousel.js"></script>
    <!--Scroll Reveal JS-->
    <script src="./public/assets/js/scrollreveal.min.js"></script>
    <script src="./public/assets/js/modernizr-custom.js"></script>
    <!-- popper js-->
    <script src="./public/assets/js/popper.min.js" ></script>
    <!-- Bootstrap js-->
    <script src="./public/assets/js/bootstrap.js" ></script>
    <!-- Counter js-->
    <script src="./public/assets/js/jquery.waypoints.min.js" ></script>
    <script src="./public/assets/js/jquery.counterup.js" ></script>
    <!-- Theme js-->
    <script src="./public/assets/js/script.js" ></script>
    <script type="text/javascript">
       function checkaddress(address)
        {
          //console.log(address);
            $('#address').empty();
          $.get("/check-address/"+address, function(data, status){
            if(data == 0)
               { 
                  $('#address').removeClass();
                  $('#address').addClass('help-block text-danger');
                  $('#address').append('<strong> Please Enter Valid Address </strong>');
                  $('#register').addClass('disabled');
                  $('#register').attr('disabled',true);
               }else{
                  $('#address').removeClass();
                  $('#address').addClass('help-block text-success');
                  $('#address').append('<strong> ERC20 Address Valid !! </strong>');
                  $('#register').removeClass('disabled');
                  $('#register').attr('disabled',false);
               }
          });
            // $.get("check-address/"+address, function(data, status){
               // if(data == 0)
               // { 
               //    $('#address').removeClass();
               //    $('#address').addClass('help-block text-danger');
               //    $('#address').append('<strong> Please Enter Valid Address </strong>');
               //    $('#register').addClass('disabled');
               //    $('#register').attr('disabled',true);
               // }else{
               //    $('#address').removeClass();
               //    $('#address').addClass('help-block text-success');
               //    $('#address').append('<strong> ERC20 Address Valid !! </strong>');
               //    $('#register').removeClass('disabled');
               //    $('#register').attr('disabled',false);
               // }
           // });  
        }
    </script>
<%- contentFor('footer') %>
  </body>
</html>


       