<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="coin">
  <meta name="keywords" content="coin">
  <meta name="author" content="coin">
  <link rel="icon" href="../public/assets/images/favicon.png" type="image/x-icon"/>
  <link rel="shortcut icon" href="../public/assets/images/favicon.png" type="image/x-icon"/>

<%- contentFor('head') %>
  

	 <title>Login | LOOiX Coin</title>

   <style type="text/css">
    .alert-success {
      color: #155724;
      background-color: #d4edda;
      border-color: #c3e6cb;
      line-height: 20px;
    }
    @media screen and (max-width: 768px) {
      .login-box .login-form {
        text-align: center;
        /*margin-top: 350px;*/
      } 
    }
  </style>
  </head>
  <body>
<%- contentFor('body') %>
  <!-- Loader Start-->
    <div class="spinner-wrapper">
      <div class="spin"></div>
    </div>
    <!-- Loader Ends-->
    <!-- reset start -->

    <div class="form-bg login-form-bg login-new-bg">
        <div class="container login-box">
          <div class="row">

            <div class="login-info col-md-5 text-center">
            <a href="/"><img class="img-fluid mt-4 mb-4 main-logo-login" src="../public/assets/images/logo.png" /></a>
            <div class="d-flex-center login-left-div">
              <div class="container">
                <div class="col-sm-12 text-left">
                
               <div class="iconed-text mtop-80 mbt-30">
                       <span><img src="../public/assets/images/icons/daily-transaction.png"></span>
                          <span class="font-15">First  20000 users will get 300 tokens free</span>
                    </div>
                     <div class="iconed-text mtop-80 mbt-30 mb-3">
                        <span><img src="../public/assets/images/icons/daily-transaction.png"></span>
                          <span class="font-15">Next 30000 users will get 200 tokens free</span>
                    </div>
                    
                                
                  </div>
              </div>
            </div>
          </div>
          <div class="login-form col-md-7 pt-4">
            <div class="container">
            <div class="text-center">
               <h2 class="title theme-color">Forgot password ?</h2>
               <span class="titleline"><em></em></span>
            </div>
         </div>
            <form action="/reset/<%= token %>" method="post" id="register-form" class="tab-content active">
              <% if (error.length > 0) { %>
                  <div class="alert alert-danger flash"><%= error %></div>
              <% } %> 
              <% if (success.length > 0) { %>
                  <div class="alert alert-danger flash"><%= success %></div>
              <% } %>
               
              <div class="form-group">
                   <input type="password" class="form-control" placeholder="Enter new password" name="password">
                <span></span>
              </div>
              <span id="err_lbl"></span>

              <div class="form-group">
                   <input type="password" class="form-control" placeholder="Enter confirm password" name="confirm">
                <span></span>
              </div>
              <span id="err_lbl"></span>
              <div class="text-center">
                <button type="submit" class="btn btn-login text-center">Reset</button>
              </div>
            </form> 
          </div>
        </div>
      </div>
    </div>

    <!-- reset ends -->

      

  <script src="./public/assets/js/jquery-3.2.1.min.js" ></script>
    <!--Jarallax JS-->
    <script src="./public/assets/js/jarallax.min.js"></script>
    <!--OWL Carousel JS -->
    <script src="./public/assets/js/owl.carousel.js"></script>
    <!--Scroll Reveal JS-->
    <script src="./public/assets/js/scrollreveal.min.js"></script>
    <script src="./public/assets/js/modernizr-custom.js"></script>
    <!-- popper js-->
    <script src="./public/assets/js/popper.min.js" ></script>
    <!-- Bootstrap js-->
    <script src="./public/assets/js/bootstrap.js" ></script>
    <!-- Counter js-->
    <script src="./public/assets/js/jquery.waypoints.min.js" ></script>
    <script src="./public/assets/js/jquery.counterup.js" ></script>
    <!-- Theme js-->
    <script src="./public/assets/js/script.js" ></script>
<%- contentFor('footer') %>
  </body>
</html>