<%- contentFor('head') %>
<%- contentFor('body') %>
<% include ../partials/header %>
<% include ../partials/sidebar %>
<style type="text/css">
    h2, h3, h4, h5 {
    color: #ffff;
}
.ico-font {
    color: #fff;
}
</style>

        <div class="dashboard-body">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">Dashboard</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href=""><i class="fa fa-home" aria-hidden="true"></i></a>
                        </li>
                        <li class="breadcrumb-item"><a href="#">Dashboard</a>
                        </li>
                    </ol>
                </div>
 
                <div class="col-lg-6">
                    <form class="form-copy theme-form">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" value="<%= url %>/refer/<%= user.ref_token %>" aria-label="Search for..." id="post-shortlink" readonly>
                                <span class="input-group-btn">
                                  <button class="btn btn-copy" type="button" onclick="copyText()"  data-copytarget="#lets_copy" >copy</button>
                                </span>
                            </div>
                        </div>
                        <p class="bouns-note">Get bonus by referring new members learn <a href="#">more</a></p>
                    </form>
                </div>
                <div class="col-lg-12">
                    <div class="card coin-value">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-lg-3 mt-2">
                                    <div class="media dark">
                                        <img class="mr-3" src="./public/assets/images/bitcoin.png" alt="bitcoin">
                                        <div class="media-body">
                                            <h5 class="mt-2">  BTC    </h5>
                                            <h4 class="blue-font mt-0">
                                              <span class="counter"><%= btc_bal %></span>
                                            </h4>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-lg-3 mt-2">
                                    <div class="media dark">
                                        <img class="mr-3" src="./public/assets/images/icon-eth.png" alt="ETH">
                                        <div class="media-body">
                                            <h5 class="mt-2"> ETH </h5>
                                            <h4 class="blue-font mt-0">
                                              <span class="counter"><%= eth_bal %></span>
                                            </h4>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-lg-3 mt-2">
                                    <div class="media dark">
                                        <img class="mr-3" src="./public/assets/images/$.png" alt="dollar">
                                        <div class="media-body">
                                            <h5 class="mt-2"> USD</h5>
                                            <h4 class="blue-font mt-0">
                                             <span class="counter"><%= user.usd_bal.toFixed(4) %></span>
                                           </h4>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-lg-3 mt-2">
                                    <div class="media dark">
                                        <img class="mr-3" src="./public/assets/images/euro.png" alt="dollar">
                                        <div class="media-body">
                                            <h5 class="mt-2"> EUR </h5>
                                            <h4 class="blue-font mt-0">
                                             <span class="counter"><%= user.euro_bal.toFixed(2) %></span>
                                           </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


    <div class="col-sm-3">
        <div class="card icon-timer">
            <div class="card-header">
                <h4 class="text-center">Total Sold Token</h4>
            </div>
            <div class="card-body">
                <h2 class="counter text-center ico-font"><%= setting.total_sold_coins %></h2>
            </div>
        </div>
    </div>

     <div class="col-sm-3">
        <div class="card icon-timer">
            <div class="card-header">
                <h4 class="text-center">Total Deposit</h4>
            </div>
            <div class="card-body">
                <h2 class="counter text-center ico-font"><%= dep_size %></h2>
            </div>
        </div>
    </div>

     <div class="col-sm-3">
        <div class="card icon-timer">
            <div class="card-header">
                <h4 class="text-center">Total Withdrawals</h4>
            </div>
            <div class="card-body">
                <h2 class="counter text-center ico-font"><%= with_size %></h2>
            </div>
        </div>
    </div> 
    <div class="col-sm-3">
        <div class="card icon-timer">
            <div class="card-header">
                <h4 class="text-center">Total Users</h4>
            </div>
            <div class="card-body">
                <h2 class="counter text-center ico-font"><%= user_size %></h2>
            </div>
        </div>
    </div>

      <div class="col-sm-12">
            <div class="card icon-timer">
                    <div class="card-header">
                        <h4 >Today Deposits</h4>
                    </div>
                    <div class="card-body table-responsive">
                           <table  class="table table-striped data-table dataTable no-footer" id="today-deposit-user1">
                                   <thead class="thead-dark">
                                       <th scope="col">Sr.</th>
                                       <th scope="col">Username</th>
                                       <th scope="col">Amount (Coin)</th>
                                       <th scope="col">Type</th>
                                       <th scope="col">Txid/Payment ID</th>
                                       <th scope="col">Status</th>
                                  </thead>

                                <tbody>
                                <% var i=1; %>
                                  <% if (depdata) { %>
                                  <% depdata.forEach(function(deposit){ %>
                                      <tr>
                                           <td><%= i++;  %></td>
                                            <td><%= deposit.users.username  %></td>
                                           <td><%= deposit.amount  %> <%= deposit.currency  %></td>
                                           <td>
                                                        <% if ( deposit.currency == 'BTC') { %> <span class="badge badge-warning"><%=  deposit.currency %> </span> <% } %>
                                                        <% if ( deposit.currency == 'ETH') { %> <span class="badge badge-custom"><%=  deposit.currency %> </span> <% } %>
                                                        <% if ( deposit.currency == 'USD') { %> <span class="badge badge-info"><%=  deposit.currency %> </span> <% } %>
                                                        <% if ( deposit.currency == 'EUR') { %> <span class="badge badge-primary"><%=  deposit.currency %> </span> <% } %>
                                           </td>

                                           <td>
                                             <% if(deposit.currency == 'USD' || deposit.currency == 'EUR'){ %>
                                                 <%= deposit.payment_id %>
                                             <% } else{ %>
                                              <%= deposit.tx_id %>
                                              <% }  %>
                                           </td>

                                            <td>
                                            <% if (deposit.status == 0) { %>   
                                                  <span class="badge badge-info">Pending</span>
                                           <%  } else if(deposit.status == 2){ %>
                                                  <span class="badge badge-danger">Cancel</span>
                                            <%  } else if(deposit.status == 1){ %>
                                                 <span class="badge badge-success">Success</span>
                                            <% } else { } %>
                                           </td>
                                      </tr>

                                  <% }) %>
                                  <% } %>   
                                    </tbody>
                                  </table>
                    </div>
                </div>
             </div>

            <div class="col-sm-12">
            <div class="card icon-timer">
                    <div class="card-header">
                        <h4>Today Withdrawals</h4>
                    </div>
                    <div class="card-body table-responsive">
                    <table  class="table table-striped data-table dataTable no-footer" id="today-withdraw-user1">
                                  <thead class="thead-dark">
                                      <th scope="col">Sr.</th>
                                       <th scope="col">Username</th>
                                       <th scope="col">Amount (Coin)</th>
                                       <th scope="col">Type</th>
                                       <th scope="col">Txid</th>
                                       <th scope="col">Status</th>
                                  </thead>
                                    <tbody>
                                     <% var i=1; %>
                                          <% if (withdata) { %>
                                          <% withdata.forEach(function(withdraw){ %>

                                              <tr>
                                                   <td><%= i++;  %></td>
                                                    <td><%= withdraw.users.username  %></td>
                                                   <td><%= withdraw.amount  %> <%= withdraw.currency  %></td>
                                                   <td>
                                                        <% if ( withdraw.currency == 'BTC') { %> <span class="badge badge-warning"><%=  withdraw.currency %> </span> <% } %>
                                                        <% if ( withdraw.currency == 'ETH') { %> <span class="badge badge-custom"><%=  withdraw.currency %> </span> <% } %>
                                                        <% if ( withdraw.currency == 'USD') { %> <span class="badge badge-info"><%=  withdraw.currency %> </span> <% } %>
                                                        <% if ( withdraw.currency == 'EUR') { %> <span class="badge badge-primary"><%=  withdraw.currency %> </span> <% } %>
                                                        </td>
                                                  <td><%= withdraw.tx_id  %></td>
                                                   <td>
                                                    <% if (withdraw.status == 0) { %>   
                                                          <span class="badge badge-info">Pending</span>
                                                   <%  } else if(withdraw.status == 2){ %>
                                                          <span class="badge badge-danger">Cancel</span>
                                                    <%  } else if(withdraw.status == 1){ %>
                                                         <span class="badge badge-success">Success</span>
                                                    <% } else { } %>
                                                   </td>
                                              </tr>
                                          <% }) %>
                                          <% } %>   
                                   
                                       </tbody>
                                  </table>
                    </div>
                </div>
             </div>


                  <div class="col-sm-12">
            <div class="card icon-timer">
                    <div class="card-header">
                        <h4>Today Transaction</h4>
                    </div>
                    <div class="card-body table-responsive">
                    <table  class="table table-striped data-table dataTable no-footer" id="today-token-user1">
                                  <thead class="thead-dark">
                                        <tr>
                                          <th scope="col">Sr.</th>
                                           <th scope="col">Username</th>
                                          <th scope="col">Token</th>
                                          <th scope="col">Amount</th>
                                          <th scope="col">Type</th>
                                          <th scope="col">Txid</th>
                                          <th scope="col">Status</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                    <% var i=1; %>
                                    <% databuy.forEach(function(token) { %>
                                        <tr>        
                                          <td> <%= i++ %> </td>
                                             <td><%= token.users.username  %></td>
                                          <td><%= token.tokens %></td>
                                          <td><%= token.amount %></td>
                                          <td>
                                          <% if (token.type == 'BTC') { %> <span class="badge badge-warning"><%= token.type %> </span> <% } %>
                                          <% if (token.type == 'ETH') { %> <span class="badge badge-custom"><%= token.type %> </span> <% } %>
                                          <% if (token.type == 'USD') { %> <span class="badge badge-info"><%= token.type %> </span> <% } %>
                                          <% if (token.type == 'EUR') { %> <span class="badge badge-primary"><%= token.type %> </span> <% } %>
                                          </td>
                                          <td><%= token.tx_id %></td>  
                                          <td><span class="badge badge-success">Complete</span></td>
                                        </tr>
                                           <% }); %>
                                      </tbody>
                                  </table>
                    </div>
                </div>
             </div>



            </div>
        </div>

<%- contentFor('footer') %>

<script>
      function copyText(){
       var copyText = document.getElementById("post-shortlink");
       copyText.select();
       document.execCommand("Copy");
    }

     $(document).ready(function()
     {
        $('#today-deposit-user1').DataTable();
        $('#today-withdraw-user1').DataTable();
        $('#today-token-user1').DataTable();

     });



</script>



