<%- contentFor('head') %>
<%- contentFor('body') %>
<% include ../partials/header %>
<% include ../partials/sidebar %>
<div class="dashboard-wrapper">
</div>
 <div class="dashboard-body">
   <div class="row">
     <div class="col-sm-12">
        <h4 class="page-title">Users</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href=""><i class="fa fa-home" aria-hidden="true"></i></a>
            </li>
            <li class="breadcrumb-item"><a href="#">Users</a>
            </li>
        </ol>
    </div>
  <!-- user data -->
     <div class="col-md-12">
      <div class="card">
         <div class="card-body table-responsive">
                <% if (error.length > 0) { %>
                <div class="alert alert-danger flash"><%= error %></div>
              <% } %> 
              <% if (success.length > 0) { %>
                <div class="alert alert-success flash"><%= success %></div>
              <% } %>

         <table  class="table table-striped data-table dataTable no-footer" id="user-table">
            <thead class="thead-dark">
            <th>Sr.</th>
            <th>FullName</th> 
            <th>UserName</th>
            <th>Email</th>
            <th>Status</th>
            <th>Actions</th>
          </thead>
      
               <tbody>

           <% var i=1; %>
          <% if (data) { %>
          <% data.forEach(function(userdata){ %>
            <% if(userdata.role == 1) { %>
              <tr>
                   <td><%= i++;  %></td>
                  <td><%= userdata.firstname %> <%= userdata.lastname %></td>
                  <td><%= userdata.username %></td>
                  <td><%= userdata.email %></td>
                   <td>
                        <% if (userdata.is_active == 0) { %>  <span class="badge badge-success">Active</span>
                        <% } else if (userdata.is_active == 1) { %>  <span class="badge badge-danger">Block</span>
                        <% }else { %>  <% } %>
                   </td>

                     <td>
                        <% if (userdata.is_active == 0) { %>  <a href="admin-block/<%= userdata.id  %>"> <button class="btn btn-danger mb-2"><i class="fa fa-times"></i>&nbsp;Block</button></a>
                        <% } else if (userdata.is_active == 1) { %>  <a href="admin-active/<%= userdata.id  %>">  <button class="btn btn-success mb-2"> <i class="fa fa-check"></i>&nbsp;Active</button> </a>
                        <% }else { %>  <% } %>

                         <% if (userdata.is_deleted == 1) { %> <i class="fa fa-times"></i>&nbsp;Deleted User
                        <% }else { %>  <a href="admin-delete/<%= userdata.id  %>"> <button class="btn btn-danger mb-2"><i class="fa fa-trash"></i>&nbsp;Delete</button></a> <% } %>
                   </td>
                
              </tr>
               <% } %>  
          <% }) %>
          <% } %>   

               </tbody>

          </table>
         </div>
      </div>
      <!-- user data end -->
   </div>



   
   </div>
   </div> 



<%- contentFor('footer') %>

<script>

$(document).ready(function() {
$('#user-table').DataTable();
});

</script>