<%- contentFor('head') %>
<%- contentFor('body') %>
<% include ../../partials/header %>
 
  <link rel="stylesheet" href="<%= global.url %>/public/assets/kyc/css/viewer.css">
  <link rel="stylesheet" href="<%= global.url %>/public/assets/kyc/css/main.css">

<% include ../../partials/sidebar %>

        <div class="dashboard-body">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">KYC</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href=""><i class="fa fa-home" aria-hidden="true"></i></a>
                        </li>
                        <li class="breadcrumb-item"><a href="#">KYC</a>
                        </li>
                    </ol>
                </div>

    <div class="col-md-12">
      <div class="card"> 
         <div class="card-body table-responsive">
                
          <table class="table table-striped data-table dataTable no-footer" id="kyc-table">
          <thead class="thead-dark">
            <th>Sr.</th> 
            <th>Email</th>
            <th>KYC Images</th>
            <th>Actions</th>
          </thead>
               <tbody>
                    <% var i=1; %>
                      <% if (data) { %>
                      <% data.forEach(function(userdata){ %>
                          <tr>
                               <td><%= i++;  %></td>
                               <td><%= userdata.email %></td>
                               <td>
                                <div class="docs-galley">
                                <ul class="docs-pictures clearfix">
                                  <li> <img class="kyc-img" data-original="./public/assets/images/kyc/<%= userdata.kyc_front %>" src="./public/assets/images/kyc/<%= userdata.kyc_front %>" /> </li>
                                  <li> <img class="kyc-img"  data-original="./public/assets/images/kyc/<%= userdata.kyc_backend %>" src="./public/assets/images/kyc/<%= userdata.kyc_backend %>" /> </li>
                                  <li> <img class="kyc-img" data-original="./public/assets/images/kyc/<%= userdata.kyc_selfie %>" src="./public/assets/images/kyc/<%= userdata.kyc_selfie %>" /> </li>
                                 </ul>
                                    </div>
                               </td>

                                <td>
                                    <% if (userdata.kyc_status == 1) { %>  <button class="btn btn-primary">Approved</button>
                                    <% } else if (userdata.kyc_status == 2) { %>  <button class="btn btn-danger">Rejected</button>
                                    <% } else if (userdata.kyc_status == 0) { %>  <a href="kyc-approve/<%= userdata.id  %>"> <button  class="btn btn-success"> Approve </button></a> <a href="kyc-reject/<%= userdata.id  %>"> <button  class="btn btn-danger"> Reject </button></a>
                                    <% }else { %>  <% } %>
                               </td>
                          </tr>
                      <% }) %>
                      <% } %>   
               </tbody>
          </table>
         </div>
      </div>
   </div>
  </div>
</div>

  <script src="<%= global.url %>/public/assets/kyc/js/bootstrap.bundle.min.js"></script>
  <script src="<%= global.url %>/public/assets/kyc/js/common.js"></script>
  <script src="<%= global.url %>/public/assets/kyc/js/viewer.js"></script>
  <script src="<%= global.url %>/public/assets/kyc/js/jquery-viewer.js"></script>
  <script src="<%= global.url %>/public/assets/kyc/js/main.js"></script>

  <script>
$(document).ready(function() {
$('#kyc-table').DataTable();
});

</script>


 <%- contentFor('footer') %>


