<footer class="section footer" data-anchor="contact" id="contactus">
   <div class="container footer-wrapper text-center">
      <div class="row">
         <div class="col-sm-12">
            <h2 class="title">
               <%= translation.contact_social %>
            </h2>
            <div>
               <ul class="social-links-list mt-5 text-center">
                  
                  <li>
                     <a href="https://t.me/looixcommunity" target="_blank" class="abs-link">
                        <div class="icon-holder">
                           <img src="./public/assets/images/social/3.png" alt="" class="img-responsive">
                        </div>
                        <span>Telegram</span>
                     </a>
                  </li><li>
                     <a href="https://t.me/looixofficial" target="_blank" class="abs-link">
                        <div class="icon-holder">
                           <img src="./public/assets/images/social/3.png" alt="" class="img-responsive">
                        </div>
                        <span>Telegram</span>
                     </a>
                  </li>
                  <li>
                     <a target="_blank" href="https://www.instagram.com/looixofficial/" class="abs-link">
                        <div class="icon-holder">
                           <img src="./public/assets/images/social/4.png" alt="" class="img-responsive">
                        </div>
                        <span>Instagram</span>
                     </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/LOOiXofficial" target="_blank" class="abs-link">
                        <div class="icon-holder">
                           <img src="./public/assets/images/social/5.png" alt="" class="img-responsive">
                        </div>
                        <span>Twitter</span>
                     </a>
                  </li>
                  <li>
                    <a href="https://www.facebook.com/looixofficial/" target="_blank"  class="abs-link">
                        <div class="icon-holder">
                           <img src="./public/assets/images/social/8.png" alt="" class="img-responsive">
                        </div>
                        <span>Facebook</span>
                     </a>
                  </li>
                  <li>
                     <a target="_blank" href="https://www.youtube.com/watch?v=24mBd28Yufo&feature=youtu.be" class="abs-link">
                        <div class="icon-holder">
                           <img src="./public/assets/images/social/1.png" alt="" class="img-responsive">
                        </div>
                        <span>Youtube</span>
                     </a>
                  </li>
                 <!-- <li>
                     <a target="_blank" href="https://bitcointalk.org/" class="abs-link">
                        <div class="icon-holder">
                           <img src="assets/images/social/6.png" alt="" class="img-responsive">
                        </div>
                        <span>Bitcointalk</span>
                     </a>
                  </li>
                  <li>
                     <a target="_blank" href="https://www.reddit.com/" class="abs-link">
                        <div class="icon-holder">
                          <img src="assets/images/social/2.png " alt="" class="img-responsive">
                        </div>
                        <span>reddit</span>
                     </a>
                  </li>-->
               </ul>

               <ul class="footer-menu text-center mt-5">
                 <li><a href="http://looix.io">Home</a></li>                  
                  <li><a href="/privacy-policy" target="blank" ><%= translation.policy %></a></li>
                  <li><a href="/terms-condition"><%= translation.terms %></a></li>     
               </ul>
                <p class="footer-mail text-center"><a class="text-white" href="mailto:support@looix.io">Contact us : support@looix.io</a> </p>
                <p class="footer-mail text-center text-white">© Copyright 2018 | LOOiX |  All Rights Reserved </p>
            </div>
         </div>
      </div>
   </div>
   <!-- <div class="copyright">
      <h4 class="text-center">© Copyright 2018</h4>
   </div> -->
</footer>
<!-- Footer ends -->