<!-- dashboard start -->
<div class="dashboard-header">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <a class="navbar-brand-2" href="/"><img src="../public/assets/images/logo.png" /></a>
            <div class="dashboard-sidebar">
                <a href="#" class="toggle-nav">|||</a>
            </div>
        </div>
        <div class="col-md-8 text-right">
            <ul class="rating-info">
                <li><img src="../public/assets/images/bitcoin.png" alt="BTC">1 BTC = € <%= global.btc_price %></li>
                <li><img src="../public/assets/images/icon-eth.png" alt="ETH">1 ETH = € <%= global.eth_price %></li>
                <li><img src="../public/assets/images/logo-2.png" />1 LOOiX = € <%= global.rate %></li>
                <!-- <li><a href="/logout" clas><i class="fa fa-sign-out dashboard-logout"></i></a></li> -->
            </ul>
            <a href="/logout" class="btn btn-outline-light btn-sm ml-2">
                    <span class="glyphicon glyphicon-log-out"></span> <i class="fa fa-sign-out dashboard-logout"></i>Log out
            </a>
        </div>
    </div>
</div>
</div>

