<!--Google font-->
<link href="https://fonts.googleapis.com/css?family=Zilla+Slab:300,400,500,600,700" rel="stylesheet">
<!-- Font awesome -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<!-- OWL.css-->
<link rel="stylesheet" type="text/css" href="<%= global.url %>/public/assets/css/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="<%= global.url %>/public/assets/css/owl.theme.default.css">
<!-- Parallax.css-->
<link rel="stylesheet" type="text/css" href="<%= global.url %>/public/assets/css/jarallax.css">

<!-- Bootstrap css -->
<link rel="stylesheet" type="text/css" href="<%= global.url %>/public/assets/css/bootstrap.css">
 <link rel="stylesheet" type="text/css" href="<%= global.url %>/public/assets/css/dataTables.bootstrap4.min.css">
<!-- LOOiX coin css -->
<link rel="stylesheet" type="text/css" href="<%= global.url %>/public/assets/css/style.css">

<!-- responsive coin css -->
<link rel="stylesheet" type="text/css" href="<%= global.url %>/public/assets/css/admin-responsive.css">
<!-- responsive coin css -->
<link rel="stylesheet" type="text/css" href="<%= global.url %>/public/assets/css/responsive.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.4/jquery.fullPage.min.css" rel="stylesheet" type="text/css">

 <link rel="stylesheet" href="<%= global.url %>/public/assets/dt_pkr/datepicker.css">

<% /* Place any styles in the page in this section. */ %>
<%- style %>

