 <!-- latest jquery-->
    <!-- // <script src="../public/assets/js/jquery-3.2.1.min.js" ></script> -->

    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>



<% if ( title == "LOOiX | Home"){ %>
<!-- Token chart  -->
<!-- <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script> -->

<script src="<%= global.url %>/public/assets/js/chart/highcharts.js"></script>
<script  src="<%= global.url %>/public/assets/js/chart/index-new.js"></script>

  <!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.4/jquery.fullPage.min.js"></script>
    <script src="<%= global.url %>/public/assets/js/fullpage/index.js"></script>
    <% } %>




 <script src="<%= global.url %>/public/assets/dt_pkr/datepicker.min.js"></script> 
 
    <!--Jarallax JS-->
    <script src="<%= global.url %>/public/assets/js/jarallax.min.js"></script>
    <!--OWL Carousel JS -->
    <script src="<%= global.url %>/public/assets/js/owl.carousel.js"></script>

    <!--Scroll Reveal JS-->
     <script src="<%= global.url %>/public/assets/js/scrollreveal.min.js"></script>
    <script src="<%= global.url %>/public/assets/js/modernizr-custom.js"></script> 

  <script src="<%= global.url %>/public/assets/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <!-- popper js-->
    <script src="<%= global.url %>/public/assets/js/popper.min.js" ></script>
    <!-- Bootstrap js-->
    <script src="<%= global.url %>/public/assets/js/bootstrap.js" ></script>
    <!-- Counter js-->
    <script src="<%= global.url %>/public/assets/js/jquery.waypoints.min.js" ></script>
    <script src="<%= global.url %>/public/assets/js/jquery.counterup.js" ></script>
    <!-- Theme js-->
    <script src="<%= global.url %>/public/assets/js/script.js" ></script>
     <script src="<%= global.url %>/public/assets/js/moment-with-locales.min.js" ></script>

     


      
    <%- script %>


<script >


    
    $(document).ready(function() {

        // Copy Link js starts
        (function() {
            // click events
            document.body.addEventListener('click', copy, true);
            // event handler
            function copy(e) {
                // find target element
                var
                    t = e.target,
                    c = t.dataset.copytarget,
                    inp = (c ? document.querySelector(c) : null);
                // is element selectable?
                if (inp) {
                    // select text
                    inp.select();
                    try {
                        // copy text
                        document.execCommand('copy');
                        inp.blur();

                        // copied animation
                        t.classList.add('copied');
                        setTimeout(function() { t.classList.remove('copied'); }, 1500);
                    } catch (err) {
                        alert('please press Ctrl/Cmd+C to copy');
                    }
                }
            }
        })();
        // Copy Link js ends


        //menu left toggle

        $('.toggle-nav').click(function() {
            // alert('done');
            $this = $(this);
            $nav = $('.nice-nav');
            //$nav.fadeToggle("fast", function() {
            //  $nav.slideLeft('250');
            //  });

            $nav.toggleClass('open');

        });

         $(document).ready(function(){

            var widthw = $( window ).width();

            if(widthw < 768){
                $('.nice-nav').addClass("open");  
            }

         });

        $('.body-part').click(function() {
            $nav.addClass('open');
        });
        //  $nav.addClass('open');

        //drop down menu
        $submenu = $('.child-menu-ul');
        $('.child-menu .toggle-right').on('click', function(e) {

            $(".toggle-right").removeClass("rotate");


            e.preventDefault();
            $this = $(this);
            $parent = $this.parent().next();
            // $parent.addClass('active');
            $tar = $('.child-menu-ul');
            if (!$parent.hasClass('active')) {
                $tar.removeClass('active').slideUp('fast');
                $parent.addClass('active').slideDown('fast');
                $(this).addClass("rotate");


            } else {
                $parent.removeClass('active').slideUp('fast');
                $(".toggle-right").removeClass("rotate");
            }

        });

    });

    // $(document).ready(function() {
    //     $('.counter').counterUp({
    //         delay: 15,
    //         time: 1000
    //     });
    // });


$(window).scroll(function(){
    if($(window).scrollTop() > 100 )
    {
        $(".header-bottom").addClass("bg-white");
    }
    else{
        $(".header-bottom").removeClass("bg-white");
    }
});
</script>
<script >
    $('#homenavbar li').click(function() {
    $('#homenavbar li').removeClass("active");
    $(this).addClass("active");

});
</script>

