<div class="nice-nav"> 
    <div class="user-info">
        <div class="media">
  <% if (user.profile_pic != '') { %>
                        <img   class="mr-3 align-self-center" src="../public/assets/images/user/<%= user.profile_pic %>" />
                     <% } else { %>
                        <img   class="mr-3 align-self-center" src="../public/assets/images/user/avatar.png" />
                      <% } %>

          
            <div class="media-body" style="padding-top:  9px;">
                <h5><%= user.firstname %> <%= user.lastname %></h5>
             

            </div>
        </div>
    </div>
    <ul>
    <% if(user.role==1){ %>
    
        <li>
            <a href="/dashboard">Dashboard</a>
        </li>
        <li>
            <a href="/profile" >Profile</a>
        </li>
        <li>
           <a href="/buy-token">Buy Token</a>
        </li> 
        <li> 
           <a href="/wallet">Wallet</a>
        </li>  
        <li> 
           <a href="/referral">Referral</a>
        </li>  


    <% } else if(user.role==0){ %>
    
        <li>
            <a href="/admin-dashboard">Dashboard</a>
        </li>
        <li>
            <a href="/admin-profile" >Profile</a>
        </li>


       <li class="child-menu"><a href="#"><span>Manage Users</span> <span class="fa fa-angle-right toggle-right"></span></a>
            <ul class="child-menu-ul">
                <li>
                    <a href="/admin-users">Users</a>
                </li>
                       <li>
            <a href="/admin-kyc" >Users KYC</a>
        </li>
                
            </ul>
        </li>



     

       <li class="child-menu"><a href="#"><span>Deposit History</span> <span class="fa fa-angle-right toggle-right"></span></a>
            <ul class="child-menu-ul">
                <li>
                    <a href="/get-deposit-coin">Crypto Currency</a>
                </li> 
                <li>
                    <a href="/get-deposit-fiat">Fiat Currency</a>
                </li>
            </ul>
        </li>

       <li class="child-menu"><a href="#"><span>Withdral History</span> <span class="fa fa-angle-right toggle-right"></span></a>
            <ul class="child-menu-ul">
                <li>
                    <a href="/get-withdraw-looix">LOOiX</a>
                </li>
                <li>
                    <a href="/get-withdraw-coin">Crypto Currency</a>
                </li> 
                <li>
                    <a href="/get-withdraw-fiat">Fiat Currency</a>
                </li>
            </ul>
        </li>
        
           <li>
            <a href="/admin-buy">Token History</a>
        </li>


        <li>
            <a href="/admin-setting">ICO Setting</a>
        </li>

        <li>
            <a href="/admin-rate">Referal Rate</a>
        </li>

   
    <% } %>
     </ul>
</div>

