<%- contentFor('head') %>
<%- contentFor('body') %>
<% include ../partials/header %>
<% include ../partials/sidebar %>
<style type="text/css">
    h2, h3, h4, h5 {
    color: #ffff;
}
.ico-font {
    color: #fff;
}
</style>
        <div class="dashboard-body">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">Dashboard</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href=""><i class="fa fa-home" aria-hidden="true"></i></a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">Dashboard</a>
                        </li>
                    </ol>
                </div>
 
                <div class="col-lg-6">
                    <form class="form-copy theme-form">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" value="<%= url %>/refer/<%= user.ref_token %>" aria-label="Search for..." id="post-shortlink" readonly>
                                <span class="input-group-btn">
                                  <button class="btn btn-copy" type="button" onclick="copyText()"  data-copytarget="#lets_copy" >copy</button>
                                </span>
                            </div>
                        </div>
                        <p class="bouns-note">Get bonus by referring new members learn <a href="#">more</a></p>
                    </form>
                </div>
                <div class="col-lg-12">
                    <div class="card coin-value">
                        <div class="card-body">
                            <div class="row">


                                <div class="col-md-6 col-lg-3 mt-2">
                                    <div class="media dark">
                                        <img class="xl-mr-3" src="./public/assets/images/bitcoin.png" alt="bitcoin">
                                        <div class="media-body">
                                            <h5 class="mt-2">BTC</h5>
                                            <h4 class="blue-font mt-0">
                                              <span class="counter">
                                              <%
                                              var bal = user.btc_bal - user.btc_bonus_bal;
                                              %>
                                              <%=  bal.toFixed(8)  %>
                                                
                                              </span>
                                            </h4>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-3 mt-2">
                                    <div class="media dark">
                                        <img class="mr-3" src="./public/assets/images/icon-eth.png" alt="ETH">
                                        <div class="media-body">
                                            <h5 class="mt-2"> ETH </h5>
                                            <h4 class="blue-font mt-0">
                                              <span class="counter">
                                                <%
                                              var bal = user.eth_bal - user.eth_bonus_bal;
                                              %>
                                              <%=  bal.toFixed(8)  %>
                                              </span>
                                            </h4>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-3 mt-2">
                                    <div class="media dark">
                                        <img class="mr-3" src="./public/assets/images/$.png" alt="dollar">
                                        <div class="media-body">
                                            <h5 class="mt-2"> USD</h5>
                                            <h4 class="blue-font mt-0">
                                             <span class="counter"><%
                                              var bal = user.usd_bal - user.usd_bonus_bal;
                                              %>
                                              <%=  bal.toFixed(2)  %></span>
                                           </h4>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-3 mt-2">
                                    <div class="media dark">
                                        <img class="mr-3" src="./public/assets/images/euro.png" alt="dollar">
                                        <div class="media-body">
                                            <h5 class="mt-2"> EUR </h5>
                                            <h4 class="blue-font mt-0">
                                             <span class="counter">
                                              <%
                                              var bal = user.euro_bal - user.eur_bonus_bal;
                                              %>
                                              <%=  bal.toFixed(2)  %>
                                                
                                              </span>
                                           </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-lg-4">
                    <div class="card icon-timer">
                        <div class="card-header">
                            <h4 class="text-center">LOOiX Token</h4>
                        </div>
                        <div class="card-body">
                            <h2 class="counter text-center ico-font"><%= user.total_token %></h2>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="card icon-timer">
                        <div class="card-header">
                            <h4 class="text-center">Total Token</h4>
                        </div>
                        <div class="card-body">
                            <h2 class="counter text-center ico-font"><%= setting.total_coins %></h2>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="card icon-timer">
                        <div class="card-header">
                            <h4 class="text-center">Sold Token</h4>
                        </div>
                        <div class="card-body">
                            <h2 class="counter text-center ico-font"><%= setting.total_sold_coins %></h2>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-lg-3">
                    <div class="card icon-timer">
                        <div class="card-header">
                            <h4 class="text-center">BTC Bonus</h4>
                        </div>
                        <div class="card-body">
                            <h2 class="counter text-center ico-font"><%= user.btc_bonus_bal.toFixed(8) %></h2>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="card icon-timer">
                        <div class="card-header">
                            <h4 class="text-center">ETH Bonus</h4>
                        </div>
                        <div class="card-body">
                            <h2 class="counter text-center ico-font"><%= user.eth_bonus_bal.toFixed(8)  %></h2>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="card icon-timer">
                        <div class="card-header">
                            <h4 class="text-center">USD Bonus</h4>
                        </div>
                        <div class="card-body">
                            <h2 class="counter text-center ico-font"><%= user.usd_bonus_bal.toFixed(2) %></h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card icon-timer">
                        <div class="card-header">
                            <h4 class="text-center">EUR Bonus</h4>
                        </div>
                        <div class="card-body">
                            <h2 class="counter text-center ico-font"><%= user.eur_bonus_bal.toFixed(2) %></h2>
                        </div>
                    </div>
                </div>


                  <div class="col-md-12 col-lg-12">
                    <div class="card icon-timer">
                        <div class="card-header">
                            <h4>Today Deposit</h4>
                        </div>
                        <div class="card-body table-responsive">
                               <table  class="table table-striped data-table dataTable no-footer" id="today-deposit-user">
                                  <thead class="thead-dark">
                                       <th scope="col">Sr.</th>
                    
                                       <th scope="col">Amount (Coin)</th>
                                       <th scope="col">Type</th>
                                       <th scope="col">Txid/Payment ID</th>
                                       <th scope="col">Status</th>
                                  </thead>
                                
                                <tbody>
                                <% var i=1; %>
                                  <% if (depdata) { %>
                                  <% depdata.forEach(function(deposit){ %>
                                      <tr>
                                           <td><%= i++;  %></td>
                                          
                                           <td><%= deposit.amount  %> <%= deposit.currency  %></td>
                                           <td><%= deposit.currency  %></td>
                                           <td>
                                             <% if(deposit.currency == 'USD' || deposit.currency == 'EUR'){ %>
                                                 <%= deposit.payment_id %>
                                             <% } else{ %>
                                              <%= deposit.tx_id %>
                                              <% }  %>
                                           </td>

                                            <td>
                                            <% if (deposit.status == 0) { %>   
                                                  <span class="badge badge-info">Pending</span>
                                           <%  } else if(deposit.status == 2){ %>
                                                  <span class="badge badge-danger">Cancel</span>
                                            <%  } else if(deposit.status == 1){ %>
                                                 <span class="badge badge-success">Success</span>
                                            <% } else { } %>

                                           </td>
                                      </tr>

                                  <% }) %>
                                  <% } %>   
                                    </tbody>
                                  </table>
                        </div>
                    </div>
                </div>


                    <div class="col-md-12 col-lg-12">
                    <div class="card icon-timer">
                        <div class="card-header">
                            <h4>Today Withdrawal</h4>
                        </div>
                        <div class="card-body table-responsive">
                               <table  class="table table-striped data-table dataTable no-footer" id="today-withdraw-user">
                                  <thead class="thead-dark">
                                      <th scope="col">Sr.</th>
                                       <th scope="col">Amount (Coin)</th>
                                       <th scope="col">Type</th>
                                       <th scope="col">Txid</th>
                                       <th scope="col">Status</th>
                                  </thead>
                                    <tbody>
                                     <% var i=1; %>
                                          <% if (withdata) { %>
                                          <% withdata.forEach(function(withdraw){ %>

                                              <tr>
                                                   <td><%= i++;  %></td>
                                                   <td><%= withdraw.amount  %> <%= withdraw.currency  %></td>
                                                   <td><%= withdraw.currency  %></td>
                                                   <td><%= withdraw.tx_id  %></td>
                                                   <td>
                                                    <% if (withdraw.status == 0) { %>   
                                                          <span class="badge badge-info">Pending</span>
                                                   <%  } else if(withdraw.status == 2){ %>
                                                          <span class="badge badge-danger">Cancel</span>
                                                    <%  } else if(withdraw.status == 1){ %>
                                                         <span class="badge badge-success">Success</span>
                                                    <% } else { } %>
                                                   </td>
                                              </tr>
                                          <% }) %>
                                          <% } %>   
                                   
                                       </tbody>
                                  </table>
                        </div>
                    </div>
                </div>



                  <div class="col-md-12 col-lg-12">
                    <div class="card icon-timer">
                        <div class="card-header">
                            <h4>Today's History</h4>
                        </div>
                        <div class="card-body table-responsive">
                               <table  class="table table-striped data-table dataTable no-footer" id="today-history-user">
                                 <thead class="thead-dark">
                                       <th scope="col">Sr.</th>
                                       <th scope="col">IP Address</th>
                                       <th scope="col">Date & Time</th>
                                  </thead>
                                    <tbody>

                                <% var i=1; %>
                                  <% if (logindata) { %>
                                  <% logindata.forEach(function(login){ %>
                                      <tr>
                                           <td><%= i++;  %></td>
                                           <td><%= login.ip_address %></td>
                                           <td><%= login.created_date %></td>
                                      </tr>

                                  <% }) %>
                                  <% } %>   
                                    </tbody>
                                  </table>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>



<%- contentFor('footer') %>
<script>
    function copyText(){
      var copyText = document.getElementById("post-shortlink");
       copyText.select();
       document.execCommand("Copy");
    }

     $(document).ready(function()
     {
        $('#today-deposit-user').DataTable();
        $('#today-withdraw-user').DataTable();
        $('#today-history-user').DataTable();
     });

    


</script>