<%- contentFor('head') %>
<%- contentFor('body') %>
<% include ../../partials/header %>
<% include ../../partials/sidebar %>

        <div class="dashboard-body">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">Buy History</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href=""><i class="fa fa-home" aria-hidden="true"></i></a>
                        </li>
                        <li class="breadcrumb-item"><a href="#">Buy History</a>
                        </li>
                    </ol>
                </div>
<!-- Buy History-->
    <div class="col-md-12">
      <div class="card"> 
         <div class="card-body table-responsive">
                        
               <table  class="table table-striped data-table dataTable no-footer" id="buy-table" >
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Sr.</th>

                  <th scope="col">Username</th> 
                  <th scope="col">Email</th>

                  <th scope="col">Token</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Type</th>
                  <th scope="col">Txid</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
             <% var i=1; %>

             <% if (data) { %>
                  <% data.forEach(function(tokens){ %>
                      <tr>

                           <td><%= i++;  %> </td>
                           <td><%= tokens.users.username  %></td>
                           <td><%= tokens.users.email  %></td>

                           <td><%= tokens.tokens  %></td>
                           <td><%= tokens.amount  %></td>
                           <td>  <span class="badge badge-success"><%= tokens.type  %></span></td>
                           <td><%= tokens.tx_id  %></td>
                           <td><span class="badge badge-success">Confirm</span></td>
                      </tr>
                  <% }) %>
                  <% } %>   
                  
              </tbody>
            </table>
         </div>
      </div>
   </div>
   <!-- Buy History end -->
   </div>
  </div>

 <%- contentFor('footer') %>


<script>

$(document).ready(function() {
$('#buy-table').DataTable();
});

</script>