<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sports and bets, our drive and passion LOOiX is the world of sport betting, which has existed for centuries, and with this project we are opening new, interesting possibilities to bring this world to an even wider audience.">
    <meta name="keywords" content="LOOiX coin">
    <meta name="author" content="LOOiX coin">
    <title>
    <%= title %>
    </title>
    <link rel="icon" href="./public/assets/images/favicon.png" type="image/x-icon"/>
    <% include partials/head %>
    <%- head %>
</head>
<body>

    <% if ( title == "LOOiX | Home" || title == "LOOiX | Login" || title == "LOOiX | Reset Password" || title == "LOOiX | Register" || title == "LOOiX | forgot Password" || title == "LOOiX | Terms" || title == "LOOiX | Policy" || title == "LOOiX | Validate") { %>
            <%- body %> 
    <% }else{ %>
        <div class="dashboard-wrapper"> 
            <%- body %> 
        </div>
  <%  } %>
   
    

    <% include partials/scripts %>
    <%- footer %>
</body>
</html>