<%- contentFor('head') %>
<%- contentFor('body') %>
<% include ../../partials/header %>
<% include ../../partials/sidebar %>
<div class="dashboard-wrapper">
   <% include ../../partials/sidebar %>
</div>
 <div class="dashboard-body">
   <div class="row">
     <div class="col-sm-12">
           <h4 class="page-title">Manage Partners</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href=""><i class="fa fa-home" aria-hidden="true"></i></a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">Partners</a>
                        </li>
                    </ol>
    </div>
     <div class="col-md-12">
      <div class="card">

         <a href="/partner-add"> <button style="float:right;" class="btn btn-theme mt-4">Add Partner</button></a>

         <div class="card-body">
                <% if (error.length > 0) { %>
                <div class="alert alert-danger flash"><%= error %></div>
              <% } %> 
              <% if (success.length > 0) { %>
                <div class="alert alert-success flash"><%= success %></div>
              <% } %>

                <table class="table" id="partner-table">
                 <thead class="thead-dark">
                  <th>Sr.</th>
                  <th>Partner Image</th>
                  <th>Action</th>
                 </thead>

                  <% var i=1; %>
                      <% if (data) { %>
                      <% data.forEach(function(part){ %>
                          <tr>
                               <td> <%= i++  %></td>
                               <td><img src="./public/assets/images/partner/<%= part.partner_image %>" /> </td>
                               <td><a href="/partner-delete/<%= part._id  %>"><button class="btn btn-danger">Delete</button></a> </td>
                       
                          </tr>
                      <% }) %>
                      <% } %>   
                     
                 </table>

               </div>
      </div>
   </div>

   </div>
   </div> 



<%- contentFor('footer') %>

<script>
     $(document).ready(function()
     {
        $('#partner-table').DataTable();
     });
</script>
