<%- contentFor('head') %>
<%- contentFor('body') %>
<% include ../../partials/header %>
<% include ../../partials/sidebar %>
<div class="dashboard-wrapper">
   <% include ../../partials/sidebar %>
</div>
 <div class="dashboard-body">
   <div class="row">
     <div class="col-sm-12">
           <h4 class="page-title">ADD Partners</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href=""><i class="fa fa-home" aria-hidden="true"></i></a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">ADD Partners</a>
                        </li>
                    </ol>
    </div>
     <div class="col-md-12">
      <div class="card">

         <div class="card-body">
                <% if (error.length > 0) { %>
                <div class="alert alert-danger flash"><%= error %></div>
              <% } %> 
              <% if (success.length > 0) { %>
                <div class="alert alert-success flash"><%= success %></div>
              <% } %>

                 <form enctype="multipart/form-data" class="form-horizontal"  action="/partner-save"  method="post">

                        <div class="form-group col-md-12">
                           <label for="email">Partner Image </label>
                           <input type="file" class="form-control" name="photo">
                        </div>

                        <div class="form-group col-md-12">
                         <button type="submit" class="btn btn-theme mt-4">ADD</button>
                        </div>


                    </form>
        

               </div>
      </div>
   </div>

   </div>
   </div> 



<%- contentFor('footer') %>


