<%- contentFor('head') %>
<%- contentFor('body') %>
<% include ../partials/header %>
<% include ../partials/sidebar %>

 <div class="dashboard-body">
   <div class="row">
     <div class="col-sm-12">
        <h4 class="page-title">Profile</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href=""><i class="fa fa-home" aria-hidden="true"></i></a>
            </li>
            <li class="breadcrumb-item"><a href="#">Profile</a>
            </li>
        </ol>
    </div>
    <!-- user profile -->
      <div class="col-lg-12 col-xl-4 ">
        <!-- user profile -->
      <div class="card">
         <div class="card-body">
            <form  enctype="multipart/form-data" action="/edit-profile" method="post">
               <div class="profile text-center">
                  <div class="p-relative">
                      <% if (user.profile_pic != '') { %>
                        <img src="./public/assets/images/user/<%= user.profile_pic %>" />
                     <% } else { %>
                        <img src="./public/assets/images/user/avatar.png" />
                      <% } %>

                     <div class="image-upload">
                        <label for="file-input">
                           <div class="profile-edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
                        </label>
                        <input id="file-input" type="file" name="photo" accept="image/x-png,image/gif,image/jpeg" required />
                     </div>
                  </div>
                  <div>
                     <button type="submit" class="btn btn-theme mt-4">Update Profile</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
      <!-- user profile end-->
   </div>
     <!-- user profile setting -->
   <div class="col-lg-12 col-xl-8">
      <div class="card">
         <div class="card-body">
            <ul class="nav nav-pills nav-fill theme-tab">
               <li class="nav-item">
                  <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Profile setting</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" id="two-fact-tab" data-toggle="tab" href="#two-fact" role="tab" aria-controls="two-fact" aria-selected="false">Two factor Auth</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link  " id="chg-pwd-tab" data-toggle="tab" href="#chg-pwd" role="tab" aria-controls="chg-pwd" aria-selected="false">Change password</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link " id="chg-pwd-tab" data-toggle="tab" href="#kyc" role="tab" aria-controls="chg-pwd" aria-selected="false">Upload KYC</a>
               </li>
            </ul>
            <div class="tab-content" id="myTabContent">
               <div class="tab-pane fade   show active " id="profile" role="tabpanel" aria-labelledby="profile-tab">
                
                  <% if (error.length > 0) { %>
                       <br><br>
                  <div class="alert alert-danger flash"><%= error %></div>
                  <% } %> 
                  <% if (success.length > 0) { %>
                       <br><br>
                  <div class="alert alert-success flash"><%= success %></div>
                  <% } %>
                  <div class="col-md-12">
                     <form class="form-horizontal theme-form mt-5 row"  action="/update-profile" method="post">
                        <input type="hidden" name="user_id" value="<%= user._id %>">
                        <div class="form-group col-md-12 col-lg-6">
                           <label for="first_name">First Name</label>
                           <input type="text" class="form-control" name="firstname" value="<%= user.firstname %>" id="firstname" autocomplete="off">
                        </div>
                        <div class="form-group col-md-12 col-lg-6">
                           <label for="last_name">Last Name</label>
                           <input type="text" class="form-control" name="lastname" value="<%= user.lastname %>" id="lastname" autocomplete="off" >
                        </div>
                        <div class="form-group col-md-12 col-lg-6">
                           <label for="username">Username</label>
                           <input type="text" class="form-control" name="username" disabled value="<%= user.username %>" id="username" autocomplete="off">
                        </div>
                        <div class="form-group col-md-12 col-lg-6">
                           <label for="email">Email address</label>
                           <input type="email" class="form-control" disabled name="email" disabled  value="<%= user.email %>" id="email" autocomplete="off">
                        </div>
                        <div class="form-group col-md-12 col-lg-6">
                           <label for="paypal_email">Paypal Email Address</label>
                           <input type="text" class="form-control"  name="paypal_email"   value="<%= user.paypal_email %>" id="paypal_email" autocomplete="off">
                        </div>
                        <div class="form-group col-md-12 col-lg-6">
                           <label for="erc_20_address">ERC_20 Address</label>
                           <input type="text" class="form-control"  name="erc_20_address"   value="<%= user.erc20_address %>" id="erc_20_address" autocomplete="off">
                        </div>
                        <div class="form-group col-md-12 text-center">
                           <button type="submit" class="btn  btn-theme mt-4">Update</button>
                        </div>
                     </form>
                  </div>
               </div>
               <div class="tab-pane fade mt-5" id="two-fact" role="tabpanel" aria-labelledby="two-fact-tab">
                  <div class="row two-fact">
                     <div class="col-md-12 text-center">
                        <h3>Enlable Google Authenticator</h3>
                        <% if (user.isset_2fa == 1) { %>  
                        <button id="otpDisableToggleButton"  class="btn btn-warning mb-4" style="width: 200px;">Disable 2FA</button>
                        <% } else { %> 
                        <button id="otpToggleButton" class="btn btn-theme mb-4" style="width: 200px;">Enable 2FA</button>
                        <% } %> 
                     </div>
                     <div class="col-md-6 offset-md-3">
                        <ul class="install-step">
                           <li>1.Install Google Authenticator on your phone.</li>
                           <li>2.Open the Google Authenticator app.</li>
                           <li>3.Tab menu, then tab "Set up Account", then "Scan a barcode" or "Enter key provided" is <strong class="colors">3KQD7ED2B5A3CX3M</strong></li>
                           <li>4.Your phone will now be in "scanning" mode. When you are in this mode, scan the barcode below:</li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="tab-pane fade " id="chg-pwd" role="tabpanel" aria-labelledby="chg-pwd-tab">
                  <div class="col-md-12">
                     <form class="form-vertical theme-form mt-5 row col-md-12" action="/changepass" method="post">
                        <input type="hidden" name="user_id" value="">
                        <div class="form-group col-md-12 col-lg-6">
                           <label>Old password</label>
                           <input type="password" name="old_password" class="form-control" autocomplete="off">
                        </div>
                        <div class="form-group col-md-12 col-lg-6">
                           <label>New password</label>
                           <input type="password" name="new_password" class="form-control" autocomplete="off">
                        </div>
                        <div class="form-group col-md-12 col-lg-12">
                           <label>Retype password</label>
                           <input type="password" name="confirm_password" class="form-control" autocomplete="off">
                        </div>
                        <div class="form-group col-md-12 text-center">
                           <button type="submit" class="btn btn-theme mt-4">Change</button>
                        </div>
                     </form>
                  </div>
               </div>
               <div class="tab-pane fade mt-5" id="kyc" role="tabpanel" aria-labelledby="two-fact-tab">
                  <div class="row two-fact">
                     <div class="col-md-12">
                        <form class="form-horizontal theme-form  row"  action="/upload-kyc" method="post" enctype= "multipart/form-data">
                           <input type="hidden" name="user_id" value="">
                           <div class="container">
                              <% if (user.kyc_status == 0) { %>
                              <div class="col-md-12">
                                 <div class="form-group">
                                    <h3><span class="badge badge-warning">Kyc Status is pending !</span></h3>
                                 </div>
                              </div>
                              <% } else if(user.kyc_status == 1){ %>
                              <div class="col-md-12">
                                 <div class="form-group">
                                    <h3><span class="badge badge-warning">Kyc Status is Approved. </span></h3>
                                 </div>
                              </div>
                              <% } 
                                 else if(user.kyc_status == 2){ %>
                              <div class="col-md-12">
                                 <div class="form-group">
                                    <h3><span class="badge badge-warning">Kyc Status is Rejected. </span></h3>
                                 </div>
                              </div>
                              <% } %>
                              <div class="col-md-12">
                                 <div class="form-group">
                                    <label>National ID front picture</label>
                                    <% if (user.kyc_front == '') { %>
                                    <div class="input-group">
                                       <span class="input-group-btn">
                                       <span class="btn btn-default btn-file">
                                       Browse… <input type="file" id="first_id_proof" name="first_id_proof" required>
                                       </span>
                                       </span>
                                    </div>
                                    <% } else { %>
                                    <div class="text-center"">
                                       <!-- i class="fa fa-long-arrow-down" style="font-size:48px;"></i -->
                                    </div>
                                    
                                    <div  class="col-md-6  mt-4 mb-2 ">
                                       <img  class="kyc-img-upld" style="height: 200px;" src="./public/assets/images/kyc/<%= user.kyc_front %>">
                                    </div>
                                    <% } %> 
                                 </div>
                              </div>
                              <div class="col-md-12">
                                 <div class="form-group">
                                    <label>National ID back picture</label>
                                    <% if (user.kyc_backend == '') { %>
                                    <div class="input-group">
                                       <span class="input-group-btn">
                                       <span class="btn btn-default btn-file">
                                       Browse… <input type="file" id="second_id_proof" name="second_id_proof" required>
                                       </span>
                                       </span>
                                    </div>
                                     <% }  else { %>
                                    <div class="pb-1">
                                       <!-- i class="fa fa-long-arrow-down" style="font-size:48px;"></i -->
                                    </div>
                                    
                                    <div class="col-md-6 mt-4 mb-2">
                                       <img  class="kyc-img-upld" style="height: 200px;" src="./public/assets/images/kyc/<%= user.kyc_backend %>">
                                    </div>
                                    <% } %> 
                                 </div>
                              </div>
                              <div class="col-md-12">
                                 <div class="form-group">
                                    <label>Selfie with National ID</label>
                                     <% if (user.kyc_selfie == '') { %>
                                    <div class="input-group-btn">
                                       <span class="input-group-btn">
                                       <span class="btn btn-default btn-file">
                                       Browse… <input type="file" id="third_id_proof" name="third_id_proof" required>
                                       </span>
                                       </span>
                                    </div>
                                      <% } else { %> 
                                    <div>
                                       <!-- i class="fa fa-long-arrow-down" style="font-size:48px;"></i -->
                                    </div>
                                   
                                    <div class="col-md-6 mt-4 mb-2">
                                       <img  class="kyc-img-upld" style="height: 200px;" src="./public/assets/images/kyc/<%= user.kyc_selfie %>">
                                    </div>
                                    <% } %> 
                                 </div>
                              </div>
                              <% if (user.kyc_selfie == '') { %>
                              <div class="col-md-12">
                                 <div class="form-group">
                                    <div class="input-group">
                                       <span class="input-group-btn">
                                       <span class="btn-file">
                                       <input type="submit" class="btn  btn-theme" name="" value="Submit">
                                       </span>
                                       </span>
                                    </div>
                                 </div>
                              </div>
                              <% } %> 
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
     <!-- user profile setting -->
   </div>
   </div> 
<div class="row" >
   
</div>
<!--fa enable disable popup-->
<div id="qrModal" class="modal modal-styled fade in modals-body ">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="text-center text-dark w-100">Enable Google 2FA</h4>
            <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
            </button>
         </div>
         <form id="gauth-formnew" inspfaactive="true" action="/enable-2fa" method="post" class="">
            <div class="modal-body theme-form">
               <div id="alert-msg-enable"></div>
               <div>
                  <p class="text-center mb-0"><strong>Scan the QR code:</strong></p>
                  <div class="qrcode text-center" >
                  </div>
                  <p class="text-center"><strong>or enter this code manually:</strong></p>
                  <h3 class="text-center secret text-dark"></h3>
                  <input type="hidden" name="secret_key" id="secret">
               </div>
               <div class="row margin12" id="match-otp-2fa_enable">
                  <div class="col-md-12">
                     <div class="form-group token_error text-center">
                        <label for="" style="color:  black;">Authenticator Code</label>
                        <input type="number" class="form-control aucode google_2fa" placeholder="input your 6-digit Authenticator code " id="google_2fa_otp_enable" name="totp" onkeyup="checkOTPEnable()">
                     </div>
                  </div>
               </div>
               <div class="text-center">
                  <code>If enabled then each time you login or make a withdrawal at Decentralend you will be prompted to complete the 2-Step Verification which can only be finished by having access to your smartphone.</code>
               </div>
            </div>
            <div class="modal-footer text-center">
               <button type="button" class="btn btn-theme mt-4" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-theme mt-4" id="enable-2fa" >Yes Enable Google 2FA Authenticator</button>
            </div>
         </form>
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
<div id="qrmatch" class="modal modal-styled fade in modals-body">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="text-center text-dark w-100">Disable Google 2FA</h4>
            <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
            </button>
         </div>
         <form id="gauth-form" class=" theme-form" inspfaactive="true" action="/disable-2fa" method="post">
            <div class="modal-body">
               <div id="google_auth_msg"></div>
               <div class="row" id="match-otp-2fa">
                  <div class="col-12">
                     <div class="form-group text-center">
                        <label class="text-dark">Enter OTP </label>
                        <input type="number" name="google_2fa_otp" id="google_2fa_otp" class="form-control google_2fa" onkeyup="checkOTP()" placeholder="Enter OTP that you get in your mobile" row="100" />
                     </div>
                  </div>
               </div>
               <div class="col-12">
                  <div class="form-group text-center">
                     <button type="submit" class="btn btn-theme mt-4" id="disable-2fa" >Yes Disable Google 2FA Authenticator</button>
                  </div>
               </div>
            </div>
            <div class="modal-footer text-center">
               <button type="button" class="btn button-close btn-theme" data-dismiss="modal">Close</button>
            </div>
         </form>
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
<script type="application/javascript" >
   $('#otpToggleButton').on('click', function () {
   $('#qrModal').modal('show');
     // "{{ session()->put('2fa:user:id', Sentinel::getUser()->id) }}"
   
     $("#enable-2fa").prop('disabled', true);
     $("#match-otp-2fa_enable").show();
     $.ajax({
       type: 'get',
       url:"/create-2fa",
       success: function (responseData) {
         console.log(responseData);
         $('.qrcode').empty();
         $('.secret').empty();
         //$('.qrcode').append('<img src="'https://chart.googleapis.com/', 'chart', 'chs='.$size.'x'.$size.'&chld=M|0&cht=qr&chl="+responseData['imgurl']+'">');
         $(".qrcode").append('<img src="'+responseData['image_url']+'">');
         $('.secret').text(responseData['secret']);
         $('#secret').val(responseData['secret']);
       },
       error: function (responseData) {
         console.log(responseData);
         return false;
       }
     });
     $('#qrModal').modal('show');
   });
   $('#otpDisableToggleButton').on('click', function () {
    // <?php Session::forget('2fa:user:id'); ?>
             // "{{ session()->put('2fa:user:id', Sentinel::getUser()->id) }}"
     $("#disable-2fa").prop('disabled', true);
     $("#google_auth_msg").html('');
     $("#match-otp-2fa").show();
     $('#qrmatch').modal('show');
   });
    function checkOTP()
     {
       $("#google_auth_msg").html('');
       var code= $("#google_2fa_otp").val();
       if(code.length == 6)
       {
         $.ajax({
           type: 'post',
           url:"validate-otp",
           data: "totp="+code,
           success: function (responseData) {
           console.log(responseData);
             if(responseData==1)
             {
               $("#match-otp-2fa").hide();
               $("#google_auth_msg").html("<div class='alert alert-success'>OTP match successfully</div>");
               $("#google_2fa_otp").val('');
               $("#disable-2fa").prop('disabled', false);
             }
             else{
             $("#google_auth_msg").html("<div class='alert alert-danger'>Nice try but OTP not match, Please try again.</div>");
             }
           },
           error: function (responseData) {
             $("#google_auth_msg").html("<div class='alert alert-danger'>Nice try but OTP not match, Please try again.</div>");
             console.log(responseData);
             return false;
           }
         });
       }
     }
   
   function checkOTPEnable()
   {
     $("#alert-msg-enable").html('');
   
     var code= $("#google_2fa_otp_enable").val();
   
   
     if(code.length == 6)
     {
   
       $.ajax({
         type: 'post',
         url:"/validate-otp",
         data: "totp="+code,
         success: function (responseData) {
           console.log(responseData);
           if(responseData==1)
           {
             $("#match-otp-2fa_enable").hide();
             $("#alert-msg-enable").html("<div class='alert alert-success'>OTP match successfully</div>");
             $("#google_2fa_otp_enable").val('');
             $("#enable-2fa").prop('disabled', false);
           }
         },
         error: function (responseData) {
           $("#alert-msg-enable").html("<div class='alert alert-danger'>Nice try but OTP not match, Please try again.</div>");
           console.log(responseData);
           return false;
         }
       });
     }
     else {
         $("#alert-msg-enable").html("<div class='alert alert-danger'>Enter 6 digit only, Please try again.</div>");
         console.log(responseData);
         return false;
   
     }
   }
</script>
<%- contentFor('footer') %>