<%- contentFor('head') %>
<%- contentFor('body') %>
<% include ../partials/header %>
<% include ../partials/sidebar %>
<div class="dashboard-wrapper">
</div>
 <div class="dashboard-body">
   <div class="row">
     <div class="col-sm-12">
        <h4 class="page-title">Referrals</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href=""><i class="fa fa-home" aria-hidden="true"></i></a>
            </li>
            <li class="breadcrumb-item"><a href="#">Referrals</a>
            </li>
        </ol>
    </div>

    <!-- Referrals -->
     <div class="col-md-12">
        <% if(user.level==0){ %> 
           <div class="card">
                <div class="card-body table-responsive">
                    <div class="col-md-12 ">
                     <center><h3>Oops! No referral exist.</h3></center>
                    </div>  
                </div>  
            </div> 

        <% } else{ %> 

<div class="card">
  <div class="card-body table-responsive">
    <div class="col-md-12 ">
      <h4>Referral Bonus History</h4>
    </div>
    <div class="mb-4"></div>
    <table id="data-table" class="table table-striped data-table" cellspacing="0" width="100%">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Sr.</th>
          <th scope="col">User</th>
          <th scope="col">BTC Bonus</th>
          <th scope="col">ETH Bonus</th>
          <th scope="col">USD Bonus</th>
          <th scope="col">EUR Bonus</th>
        </tr>
      </thead>
      <tbody>
     <% var i=1; %>
<% ref.forEach(function(ref) { %>
        <tr>        
          <td> <%= i++ %> </td>
          <td><%= ref.email %></td>
          <td><%= ref.ref_btc_bonus_bal %></td>
          <td><%= ref.ref_eth_bonus_bal %></td>
          <td><%= ref.ref_usd_bonus_bal %></td>
          <td><%= ref.ref_eur_bonus_bal %></td>
        </tr>
           <% }); %>
   

      </tbody>
    </table>

  </div>
</div>


        <% } %>

<!-- Referrals end-->
     </div>
   </div>
</div>

<%- contentFor('footer') %>
<script type="text/javascript">
$(document).ready(function() {
$('#data-table').DataTable();
});
</script>