<%- contentFor('head') %>
<%- contentFor('body') %>
<% include ../../partials/header %>
<% include ../../partials/sidebar %>
<div class="dashboard-wrapper">
   <% include ../../partials/sidebar %>
</div>
<style type="text/css">

</style>
 <div class="dashboard-body">
   <div class="row">
     <div class="col-sm-12">
        <h4 class="page-title">Buy Token</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href=""><i class="fa fa-home" aria-hidden="true"></i></a>
            </li>
            <li class="breadcrumb-item"><a href="#">Buy Token</a>
            </li>
        </ol>
    </div>
<!-- Buy Token -->
    <div class="col-md-12">
      <div class="card">
   
              <div class="card-header">
                <h4>Balances</h4>
              </div>
               <div class="card-body coin-value">
                  <div class="row">
                    <div class="col-lg-3 mt-2">
                      <div class="media">
                        <img class="mr-3" src="./public/assets/images/bitcoin.png" alt="bitcoin">
                        <div class="media-body">
                          <h5 class="mt-2">
                          BTC Balance</h5>
                          <h4 class="blue-font mt-0 ">
                           <%= user.btc_bal.toFixed(8) %> 
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 mt-2">
                      <div class="media">
                        <img class="mr-3" src="./public/assets/images/icon-eth.png" alt="ETH">
                        <div class="media-body">
                          <h5 class="mt-2">
                          ETH Balance</h5>
                          <h4 class="blue-font mt-0 ">
                              <%= user.eth_bal.toFixed(8) %> 
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 mt-2">
                        <div class="media">
                        <img class="mr-3" src="./public/assets/images/$.png" alt="dollar">
                            <div class="media-body">
                                <h5 class="mt-2">USD Balance</h5>
                                <h4 class="blue-font mt-0"><span class="counter"><%= user.usd_bal.toFixed(4) %></span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mt-2">
                        <div class="media">
                        <img class="mr-3" src="./public/assets/images/euro.png" alt="dollar">
                            <div class="media-body">
                                <h5 class="mt-2">EUR Balance</h5>
                                <h4 class="blue-font mt-0"><span class="counter"><%= user.euro_bal.toFixed(4) %></span></h4>
                            </div>
                        </div>
                    </div>
                  </div>
 
            </div>
      </div>
   </div>



                <div class="col-sm-4">

                    <div class="card icon-timer">
                        <div class="card-header">
                            <h4 class="text-center">LOOiX Token</h4>
                        </div>
                        <div class="card-body">
                            <h2 class="counter text-center ico-font"><%= user.total_token.toFixed(0) %></h2>
                        </div>
                    </div>
                </div>


               <div class="col-sm-4">
                  <div class="card icon-timer">
                      <div class="card-header">
                          <h4 class="text-center">Total Token</h4>
                      </div>
                      <div class="card-body">
                          <h2 class="counter text-center ico-font"><%= setting.total_coins.toFixed(0) %></h2>
                      </div>
                  </div>
              </div>

             <div class="col-sm-4">
                <div class="card icon-timer">
                    <div class="card-header">
                        <h4 class="text-center">Sold Token</h4>
                    </div>
                    <div class="card-body">
                        <h2 class="counter text-center ico-font"><%= setting.total_sold_coins.toFixed(0) %></h2>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
              <% if (error.length > 0) { %>
                <div class="alert alert-danger flash"><%= error %></div>
              <% } %> 
              <% if (success.length > 0) { %>
                <div class="alert alert-success flash"><%= success %></div>
              <% } %>
            </div>
         
          
          <div class="col-sm-8">
            <div class="card">
              <div class="card-header">
                 <div class="row">
                    <div class="col-md-1">
                      <h4>
                         <span id="coinimg"> <img class="mr-3"  src="./public/assets/images/bitcoin.png" alt="bitcoin" style="width: 36px;"></span>
                      </h4>
                    </div>
                     <div class="col-md-8" style="margin-top:  8px;">
                         <h4>Balance: <span id="coin_existing_bal"> <%= user.btc_bal %> </span>   </h4>
                     </div>                   
                  </div>
                     
                    </div>
                    <div class="card-body">
                      <form class="form-horizontal theme-form" method="post" action="/storeIco">
                         
                         <div class="row">
                        <div class="form-group col-sm-12">
                          <label for="address">Currency</label>
                            <select name="coin" id="coin"onChange="changeCoin(this.value)" class="form-control">
                                <option value="BTC">BTC</option>
                                <option value="ETH">ETH</option>
                                <option value="USD">USD</option>
                                <option value="EUR">EUR</option>
                            </select>                         
                        </div>
                        </div>

                       <div class="row">
                        <div class="form-group col-sm-12">
                          <label for="address">Unit</label>
                           <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <input type="number" class="form-control" autocomplete="off" name="no_of_token" required="" id="no_of_token" onkeyup="return setAllFields(this)" placeholder="0.00000000">
                           <div class="btn-theme lbl-info" disabled="disabled">LOOiX</div>
                        </div>
                          <input type="hidden" class="form-control" name="total_no_of_token" id="total_no_of_token">
                          <span id="error"></span>
                        </div>
                        </div>

                      <div class="row">     
                        <div class="form-group col-sm-6">
                         <label for="address">Price</label>
                         <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                           <input type="text" class="form-control" autocomplete="off" placeholder="0.00000000" id="Amount" name="total_amount" type="text" value="" disabled readonly>
                          <input type="hidden" class="form-control" name="total_amount_1" id="total_amount_1">
                          <div class="btn-theme lbl-info" disabled="disabled"><span id="selected-coin-name">BTC</span></div>
                        </div>
                      </div>

                        <div class="form-group col-sm-6" id="euroremove">
                          <label for="address">Price</label>
                           <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <input type="text" class="form-control" autocomplete="off" name="total_amount_eur" required="" id="total_amount_eur"  placeholder="0.00" disabled readonly>
                           <div class="btn-theme lbl-info" disabled="disabled">EUR</div>
                        </div>
                     
            
                        </div>

                      </div>
                       
                    <div class="form-group text-left mt-3">
          <button name="type" type="submit" id="btnBuyCoin"  value="BTC" class="submit btn btn-theme"> Buy Tokens </button>           
                    </div>

                  </form>
               </div>
              </div>
            </div>



           <div class="col-sm-4">
             <div class="card">

              <div class="card-header">

                    <h4 class="card-title">LOOiX Price</h4>
                </div>
            <div class="card-body table-responsive">
               
                    <table class="table table-striped data-table dataTable no-footer no-wrap m-b-0  mt-3 l-price">
                        <tbody>
                            <tr>
                                <td><img src="./public/assets/images/$.png" class="currency-icon" > USD</td>
                                <td>
                                <% var usdrate = setting.rate / setting.usd_price  %>
                                <%= usdrate.toFixed(4) %>

                                </td>
                            </tr>
                            <tr>
                                <td><img src="./public/assets/images/euro.png" class="currency-icon"> EUR</td>
                                <td> <%= setting.rate %></td>
                            </tr>
                            <tr>
                                <td><img src="./public/assets/images/bitcoin.png" class="currency-icon"> BTC</td>
                                <td>
                                 <% var btcrate = setting.rate / setting.btc_price  %>
                                <%= btcrate.toFixed(8) %>  
                                </td>
                            </tr>
                            <tr>
                                <td><img src="./public/assets/images/icon-eth.png" class="currency-icon"> ETH</td>
                                <td>  
                                 <% var ethrate = setting.rate / setting.eth_price  %>
                                <%= ethrate.toFixed(8) %> 
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
           </div>


<div class="col-sm-12">

<div class="card">
<div class="card-header col-md-12">
      <h4>Transaction History</h4>
    </div>
  <div class="card-body table-responsive">
    
    <div class="mb-4"></div>
    <table id="data-table" class="table table-striped data-table dataTable no-footer" cellspacing="0" width="100%">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Sr.</th>
          <th scope="col">Token</th>
          <th scope="col">Amount</th>
          <th scope="col">Type</th>
          <th scope="col">Txid</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
     <% var i=1; %>
<% tokens.forEach(function(token) { %>
        <tr>        
          <td> <%= i++ %> </td>
          <td><%= token.tokens %></td>
          <td><%= token.amount %></td>
          <td>
          <% if (token.type == 'BTC') { %> <span class="badge badge-warning"><%= token.type %> </span> <% } %>
          <% if (token.type == 'ETH') { %> <span class="badge badge-custom"><%= token.type %> </span> <% } %>
          <% if (token.type == 'USD') { %> <span class="badge badge-info"><%= token.type %> </span> <% } %>
          <% if (token.type == 'EUR') { %> <span class="badge badge-primary"><%= token.type %> </span> <% } %>
          </td>
          <td><%= token.tx_id %></td>  
          <td><span class="badge badge-success">Confirm</span></td>
        </tr>
           <% }); %>
   

      </tbody>
    </table>

  </div>
</div>
</div>

 <!-- Buy Token end -->
  </div>
</div>
<%- contentFor('footer') %>
<script>

$(document).ready(function() {
$('#data-table').DataTable();
});


    var btc_amount = <%= user.btc_bal %>;
    var eth_amount =  <%= user.eth_bal %>; 
    var usd_amount =  <%= user.usd_bal %>; 
    var euro_amount =  <%= user.euro_bal %>;

 $("#btnBuyCoin").prop('disabled',true);


    function changeCoin(coin)
    {

      $("#selected-coin-name").html(coin);
      if(coin == 'BTC'){ 
        var balance = btc_amount.toFixed(8);  $("#euroremove").show();
        $("#coinimg").html('<img class="mr-3"  src="./public/assets/images/bitcoin.png" alt="bitcoin" style="width: 36px;">'); 
      }    
        else if(coin == 'ETH'){ 
          var balance = eth_amount.toFixed(8);  $("#euroremove").show();
          $("#coinimg").html('<img class="mr-3"  src="./public/assets/images/icon-eth.png" alt="eth" style="width: 36px;">');
        }
        else if(coin == 'USD'){ 
          var balance = usd_amount.toFixed(2);  $("#euroremove").show();
           $("#coinimg").html('<img class="mr-3"  src="./public/assets/images/$.png" alt="$" style="width: 36px;">');
        }
        else if(coin == 'EUR'){ 
          var balance = euro_amount.toFixed(2); $("#euroremove").hide();  
          $("#coinimg").html('<img class="mr-3"  src="./public/assets/images/euro.png" alt="eur" style="width: 36px;">');
        }
      
      $("#coin_existing_bal").html(balance);
      $("#total_no_of_token").val( '' );
      $("#Amount").val('');
      $("#total_amount_1").val(''); 
      $("#no_of_token").val('');
      $("#error").html('');
    }
   
    function setAllFields(elem){

    var val = $(elem).val();
    if(!isNaN(val)){
           val = val.replace(/[^0-9\.]/g,'');
           if(val.split('.').length>2)
               val = val.replace(/\.+$/,"");
           $(elem).val(val);
      }

      var coin = $("#coin").val();
      var val = $("#coin").val();
      var no_of_token = $("#no_of_token").val();
      $("#total_no_of_token").val($("#no_of_token").val());
      $("#btnBuyCoin").prop('disabled',true);
      $("#error").html('');
        

              if($("#no_of_token").val() > 0){
                
              if(coin == 'BTC'){ 
                var amount = btc_amount.toFixed(8); 
                var price = <%= setting.btc_price %>;
                no_of_token = no_of_token * <%= setting.rate %>;
                var total_coin_amount = (no_of_token / price ).toFixed(8);
                }
              else if(coin == 'ETH'){ 
                var amount = eth_amount.toFixed(8); 
                var price = <%= setting.eth_price %>; 
                no_of_token = no_of_token * <%= setting.rate %>;
                var total_coin_amount = (no_of_token / price ).toFixed(8);
                }
              else if(coin == 'USD'){ 
                var amount = usd_amount.toFixed(2); 
                var price = <%= setting.usd_price %>;
                no_of_token = no_of_token * <%= setting.rate %>;
                var total_coin_amount = (no_of_token / price ).toFixed(2);
                }
              else if(coin == 'EUR'){ 
                var amount = euro_amount.toFixed(2);
                no_of_token = no_of_token * <%= setting.rate %>;
                var total_coin_amount = no_of_token.toFixed(2);
                }
                

                if(amount==0 ){
                  $("#error").html('<div class="text-danger"><b>You dont have sufficient '+val+' balance to buy !!</b></div>');
                  return false;
                }
                 
                  $("#Amount").val(total_coin_amount);
                  $("#total_amount_1").val(total_coin_amount);
                  $("#total_amount_eur").val(no_of_token.toFixed(2));

                  if($("#no_of_token").val() > 0){
          
                  if($("#no_of_token").val() < 2000 ){
                    $("#error").html('<div class="text-danger"><b> You cant buy less than 2000 LOOiX !! </b></div>');
                    return false;
                 }
              console.log(total_coin_amount);
              console.log(amount);
                  if(parseFloat(total_coin_amount)>parseFloat(amount)){
                        $("#error").html('<div class="text-danger"><b>You dont have sufficient '+val+' balance to buy !!</b></div>');
                         $("#btnBuyCoin").prop('disabled',true);
                        return false;
                  } else {
                      $("#btnBuyCoin").prop('disabled',false);
                  }

                }
                else{
                    $("#btnBuyCoin").prop('disabled',true);
                    $("#Amount").val('0.00000000');
                    $("#total_amount_1").val('0.00000000');
                }
  
            }
            else{
                
            }
          //}
    }
  </script>