<%- contentFor('head') %>
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.4/jquery.fullPage.min.css" rel="stylesheet" type="text/css">

<%- contentFor('body') %>
<div class="header-bottom fixed-top">
   <div class="container br-dark">
      <div class="row">
         <div class="col-sm-12">
            <nav class="navbar navbar-expand-lg navbar-light ">
               <a class="navbar-brand" href="/"><img src="./public/assets/images/logo.png" /></a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto" id="homenavbar">
                     <li class=" nav-item active">
                        <a data-menuanchor="firstpage" class="nav-link" href="/" >Home</a>
                     </li>
                     <li class="nav-item">
                        <a data-menuanchor="secondPage" class="nav-link" href="#about-us">About</a>
                     </li>
                     <li class=" nav-item">
                        <a data-menuanchor="sixthPage" class="nav-link" href="#ICO">ICO</a>
                     </li>
                     <li class=" nav-item">
                        <a data-menuanchor="fourthPage" class="nav-link" href="#team">Team</a>
                     </li>
                     <li class=" nav-item">
                        <a data-menuanchor="seventhPage" class="nav-link" href="#road-map">Roadmap</a>
                     </li>
                     <li class=" nav-item">
                        <a data-menuanchor="eighthPage" class="nav-link" href="#documents">Whitepaper</a>
                     </li>
                     <li>
                        <a data-menuanchor="eighthPage" class="nav-link" href="#contactus">Contact</a>
                     </li>
                  </ul>
                  <a href="#" >
                     <div class="dropdown show">
                  <a class="btn btn-join dropdown-toggle mr-2" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Language
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#"> UK</a>
                  <a class="dropdown-item" href="#">Arabic</a>
                  <a class="dropdown-item" href="#">Spanish</a>
                  </div>
                  </div>
                  </a>
                  <a  href="/login" class="btn btn-join my-2 mt-2 my-sm-0" >Login</a>
               </div>
            </nav>
         </div>
      </div>
   </div>
</div>

   <div class="decument-top decument">
         <div class="container">
            <div class="row ">
                  <div class="col-md-12 ">
                     <h2 class="title-decument">Privacy Policy</h2>
                     <h5 class="subtitle">Last updated: 1st of March, 2018</h5>
                     <p>Please carefully read this Privacy Policy (“Policy”), which governs how AIA Arico Invest AG, a company registered in the Switzerland (“Company”, “we”), collects, uses and discloses the information, when you access or use the website www.looix.io (collectively with all of its subdomains and all their respective pages, the “Website”), the online services at the Website (“Services”), or when you otherwise interact with us.</p>
                     <h5 class="subtitle">This Policy is an integral part of the Terms of Use of the Website.</h5>
                  </div>               
            </div>
         </div>
   </div>
   <section class="decument bg-dark">
      <div class="container">
         <div class="row ">
            <div class="col-md-12 ">
               <h2 class="title-decument">Definitions</h2>
               <p>1. In addition to the definitions contained elsewhere in the text of this Policy, the following terms and expressions shall have the meaning ascribed to them here below: “Company Parties” means the Company and its respective past, present and future employees, officers, directors, contractors, consultants, attorneys, accountants, financial advisors, equity holders, suppliers, vendors, service providers, parent companies, subsidiaries, affiliates, agents, representatives, predecessors, successors and assigns. “Company Party” means one of the foregoing, as the case may be.</p>
               <p>2. “Data” means the information that is collected in relation to your use of the Website and the Services. “Terms of Service of the Website” means the document describing the Terms of Service of the Website available on the Website (as may be amended from time to time). “User Account” means an account which may be provided to you by Company for the purpose of improving your experience at the Website and use of the Services, as well as obtaining access to specific additional other products, utilities and offerings provided by the Company Parties.</p>
            </div>               
         </div>
      </div>
   </section>

   <div class="decument-top decument">
         <div class="container">
            <div class="row ">
                  <div class="col-md-12 ">
                     <h2 class="title-decument">Applicability and acceptance of policy</h2>
                     <p>1. This Policy describes the Data, explains how Data is used and instances when Company shares or permits collection of the Data by the Company Parties or state authorities.</p>
                     <p>2. This Policy shall enter into force as of the moment you first access the Website or commence use of any of the Services. By accessing, browsing or using the Website and/or any of the Services you irrevocably and unconditionally accept and adhere to provisions of this Policy without any exemptions, limitations, and exclusions. If you access the Website or use any of the Services on behalf of a business (whether registered or operating without registration), that business hereby accepts this Policy.</p>
                     <p>3. In the event you disagree with any provision of this Policy or would not like to provide your consent for collection of Data, you shall cease using the Website or any of the Services immediately.</p>                     
                  </div>               
            </div>
         </div>
   </div>
   <section class="decument bg-dark">
      <div class="container">
         <div class="row ">
            <div class="col-md-12 ">
               <h2 class="title-decument">Collection of Data and Data You Provide to Us</h2>
               <p>1. In order to perform the Services and the functionality of the Website, we are entitled to ask you to provide the Company Parties with your personal identification information, including but not limited to your name, e-mail address, mailing address, phone number, date of birth, a scanned copy of a valid government-issued passport or ID number, and information about the used cryptocurrency addresses.</p>
               <p>2. Company Parties may collect from you, use and disclose your personal identification information only if you voluntarily provide such information to them. By transferring to a Company Party the Data set out in Article 3.1 via the Website or otherwise, you irrevocably and unconditionally entitle the Company Parties to collect, use and disclose such Data in accordance with this Policy.</p>
               <p>3. Without prejudice to the provisions set out in the Terms of Service of the Website, in the case you do not provide Company Parties with the Data set out in Article 3.1, or provide them with inaccurate, misleading or incomplete Data, Company Parties at their sole discretion shall be entitled, without any notice to you, to:</p>
               <p>• impose limitations and restrictions on your use of the Website and/or the Services; and/or</p>
               <p>• suspend or terminate your access to the Website, your User Account or the Services.</p>
            </div>               
         </div>
      </div>
   </section>

   <div class="decument-top decument">
      <div class="container">
         <div class="row ">
            <div class="col-md-12 ">
               <h2 class="title-decument">Data we collect automatically</h2>
               <p>1. Company Parties may collect Data from you in a variety of ways and circumstances. Company Parties shall be entitled to combine Data collected in the course of your interactions with different sections of the Website or the Services with any other relevant available information.</p>
               <p>2. Data collected by or transmitted to Company Parties, in the course of accessing, interacting with and operations with the Website and provision of the Services may include, without limitation, the following Data:</p>
               <p>• Internet Protocol (IP) address and location;</p>
               <p>• Cookie information;</p>
               <p>• browser identification information;</p>
               <p>• information on the computer or mobile device you use to access the Website and the Services, including the hardware model, operating system and version, your web browser, and device identifiers (including a network ID used to communicate with other nodes on the platform);</p>
               <p>• information contained in or relating to any communication that you send to us or sendthrough the Website, and metadata associated with communications;</p>
               <p>• date and time of accessing the Website and the Services;</p>
               <p>• information of third parties’ websites referred to on the Website or in the Services;</p>
               <p>• information related to your activity in the course of using the Services, including, without limitation to, search query history, search results provided to you in response to your query, and web pages you visited by reference from the search results;</p>
               <p>• other information.</p>
               <p>3. You may always refuse to supply Data, though this may prevent you from engaging in certain Website-related activities.</p>
               <p>4. Data collected hereunder in the course of operations using the Website and provision of Services may differ depending on whether you access the Website and the Services logged in to your User Account or without logging in.</p>
               <p>5. Unless you are logged in to your User Account, Data about you, such as e-mail address, name, mailing address, telephone number, is not collected when you access the Website or the Services. In the event you access the Website or the Services logged in to your User Account, Company Parties shall be entitled to associate the respective Data with your User Account and you hereby provide your express and unconditional consent to the Company Parties for the association of the Data with your User Account.</p>             
            </div>
         </div>
      </div>
   </div>
   <section class="decument bg-dark">
      <div class="container">
         <div class="row ">
            <div class="col-md-12 ">
               <h2 class="title-decument">Data we collect from other sources</h2>
               <p>We may also receive information about you from other sources, such as when logging into your User Account by using your account credentials for a separate third-party service. We will receive information from that service as indicated in the relevant third party’s authorization screen.</p>
            </div>               
         </div>
      </div>
   </section>
   <div class="decument-top decument">
      <div class="container">
         <div class="row ">
            <div class="col-md-12 ">
               <h2 class="title-decument">Use of data</h2>
               <p>1. Company Parties collect Data as part of the operations of the Website and the Services, including, but not limited to, for the following purposes:</p>
               <p>• administration and development of the Website and the Services;</p>
               <p>• enhancement of user experience, including the provision of personalized Services and improvement of the Website and the Services;</p>
               <p>• development of new products, utilities, and offerings;</p>
               <p>• detection, investigation, and prevention of fraudulent transactions and other illegal activities and protection of your rights and the rights of the Company Parties;</p>
               <p>• collection, processing and performing statistical and other research and analysis of information for enhancement of the Website and the Services;</p>
               <p>• communication with you about products, services, promotions, events and other news and information we think will be of interest to you; and</p>
               <p>• verifying compliance with the Terms of Service of the Website.</p>
               <p>2. You hereby acknowledge and agree that Company Parties shall be entitled to use cookies and web beacons (pixel tags) to collect Data and associate Data with your computer and web browser, as well as, in the event you access the Website and/or the Services logged in to your User Account, with your User Account.</p>             
            </div>
         </div>
      </div>
   </div>
   <section class="decument bg-dark">
      <div class="container">
         <div class="row ">
            <div class="col-md-12 ">
               <h2 class="title-decument">Protection of data</h2>
               <p>1. We take appropriate security, administrative, and technical measures to protect any personal identification information you provide regarding the collection, storage, and processing, as well as security measures to protect your User Account against unauthorized access, modification, disclosure or destruction of your personal identification information.</p>
               <p>2. The transmission of data or information (including communications by e-mail) over the Internet or other publicly accessible networks is not one hundred percent secure. Company Parties are not liable for the security of any data you are transmitting over the Internet, or third- party content.</p>
               <p>3. Any transactions on the blockchain network are public and Company Parties cannot exclude transaction data from the blockchain.</p>
            </div>               
         </div>
      </div>
   </section>
   <div class="decument-top decument">
      <div class="container">
         <div class="row ">
            <div class="col-md-12 ">
               <h2 class="title-decument">Disclosure of information</h2>
               <p>1. You hereby acknowledge and agree that the Company Parties shall be entitled to collect, store, disclose, share and transfer, including cross-border, Data collected from your use of the Website and the Services.</p>
               <p>2. We may disclose the Data, including personal identification information in the following cases:</p>
               <p>• you’ve consented or otherwise given us permission to share;</p>   
               <p>• with service providers that perform work for us (such as hosting providers, identity verification, support, payment, and email service providers);</p>   
               <p>• when you use interactive areas of the Services, like our blog or other online forums, certain information you choose to share may be displayed publicly, such as your username, actions you take and any content you post;</p>   
               <p>• in response to a request for information if we believe disclosure is in accordance with, or required by, any applicable law, regulation or legal process;</p>   
               <p>• if we believe your actions are inconsistent with our user agreements or policies, or to protect the rights, property, and safety of Company Parties or others;</p>   
               <p>• in connection with, or during negotiations of, any merger, sale of company assets, financing or acquisition of all or a portion of our business by another company; and </p>
               <p>• between and among Company Parties.</p>            
               <p>3. Company Parties may without limitations share aggregated or de-identified information, which cannot reasonably be used to identify you.</p>
            </div>
         </div>
      </div>
   </div>
   <section class="decument bg-dark">
      <div class="container">
         <div class="row ">
            <div class="col-md-12 ">
               <h2 class="title-decument">Retainment of information</h2>
               <p>1. In accordance with applicable laws and as needed to provide the Services to our users, Company Parties may hold your Data. This requirement is conditioned by the need of complying with legal obligations and resolving possible disputes.</p>
               <p>2. Company Parties may retain your Data so long as your User Account is active. Moreover, your Data may be held beyond the above-mentioned period until it is indispensable for the Company Parties to have relevant information to respond to any issues that may arise later.</p>
            </div>               
         </div>
      </div>
   </section>
   <div class="decument-top decument">
      <div class="container">
         <div class="row ">
            <div class="col-md-12 ">
               <h2 class="title-decument">Alternations of Privacy Policy</h2>
               <p>1. We have the right, at our discretion, to update this Policy at any time. We recommend that you frequently check this Policy to find any changes and stay informed about how we help protect the Data.</p>
               <p>2. By using the Website, you acknowledge and agree that it is your responsibility to periodically review this Policy and be aware of the changes.</p>
               <p>3. The subsequent use of the Website or the Services after changes to this Policy will also be considered as your acceptance of these changes.</p>
            </div>
         </div>
      </div>
   </div>
   <section class="decument bg-dark">
      <div class="container">
         <div class="row ">
            <div class="col-md-12 ">
               <h2 class="title-decument">Information and Feedback</h2>
               <p>1. We welcome your questions and suggestions with respect to the implementation or amendment of this Policy. Please use this feedback for communicating with us: support@looix.io.</p>
            </div>               
         </div>
      </div>
   </section>


<% include ../partials/footer %>
<%- contentFor('footer') %>