<%- contentFor('head') %>
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.4/jquery.fullPage.min.css" rel="stylesheet" type="text/css">

<%- contentFor('body') %>
<div class="header-bottom fixed-top">
   <div class="container br-dark">
      <div class="row">
         <div class="col-sm-12">
            <nav class="navbar navbar-expand-lg navbar-light ">
               <a class="navbar-brand" href="/"><img src="./public/assets/images/logo.png" /></a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto" id="homenavbar">
                     <li class=" nav-item active">
                        <a data-menuanchor="firstpage" class="nav-link" href="/" >Home</a>
                     </li>
                     <li class="nav-item">
                        <a data-menuanchor="secondPage" class="nav-link" href="#about-us">About</a>
                     </li>
                     <li class=" nav-item">
                        <a data-menuanchor="sixthPage" class="nav-link" href="#ICO">ICO</a>
                     </li>
                     <li class=" nav-item">
                        <a data-menuanchor="fourthPage" class="nav-link" href="#team">Team</a>
                     </li>
                     <li class=" nav-item">
                        <a data-menuanchor="seventhPage" class="nav-link" href="#road-map">Roadmap</a>
                     </li>
                     <li class=" nav-item">
                        <a data-menuanchor="eighthPage" class="nav-link" href="#documents">Whitepaper</a>
                     </li>
                     <li>
                        <a data-menuanchor="eighthPage" class="nav-link" href="#contactus">Contact</a>
                     </li>
                  </ul>
                  <a href="#" >
                     <div class="dropdown show">
                  <a class="btn btn-join dropdown-toggle mr-2" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Language
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#"> UK</a>
                  <a class="dropdown-item" href="#">Arabic</a>
                  <a class="dropdown-item" href="#">Spanish</a>
                  </div>
                  </div>
                  </a>
                  <a  href="/login" class="btn btn-join my-2 mt-2 my-sm-0" >Login</a>
               </div>
            </nav>
         </div>
      </div>
   </div>
</div>

   <div class="decument-top decument">
         <div class="container">
            <div class="row ">
                  <div class="col-md-12 ">
                     <h2 class="title-decument">Terms of Service</h2>
                     <h5 class="subtitle">Last updated: 23rd of March, 2018</h5>
                     <p>This document acts as an agreed upon Terms of Service (“Terms”, “Terms of Service”) between you (“User” or “you”) and AIA Arico Invest AG, a Switzerland company (“Company”, “AIA Arico Invest AG”). You accept these Terms when you use LOOiX services or any other features, technologies or functionalities offered by LOOiX through the platform (“Platform”) located on LOOiX website at www.looix.io (“Site”) or through any other means regarding to exchange process from your Assets (as defined below) to tokens that LOOiX made available by such projects on Site (“Tokens”) (collectively, “Services”). The terms “us”, “we” or “our” refer to LOOiX.</p>
                     <p>Your access to, and the use of the Services is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service and/or Site and/or Platform. These Terms may be revised from time to time at LOOiX sole discretion. We will provide notice of any amendment to these Terms by posting the revised terms to the Site and updating the “Last updated” field above accordingly or by any other means we deem appropriate. We are not obligated to provide notice by any other means beyond these, and it is your sole responsibility to check these Terms every time you use Services. Any change to these Terms will be effective immediately upon such notice and will apply to any past, ongoing or subsequent use of the Site and Services.</p>
                     <h5 class="subtitle">By accessing or using the Services and/or Site and/or Platform, you agree to be bound by these Terms. If you disagree with any part of the Terms, you may not access the Service and Site.</h5>
                  </div>               
            </div>
         </div>
   </div>
   <section class="decument bg-dark">
      <div class="container">
         <div class="row ">
            <div class="col-md-12 ">
               <h2 class="title-decument">1. Qualifications</h2>
               <p>The User hereby represents and warrants that you are at least eighteen (18) years of age and you are legally entitled to use the internet and services like those provided by LOOiX Group Ltd. (according to the laws of United Kingdom and any relevant jurisdiction in which you reside), and you have not had your right to use our Services previously suspended or revoked by us.</p>
               <p>Notwithstanding the above, you cannot and you are not entitled to use Site, Services, exchange for Project’s Tokens or withdraw LOOiX Tokens, if you are</p>
               <p>1. a green card holder of the United States of America, or</p>
               <p>2. a citizen or a resident (tax or otherwise) of the United States of America, Puerto Rico, the Virgin Islands of United States, or any other possessions of the United Stated of America or person of that states or</p>
               <p>3. a citizen or resident (tax or otherwise) of any country or territory where transactions with digital tokens and/or digital currencies are prohibited or in any other manner restricted by applicable laws,</p>
               <p>4. unverified person (person who are not provided KYC and other necessary information to determine his/her citizenship/residence),</p>
               <p>5. or a person acting for the interest or/and on behalf of said persons. Tokens cannot be offered or distributed as well as cannot be resold or otherwise alienated by you to mentioned persons.</p>
               <p>It is your sole responsibility to establish, by consulting (if necessary) your legal, tax, accounting or other professional advisors, what requirements and limitations, if any, apply to your particular jurisdiction, and ensure that you have observed and complied with all restrictions, at your own expense and without liability to the Company.</p>
            </div>               
         </div>
      </div>
   </section>

   <div class="decument-top decument">
         <div class="container">
            <div class="row ">
                  <div class="col-md-12 ">
                     <h2 class="title-decument">2. Illegal and Prohibited Use</h2>
                     <p>The User hereby represents and warrants that you will not use the Site, Platform or Services for any criminal, illegal, or otherwise prohibited use, including but not limited to activities related to money laundering, drug trafficking, human trafficking, weapons trafficking, terrorism, securities fraud, or tax evasion.</p>
                     <p>You represent and warrant that you will not use our Services and/or Platform to assist any other party in such illegal activity.</p>                
                     <p>You represent and warrant that you will not in any way use the Site, Platform or Services to: distribute spam, junk communications or chain letters; reverse engineer or otherwise improperly access any of the Site’s or the Platform’s underlying code or technical mechanisms; cause damage to the Site or Platform or Company through any means, including but not limited to, through the use of hacking, malware, viruses, illegitimate credentials, phishing, brute force attacks, SQL exploits, or any other method of detrimentally intercepting, interrupting, or damaging any information or functionality related to the Site and Platform. You also agree not to transfer your Account (as defined below) or share access to your Account or to any other rights granted to you by these Terms.</p>     
                  </div>               
            </div>
         </div>
   </div>
   <section class="decument bg-dark">
      <div class="container">
         <div class="row ">
            <div class="col-md-12 ">
               <h2 class="title-decument">3. Account</h2>
               <p>You represent and warrant that all information you provided when creating an Account on the LOOiX Dashboard is current, complete, and accurate. You agree to promptly notify Company of any changes to any information that would cause the information provided at your Account’s creation to no longer be current, complete or accurate</p>
               <p>You also warrant and represent that you understand that no Account will be fully created until you confirm your identity and email address in a manner deemed suitable by us. You agree that you will be the only user accessing and using your Account, and you may not transfer the right of its use or disclose any log in credentials to a third party without our written consent.</p>
               <p>You agree to take full responsibility for any activity that occurs through the use of your account, and you may not assign this obligation to any third party. You agree to notify Company if you discover or suspect any security breaches or vulnerabilities related to the Services.</p>
               <p>We may require you to provide additional information to verify your identity, address, source of funds or any other information in your account (form), such as your date of birth, copy of ID, citizenship, country of residence, and other information directly or through a third party (“KYC”). You are responsible for relevance and validity of information to be provided when registering an account. We are not obligated to verify your identity or any other personal information and may do it at its own discretion.</p>
            </div>               
         </div>
      </div>
   </section>

   <div class="decument-top decument">
      <div class="container">
         <div class="row ">
            <div class="col-md-12 ">
               <h2 class="title-decument">4. Tokens’ Exchange</h2>
               <p>Tokens value for the purpose of exchange (“Tokens Value”) may be nominated either in bitcoins (BTC), ethers (ETH) and/or in other currencies (crypto and Fiat currencies) as may be additionally introduces on the Site from time to time (collectively, “Assets”).</p>
               <p>Tokens Value shall be calculated based on the day average weighted exchange rate set by HITBTC (as confirmed at www.hitbtc.com) between currency (crypto currency) in which Project’s Tokens are nominated and Assets. It is your sole responsibility to check Tokens Value each time then you decide to consummate an exchange to these LOOiX Tokens.</p>
               <p>In order to exchange your Assets to Project’s Tokens, you shall deposit such Assets to your Account by sending them to digital wallet associated with your Account. Once transaction is confirmed, you may exchange your deposited Assets to LOOiX Tokens placed by LOOiX Group Limited on the Site at the rate specified thereof.</p>
               <p>Tokens will be distributed to your Account at the specified rate after their issuance.</p>
               <p>You may exchange your Assets to LOOiX Tokens at the above rate before the end Term or until all LOOiX Tokens placed on Site have been used up, whichever is sooner. All exchanges are final, and there are no any partial or full refunds or cancellations.</p>
               <p>The Company reserves the right to refuse or reject any exchange made or requested at any time in its sole and absolute discretion. To the extent that the Company refuses or rejects your exchange, the Company will exercise reasonable endeavors to procure that the Assets used by you in order for the exchange is returned to you, however, we do not warrant, represent or offer any assurances that we will successfully be able to recover and/or return any such transfers.</p>
            </div>
         </div>
      </div>
   </div>
   <section class="decument bg-dark">
      <div class="container">
         <div class="row ">
            <div class="col-md-12 ">
               <h2 class="title-decument">5. Tokens’ Withdraw</h2>
               <p>Subject to verification (KYC) and limits requirements provided herein, once LOOiX Tokens you have exchanged for Assets are distributed and provided to your Account, you may withdrawal such LOOiX Tokens to wallet, vault or other storage outside the Account you decide to use to receive and hold such Tokens. Please follow our advise in terms of suitable Wallets on our White Paper.</p>
               <p>In order to withdraw LOOiX Tokens, you shall pass KYC in manner provided on the Site and/or and received “verified” status, if you fail to provide all necessary information or incomplete procedure, you may not withdrawal LOOiX Tokens from your Account.</p>
               <p>You shall be responsible for implementing reasonable measures for securing your wallet, vault, or other storage mechanism you decide to use to receive and hold LOOiX Tokens outside of your Account, including any requisite private key(s) or other credentials necessary to access such storage mechanism(s).</p>
               <h5 class="subtitle">If your private key(s) or other access credentials are lost, you may lose access to the purchased tokens. Company shall not be responsible for any such losses.</h5>
               
            </div>               
         </div>
      </div>
   </section>
   <div class="decument-top decument">
      <div class="container">
         <div class="row ">
            <div class="col-md-12 ">
               <h2 class="title-decument">6. Fees and/or Commissions</h2>
               <p>Unless otherwise specified herein, Company does not charge any fee and/or commission in regards to Assets deposit and/or LOOiX Tokens exchange process, but fees and/or commissions may be applied by third party service providers then you make a transaction through Bitcoin, Ethereum or any other blockchain network, and/or then you withdraw LOOiX Tokens or make any other LOOiX Tokens and/or Assets related transactions.</p>
               <h5 class="subtitle">It is your sole responsibility to check any applicable terms and fees and/or commissions applied to the above.</h5>        
            </div>
         </div>
      </div>
   </div>
   <section class="decument bg-dark">
      <div class="container">
         <div class="row ">
            <div class="col-md-12 ">
               <h2 class="title-decument">7. Damages</h2>
               <p>Damage caused by Vulnerabilities Inherent in the Internet or in Blockchain use of the internet is known to not be 100% secure. You agree that LOOiX Group Limited is not responsible whatsoever for any damages caused by the interception, loss or alteration to any information sent over the internet.</p>
               <p>While LOOiX Group Limited takes reasonable steps to ensure the security and privacy of any information transmitted during your use of our Services and Platform, in no event will any such information be considered “confidential” or will its disclosure to a third party, accidental or otherwise, cause liability against LOOiX Group Limited and or Partners of the Group and the Project, even if it occurs as a result of our negligence.</p>
               <p>LOOiX Group Limited takes every reasonable precaution to prevent and mitigate attacks. However, these problems may still occur from time to time for reasons that are beyond our control of LOOiX Group Limited believes an Asset, LOOiX Token available on the Platform has been compromised or is under attack, LOOiX Group Limited reserves the right to immediately halt all Services and/or Platform related to such token.</p>
               <p>If it is determined that such an attack caused an associated Asset, LOOiX Token to rapidly lose value or otherwise cause or threaten to cause damage to the Platform, the Site, or other users, LOOiX Group Limited may immediately discontinue all activity regarding such token and attacks at its sole discretion. Resolution concerning deposits, withdrawals, Account balances, Services or other disputes related to an attack will be determined on a case-by-case basis. LOOiX Group Limited makes no representations and offers no warranties concerning the safety and security of the Platform and is not liable for any lost value or stolen property, regardless of whether LOOiX Group Limited was negligent in providing appropriate security.</p>               
            </div>               
         </div>
      </div>
   </section>
   <div class="decument-top decument">
      <div class="container">
         <div class="row ">
            <div class="col-md-12 ">
               <h2 class="title-decument">8. LOOiX Group Limited Does Not Provide Legal, Financial, or Purchasing Advice</h2>
               <p>In no way should our providing of Services be considered legal, financial, purchasing advice or any other kind of specialized or expert advice on which the User might detrimentally depend, causing liability against LOOiX Group Limited.</p>
               <p>In using the Platform, you represent and warrant that you have sought any legal, financial, purchasing or otherwise specialized advice from an expert qualified to provide such counsel, or else you have the sufficient knowledge and sophistication to evaluate the risks and merits associated with Blockchain and/or Assets, LOOiX Tokens, management and offerings and to competently use our Services. We give no warranty regarding the suitability of LOOiX Tokens or other Assets acquired using our Platform and assume no fiduciary duties to you.</p>
               <p>The User represents and warrants that you understand that any recommendations or commentary made by LOOiX Group Limited or its employees or other users should be considered generalized in nature, and you should use your own judgment or seek the advice of an expert before taking any action regardless of such statement. We give no assurances as to the accuracy or completeness of any such statement.</p>
               <p>We grant you a limited, nonexclusive, nontransferable license (“License”) to access and use our Platform, Site and Services. This License is subject to these Terms.</p>   
               <p>Any other use of the Services not expressly permitted by these Terms is prohibited. All other rights to or on the Platform are reserved to LOOiX Group Limited and our licensors, including any rights to any content or functionality as presented on the Site or the Platform.</p>     
               <p>Terms “LOOiX Group Limited,” “LOOiX.io,” and all logos related to Services or displayed on the Site are trademarks or registered marks of LOOiX Group Limited or its affiliates. You may not redistribute, claim ownership, license, deconstruct, reverse engineer, alter, incorporate into any other works or websites, or otherwise exploit any such content or functionality without LOOiX Group Limited express prior written consent.</p>   
               
            </div>
         </div>
      </div>
   </div>
   <section class="decument bg-dark">
      <div class="container">
         <div class="row ">
            <div class="col-md-12 ">
               <h2 class="title-decument">9. Termination</h2>
               <p>We may terminate or suspend your License to our Services without prior notice or liability for any reason whatsoever, including but not limited to, your breach of these Terms. Nothing in these Terms or in any other communication or action by LOOiX Group Limited or our employees, agents or representatives may be construed as a waiver of any legal remedies available for any event resulting in termination. All provisions of these Terms which by their nature should survive termination shall survive termination, including but not limited to, ownership provisions, disclaimers or limitations of obligations or liability, and indemnity.</p>
            </div>               
         </div>
      </div>
   </section>
   <div class="decument-top decument">
      <div class="container">
         <div class="row ">
            <div class="col-md-12 ">
               <h2 class="title-decument">10. Links to Other Websites</h2>
               <p>LOOiX Group Limited or other users may provide links to third party websites or services which are not owned or controlled by LOOiX Group Limited.</p>
               <p>LOOiX Group Limited has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party websites or services. You further acknowledge and agree that LOOiX Group Limited shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or detrimental reliance on any information, content, goods or services available on or through any such websites or services. LOOiX Group Limited is not liable for any loss or damage incurred as a result of interacting with any third party content on our Site.</p>
            </div>
         </div>
      </div>
   </div>
   <section class="decument bg-dark">
      <div class="container">
         <div class="row ">
            <div class="col-md-12 ">
               <h2 class="title-decument">11. Copyright of Communications</h2>
               <p>In connection with our Services, you agree that any materials, information or communications transmitted between you and LOOiX Group Limited in any form, or between you and any other LOOiX Website user and participants via our Platform, are no confidential and will become the sole, exclusive property of LOOiX Group Limited. LOOiX Group Limited will own all intellectual property rights to such communications or materials, and can use or disseminate them in a completely unrestricted fashion for any legal purpose, commercial or otherwise, without notifying or compensating you. You hereby waive any right to litigation or recovery for perceived damages caused by the use of this information to the extent permitted by law.</p>
            </div>               
         </div>
      </div>
   </section>
   <div class="decument-top decument">
      <div class="container">
         <div class="row ">
            <div class="col-md-12 ">
               <h2 class="title-decument">12. Idemnification</h2>
               <p>You agree to indemnify, exculpate and hold LOOiX Group Limited, its representatives, affiliates, employees and service providers harmless from any claim or demand permissible by law arising out of or related to the use of these Services, including any breach by you of these Terms or violation of any law, rule, or rights of a third party. You agree to pay for any legal fees or other costs that incurred by LOOiX Group Limited or by any other indemnified parties as a result of your actions.</p>
            </div>
         </div>
      </div>
   </div>
   <section class="decument bg-dark">
      <div class="container">
         <div class="row ">
            <div class="col-md-12 ">
               <h2 class="title-decument">13. Disclaimer of Warranties and Guarantees</h2>
               <p>LOOiX Group Limited does not guarantee any level of performance or the continued, uninterrupted availability of our Services. We do not guarantee the accuracy of any information provided on the Site. We hereby disclaim all warranties and guarantees that not expressly made in these Terms.</p>
               <p>Any and all information in Applications of the projects, related Applicants and Partners, Clients, their projects and activities is provided by third parties, without any expresses or implied warranties or representations of any kind regarding to the nature, content, accuracy, reliability, completeness, or legality of such information on the part of LOOiX Group Limited.</p>
            </div>               
         </div>
      </div>
   </section>
   <div class="decument-top decument">
      <div class="container">
         <div class="row ">
            <div class="col-md-12 ">
               <h2 class="title-decument">14. Applicable Law and Venue</h2>
               <p>The validity, interpretation, construction, and performance of these Terms, and all acts and transactions hereunder, and the rights and obligations of the parties hereto shall be governed, construed and interpreted in accordance with the laws of United Kingdom, without giving effect to principles of conflicts of law.</p>
            </div>
         </div>
      </div>
   </div>
   <section class="decument bg-dark">
      <div class="container">
         <div class="row ">
            <div class="col-md-12 ">
               <h2 class="title-decument">15. Arbitration</h2>
               <p>Except for any disputes, claims, suits, actions, causes of action, demands or proceedings (collectively, “Disputes”) in which LOOiX Group Limited and/or User seek to bring an individual action in small claims tribunals or seeks injunctive or other equitable relief for the alleged unlawful use of intellectual property, including, without limitation, copyrights, trademarks, trade names, logos, trade secrets or patents, you and LOOiX Group Limited</p>
               <p>1. waive your and the LOOiX Group Limited respective rights to have any and all Disputes arising from or related to these Terms resolved in a court of law, and</p>
               <p>2. waive your and the LOOiX Group Limited respective rights to a jury trial. Instead, you and LOOiX Group Limited will arbitrate Disputes through binding arbitration (i.e. the referral of a Dispute to one or more persons charged with reviewing the Dispute and making a final and binding determination to resolve it instead of having the Dispute decided by a judge or jury in court).</p>
               
            </div>               
         </div>
      </div>
   </section>

   <div class="decument-top decument">
      <div class="container">
         <div class="row ">
            <div class="col-md-12 ">
               <h2 class="title-decument">16. No Class Arbitration, Class Action or Representative Actions</h2>
               <p>Any Dispute arising out of or related to these Terms is personal to you and LOOiX Group Limited and will be resolved solely through individual arbitration and will not be brought as a class arbitration, class action or any other type of representative proceeding.</p>
               <p>There will be no class arbitration or arbitration in which an individual attempts to resolve a Dispute as a representative of another individual or group of individuals. Further, a Dispute cannot be brought as a class or other type of representative action, whether within or outside of arbitration, or on behalf of any other individual or group of individuals.</p>
               <p>Any Dispute shall be referred to and finally resolved by arbitration administered in the Zürich Switzerland or the United Kingdom in accordance with applicable rules for the time being in force, which rules are deemed to be incorporated by reference in this clause. The seat of the arbitration shall be Zurich Switzerland. The tribunal shall consist of three (3) arbitrator(s). The language of the arbitration shall be German.</p>
               <p></p>
            </div>
         </div>
      </div>
   </div>
   <section class="decument bg-dark">
      <div class="container">
         <div class="row ">
            <div class="col-md-12 ">
               <h2 class="title-decument">17. Survival and Severability</h2>
               <p>Any portion of these Terms which should reasonably survive the termination of your License or any other agreement is hereby agreed to do so. If any provision of these terms is deemed illegal, invalid or otherwise unenforceable for any reason, such provision shall be severed and the rest of these Terms shall remain intact and enforceable.</p>               
            </div>               
         </div>
      </div>
   </section>
   <div class="decument-top decument">
      <div class="container">
         <div class="row ">
            <div class="col-md-12 ">
               <h2 class="title-decument">18. Integration</h2>
               <p>Our failure to exercise or enforce any rights or provisions of these Terms does not constitute a waiver of those rights or provisions. These Terms represent the entire and complete agreement between the User and LOOiX Group Limited, including any future revisions of these Terms, superseding any prior agreements or communications between you and us. Any ambiguities in these Terms shall be construed in the light most favorable to LOOiX Group Limited.</p>
               <p></p>
            </div>
         </div>
      </div>
   </div>
   <section class="decument bg-dark">
      <div class="container">
         <div class="row ">
            <div class="col-md-12 ">
               <h2 class="title-decument">19. Acts of God</h2>
               <p>LOOiX Group Limited performance under these Terms shall be excused if the failure of such performance is caused by forces beyond its reasonable control.</p>               
               <p>This includes but is not limited to acts of God, acts of any government, war or civil unrest, severe weather, fire, natural disasters, political embargos, terrorism, power or equipment failure, industrial or labor disputes or controversies, acts of any third party, or blockchain failures.</p>               
            </div>               
         </div>
      </div>
   </section>
   <div class="decument-top decument">
      <div class="container">
         <div class="row ">
            <div class="col-md-12 ">
               <h2 class="title-decument">20. Contact us</h2>
               <p>If you have any questions about these Terms, please contact us support@looix.io.</p>
            </div>
         </div>
      </div>
   </div>


<% include ../partials/footer %>
<%- contentFor('footer') %>