<%- contentFor('head') %> 
<%- contentFor('body') %>
<% include ../../partials/header %>
<% include ../../partials/sidebar %>

        <div class="dashboard-body">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">Deposit History (LOOiX) </h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href=""><i class="fa fa-home" aria-hidden="true"></i></a>
                        </li>
                        <li class="breadcrumb-item"><a href="#">Deposit History</a>
                        </li>
                    </ol>
                </div>
              <div class="col-lg-12">
                <% if (error.length > 0) { %>
                  <div class="alert alert-danger flash"><%= error %></div>
                <% } %> 
                <% if (success.length > 0) { %>
                  <div class="alert alert-success flash"><%= success %></div>
                <% } %>
              </div>
          <div class="col-md-12">
            <div class="card"> 
               <div class="card-body">
                <table class="table table-striped data-table dataTable no-footer" id="deposit-looix-table">
                <thead class="thead-dark">
                  <th>Sr.</th> 
                  <th >Username</th> 
                  <th >Email</th>
                  <th>Type</th>
                  <th>Amount</th>
                   <th>Created On</th>
                  <th>status</th>
                </thead>
      
                <tbody>

                    <% var i=1; %>
                      <% if (deposit) { %>
                      <% deposit.forEach(function(history){ %>
                          <tr>
                                <td><%= i++;  %></td>
                                 <td><%= history.users.username  %></td>
                                 <td><%= history.users.email  %></td>
                                <td><%= history.currency  %></td>
                                <td>
                                   <%= history.amount  %>
                                </td>
                                <td>
                                   <%= history.created_date  %>
                                </td>
                                <td>
                                <% if(history.status == 1){ %>
                                <span class="badge badge-success">Approved </span>
                                <% } else if(history.status == 2) { %>
                                <span class="badge badge-danger">Rejected </span>
                                <% } else { %>  
                                    <span class="badge badge-warning">Pending </span>
                                <% }  %>  
                                </td>

                          </tr>
                      <% }) %>
                      <% } %>   
               </tbody>

          </table>
         </div>
      </div>
   </div>

            </div>
        </div>
 <%- contentFor('footer') %>


<script>

$(document).ready(function() {
$('#deposit-looix-table').DataTable();
});

</script>