<%- contentFor('head') %>
<%- contentFor('body') %>
<% include ../../partials/header %>
<% include ../../partials/sidebar %>
<style type="text/css">
    h2, h3, h4, h5 {
    color: #ffff;
}
.ico-font {
    color: #fff;
}
</style>


        <div class="dashboard-body">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">ICO Setting</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href=""><i class="fa fa-home" aria-hidden="true"></i></a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">ICO Setting</a>
                        </li>
                    </ol>
                </div>
              <div class="col-sm-12">

   <div class="card coin-value">
             <div class="card-body">             
                <form class="form-horizontal theme-form mt-3 row"  action="/setting-edit" method="post">

                        <div class="form-group col-md-6">
                           <label for="email">Email ID</label>
                           <input type="text" class="form-control" name="email" value="<%= data.email %>" id="email" autocomplete="off" required>
                        </div>

                          <div class="form-group col-md-6">
                           <label for="ico_start_date">ICO Start Date</label>
                           <input type="text" class="form-control"  name="ico_start_date" value="<%= data.ico_start_date %>" id="some-id" required>
                        </div>

                          <div class="form-group col-md-6">
                           <label for="ico_end_date">ICO End Date</label>
                           <input type="text" class="form-control" name="ico_end_date" value="<%= data.ico_end_date %>" id="some-id1" autocomplete="off" required>
                        </div>

                          <div class="form-group col-md-6">
                           <label for="total_coins">Total Coins</label>
                           <input type="text" class="form-control" name="total_coins" value="<%= data.total_coins %>" id="total_coins" autocomplete="off" required>
                        </div>

                           <div class="form-group col-md-6">
                           <label for="rate">Rate</label>
                           <input type="text" class="form-control" name="rate" value="<%= data.rate %>" id="rate" autocomplete="off" required>
                        </div>

                           <div class="form-group col-md-6">
                           <label for="bonus">Bonus</label>
                           <input type="text" class="form-control" name="bonus" value="<%= data.bonus %>" id="bonus" autocomplete="off" required>
                        </div>

                        <div class="form-group col-md-6">
                           <label for="private_key">Private Key</label>
                           <input type="text" class="form-control" name="private_key" value="<%= data.private_key %>" id="private_key" autocomplete="off" >
                        </div>

                       <div class="form-group col-md-6">
                           <label for="public_key">Public Key</label>
                           <input type="text" class="form-control" name="public_key" value="<%= data.public_key %>" id="public_key" autocomplete="off" >
                        </div>

                        <input type="hidden" value="<%= data._id %>" name="setting_id" />

                         <div class="form-group col-md-6">
                             <button type="submit" class="btn btn-theme">Edit</button>
                        </div>
                </form>
              
                 </div>
                 </div></div>

            </div>
        </div>
 <%- contentFor('footer') %>

<script type="text/javascript">
  $(function() {

  const picker = datepicker('#some-id');
  const picker1 = datepicker('#some-id1');



  });
</script>
