<%- contentFor('head') %>
<%- contentFor('body') %>
<% include ../../partials/header %>
<% include ../../partials/sidebar %>

        <div class="dashboard-body">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">ICO Setting</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href=""><i class="fa fa-home" aria-hidden="true"></i></a>
                        </li>
                        <li class="breadcrumb-item"><a href="#">ICO Setting</a>
                        </li>
                    </ol>
                </div>
<!-- ICO Setting -->
    <div class="col-md-12">
      <div class="card"> 
         <div class="card-body table-responsive">
                      
              <table id="buy-table" class="table table-striped data-table dataTable no-footer">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Sr.</th>
                  <th scope="col">Email</th>
                  <th scope="col">ICO Start Date</th>
                  <th scope="col">ICO End Date</th>
                  <th scope="col">Total Coins</th>
                  <th scope="col">Sold Coins</th>
                  <th scope="col">Rate</th>
                  <th scope="col">Bonus</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
             <% var i=1; %>

            <% if (data) { %>
              <% data.forEach(function(settingdata){ %>
                      <tr>
                           <td><%= i++;  %></td>
                           <td><%= settingdata.email %></td>
                           <td><%= settingdata.ico_start_date %></td>
                           <td><%= settingdata.ico_end_date %></td>
                           <td><%= settingdata.total_coins %></td>
                           <td><%= settingdata.total_sold_coins %></td>
                           <td><%= settingdata.rate %></td>
                           <td><%= settingdata.bonus %></td>
                           <td><a href="admin-setting-show/<%= settingdata.id  %>"> <button class="btn btn-success">Edit</button> </a></td>
                      </tr>
                  <% }) %>
                  <% } %>   
                  
              </tbody>
            </table>
         </div>
      </div>
   </div>
   <!-- ICO Setting  -->
   </div>
  </div>

 <%- contentFor('footer') %>


<script>

$(document).ready(function() {
$('#buy-table').DataTable();
});

</script>



