<%- contentFor('head') %>
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.4/jquery.fullPage.min.css" rel="stylesheet" type="text/css">

<%- contentFor('body') %>

   <section class="section partners" data-anchor="partners">
      <div class="container reveal-0">
         <div class="col-sm-12">
            <div class="text-center">
               <h2 class="title">404 Page Not Found</h2>
               <span class="titleline"><em></em></span>
            </div>

            <div class="text-center">
               <a href="<%= global.url %>"><i class="fa fa-home"></i></a>
            </div>
         </div>
      
      </div>
   </section>



<%- contentFor('footer') %>
</div>
