<%- contentFor('head') %>
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.4/jquery.fullPage.min.css" rel="stylesheet" type="text/css">
<style>
   .home h3 {
   line-height: 35px;
   }
   .main-theme-font{
   transform: translateY(-600px);
   transition: transform 2s cubic-bezier(0.6, 0.2, 0.1, 1) 0.1s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.1s; 
   }
   .ico-lunch{
   transform: translateX(-1250px);
   transition: transform 2s cubic-bezier(0.6, 0.2, 0.1, 1) 0.1s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.1s; 
   }
   .bottom-anim{
   transform: translateY(1000px);
   transition: transform 2s cubic-bezier(0.6, 0.2, 0.1, 1) 0.1s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.1s; 
   }
   .prog-bottom-anim{
   transform: translateY(1000px);
   transition: transform 3s cubic-bezier(0.6, 0.2, 0.1, 1) 0.1s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.1s; 
   }
</style>
<%- contentFor('body') %>
<div class="header">
   <!--<div class="header-top">
      <div class="container">
         <div class="row">
            <div class="col-lg-8">
              
            </div>
            <div class="col-lg-4 text-right">
               <div class="header-social">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                  <a href="#"><i class="fa fa-instagram"></i></a>
               </div>
            </div>
         </div>
      </div>-->
</div>
<div class="header-bottom fixed-top">
   <div class="container br-dark">
      <div class="row">
         <div class="col-sm-12">
            <nav class="navbar navbar-expand-lg navbar-light ">
               <a class="navbar-brand" href="/"><img src="./public/assets/images/logo.png" /></a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto" id="homenavbar">
                     <li class=" nav-item active">
                        <a data-menuanchor="firstpage" class="nav-link" href="/" >Home</a>
                     </li>
                     <li class="nav-item">
                        <a data-menuanchor="secondPage" class="nav-link" href="#about-us">About</a>
                     </li>
                     <li class=" nav-item">
                        <a data-menuanchor="sixthPage" class="nav-link" href="#token-sum">ICO</a>
                     </li>
                     <li class=" nav-item">
                        <a data-menuanchor="fourthPage" class="nav-link" href="#team">Who</a>
                     </li>
                     <li class=" nav-item">
                        <a data-menuanchor="seventhPage" class="nav-link" href="#road-map">Roadmap</a>
                     </li>
                     <li class=" nav-item">
                        <a data-menuanchor="eighthPage" class="nav-link" href="#documents">Whitepaper</a>
                     </li>
                     <li>
                        <a data-menuanchor="eighthPage" class="nav-link" href="#contactus">Contact</a>
                     </li>
                  </ul>
                  <a href="#" >
                     <div class="dropdown show">
                  <a class="btn btn-join dropdown-toggle mr-2" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Language
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item <%=(lang=="de"?"active":"")%>" href="/?clang=de">German</a>
                
                  <a class="dropdown-item <%=(lang=="en"?"active":"")%>" href="/?clang=en">English</a>
                  </div>
                  </div>
                  </a>
                   <% if (is_loggedin == 0) { %>
                  <a  href="/login" class="btn btn-join my-2 mt-2 my-sm-0" >Login</a>
                 <% } else { %>
                  <a  href="/dashboard" class="btn btn-join my-2 mt-2 my-sm-0" >My Account</a>
                 <% } %>
                 
                   
               </div>
            </nav>
         </div>
      </div>
   </div>
</div>
<!-- </nav>
</div>
</div>
</div>
</div> -->
<div id="fullpage">
   <div class="home section bg-img " data-anchor="Home">
      <span id="pvid">
      <video autoplay id="myVideo" class="main-video-container-home" >
         <source src="./public/assets/images/looix.mov" type="video/mp4" >
      </video>
      </span>
      <div id="button">
         <button class="btn btn-join" id="skip-video">SKIP VIDEO</button>
      </div>
      <div class="Section-Bg-Mask Section-Bg-Mask-Light">
         <!--  <div class="Section-Bg-R2 Section-Bg-R2-Light"></div>
            <div class="Section-Bg-R1 Section-Bg-R1-Light"></div> -->
         <div class="CircuitBoardLeft"></div>
         <div class="CircuitBoardRight"></div>
         <div class="main-rotatingimage"></div>
      </div>
      <div class="container home-contain">
         <div class="row">
            <div class="col-sm-12">
               <h3 class="main-theme-font mb-0 "><br />&nbsp;<br/>LOOiX connects your values with the future. <br>"Cryptocurrency is notjust money, it's a global movement to change the world." - Lex Sokolin, NY</h3>
               <h1 class="main-theme-font main-sub-f mt-0 text-uppercase">Touch the future Feel the heat<br> Join the movement</h1>
            </div>
            <!--   <div class="col-md-12">
               <h3 class="freetoken mb-0">Get Whitelisted: Get Free 300 Tokens for first 20000 users only</h3>
               <h5 class="mt-0">A pioneering and motivational referral system to increase your income</h5>
               <h4 class="mt-0">Refer and get 25% bonus</h4>
               </div> -->
            <!--   <div class="col-md-12">
               <h3 class="freetoken mb-0">Thanks for your Contribution, Successfully 1 million USD Hardcap reached.  Stay in touch on telegram , facebook and twitter for updated Information.</h3>
               
               </div>
               -->
            <div class="col-xl-8 offset-xl-2 col-md-12 reveal-0">
               <div class="mt-3 icon-timer">
                  <div class="ico-lunch">
                     <h4 class="card-title freetoken">
                        <!-- <i class="fa fa-calendar" aria-hidden="true"></i> --> Start of ICO 
                     </h4>
                     <div class="timer-wrapper mt-3">
                        <p id="timer" style="min-height: 80px;"></p>
                        <div>
                        </div>
                        <div class="banner-rates text-center">
                           <ul class="rating-info p-0 m-0">
                              <li><img src="./public/assets/images/icon/btc.png" alt="BTC">1 BTC = $ <%= setting.btc_price %></li>
                              <li><img src="./public/assets/images/icon/eth.png" alt="ETH">1 ETH = $ <%= setting.eth_price %></li>
                              <li><img src="./public/assets/images/icon-hav.png" alt=""/>1 LOOiX = &euro; <%= setting.rate %> </li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <!--Whitelist button-->
                  <div class="col-md-12 pb-3 text-center home-btn mt-3 bottom-anim">
                  
                     <a href=" <% if (is_loggedin == 0) { %> /register  <% } else { %> /buy-token <% } %> " class="btn btn-join mt-2">Not Long Left, Get Your now!</a>

                  </div>
                  <div class="col-md-12 text-center home-btn bottom-anim">
                     <a href="<% if (is_loggedin == 0) { %> /register  <% } else { %> /buy-token <% } %>" class="btn btn-join">Buy token</a>
                     <!--  <?php $dt = date('Y-m-d'); if($dt >= '2018-03-15'){ ?>
                        <a href="#" class="btn btn-join">Buy token</a>
                        <?php } ?> -->
                  </div>
                  <!-- progress bar for whitelist time -->
                  <div class="mt-lg-5 prog-bottom-anim">
                     <div class="col-sm-12">
                     </div>
                     <!--
                     <div class="col-sm-12 d-flex mb-1 ">
                        <div class="first-step-ico text-right" style="width:8%; ">
                           <span class="progress-total-coin">3 Billion</span>
                        </div>
                        
                     </div>
                     -->
                     <div class="progress" id="progress1">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:5%;"> 
                        </div>
                        <span style="width:0%;"></span>
                        <span style="left: 48%; width: 50%;"> </span>
                     </div>
                      <div class="col-sm-12 d-flex mb-1 mt-0 p-0">
                      <!-- <div class="second-step-ico text-right" style="width:65%; ">
                           <span class="progress-total-coin"></span>
                        </div>
                        <div class="second-step-ico text-right" style="width:50%; ">
                           <span class="progress-total-coin">1 Million USD</span>
                        </div>-->
                     </div>
                     <div class="col-sm-12 d-flex mt-1 p-0">
                        <div class="first-step-ico" style="width:7%; text-align: right;">
                           <span class="progress-total-text">3 Billion</span>
                        </div>
                        <div class="second-step-ico" style="width:100%; text-align: right;">
                           <span class="progress-total-text">250 Billion</span>
                        </div>
                     </div> 
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- looix Bonus start-->
   <section  class="section looix-token" data-anchor="Bonus">
      <div class="container reveal-0">
         <div class="row">
            <div class="col-md-6 mt-3">
               <div class="bonus-box height-partners text-white">
                    <i class="fa fa-gift main-icon fa-3x" aria-hidden="true"></i>
                  <div class="bonus-box-cont text-center ">
                     
                     <p><i class="fa fa-check" aria-hidden="true"></i> <%= translation.bonus1 %></p>
                      <p><i class="fa fa-check" aria-hidden="true"></i> <%= translation.bonus2 %></p>
                      <p><i class="fa fa-check" aria-hidden="true"></i> <%= translation.bonus3 %></p>
                     <p> <i class="fa fa-check" aria-hidden="true"></i> <%= translation.bonus4 %></p>
                     <p> <i class="fa fa-check" aria-hidden="true"></i><%= translation.bonus5 %></p>
                  </div>
               </div>
            </div>
            <div class="col-md-6 mt-3">
               <div class="bonus-box height-partners text-white">
                  <i class="fa fa-euro main-icon fa-3x" aria-hidden="true"></i>
                  <div class="bonus-box-cont text-center">
                     <p style="line-height: 2.5;"><%= translation.soft_cap %> </p>
                  </div>
               </div>
            </div>
         </div>
         <!-- <div class="row token-details">
            <div class="col-md-6 col-xs-12 ico-date-details text-center">
               <i class="fa fa-gift main-icon" aria-hidden="true"></i>
               <p><i class="fa fa-circle" aria-hidden="true"></i> 3'000'000'000 tokens WITH 65% BONUS</p>
               <p><i class="fa fa-circle" aria-hidden="true"></i> 7'000'000'000 tokens WITH 60% BONUS</p>
               <p><i class="fa fa-circle" aria-hidden="true"></i> 13,000,000,000 tokens WITH 55% BONUS</p>
               <p><i class="fa fa-circle" aria-hidden="true"></i> 27,000,000,000 tokens WITH 50% BONUS</p>
               <p><i class="fa fa-circle" aria-hidden="true"></i> 75'000'000'000 ongoing for 2 Euro cent until no more tokens are available (this sale can take months)</p>
               <i class="fa fa-gift main-icon ico-bg-img" aria-hidden="true"></i>
            </div>
            <div class="col-md-6 col-xs-12 ico-date-details ico-date-details-2 text-center">
               <i class="fa fa-usd main-icon" aria-hidden="true"></i>
               <p>The "LOOiX Token" sale has a soft-cap of 2'000'000 Euro. If the total amount is less than the soft cap, the offer is considered failed. The sale will be terminated and all funds will be refunded within 20 days of the completion of the token sale without interest.</p>
               <i class="fa fa-usd main-icon ico-bg-img" aria-hidden="true"></i>
            </div>
         </div> -->
      </div>
   </section>
  <!-- What is Looix coin start-->
<section id="about-us" class="what-is section about" data-anchor="About">
      <div class="container reveal-0">
         <div class="row token-details">
            <div class="col-lg-12 what-right pb-4">
               <div class="text-center">
                  <h2 class="title text-white"><%= translation.what_is %> <span><%= translation.looix %> </span>?</h2>
                  <span class="titleline">                  
                  </span>
               </div>
            </div>
            <div class="col-lg-12">
               <h3 class="text-white text-center"><%= translation.sports %> </h3>
               <p ><%= translation.looix_p %> </p>
               <h3 class="text-white text-center mt-5"><%= translation.looix_goals %></h3>
               <p ><%= translation.looix_p2 %></p>
               <p><%= translation.real %></p>
               <p><%= translation.owners %></p>
               <p><%= translation.focus %></p>
               <p><%= translation.our_business %></p>
               <p></p>
            </div>
         </div>
      </div>
   </section>

 <!-- looix Bonus start-->
   <section class="bank-card section looix-token" data-anchor="Bank-card">
      <div class="container-fluid main-bg-dark">
         <div class="row">
            <div class="col-md-12 col-xl-4 bg-card">
                <h2 class="txt-color-them mb-xl-5 height-65"><%= translation.bank %></h2>
                <p><%= translation.wallet %></p>
            </div>
            <div class="col-md-12 col-xl-4 hero align-self-center">
               <img src="./public/assets/images/LOOiX_Card.png" class="img-fluid">
            </div>
            <div class="col-md-12 col-xl-4 bg-card-game">
               <h2 class="txt-color-them mb-xl-5"><%= translation.crypto %></h2>
               <p><%= translation.real %></p>
            </div>
         </div>
      </div>
   </section>  
   <section  class="section services" data-anchor="Why">
      <div class="container-fluid">
         <div class="row">
            <div class="col-sm-12">
               <div class="text-center">
                  <h2 class="title ferr-clr"><%= translation.valley %></h2>
                  <span class="titleline"><em></em></span>
                  <div class="col-lg-8 offset-lg-2">
                  <h4 class="text-white l-member"><%= translation.blockchain %></h4>
                  <p><%= translation.innovations %><br>
                  <%= translation.relationships %></p>
                  </div>
               </div>
            </div>
         </div>
         <div class="row service-wrapper pt-0">
            <div class="col-lg-2 col-md-6 reveal-0">
               <div class="text-center service-block">
                  <img src="./public/assets/images/service/fast.png" alt="Decentralization">
                  <h3><%= translation.quality %></h3>
                  <h6><%= translation.decentralized %>
                     <!-- <br />Each individual user of Auction and Freelance platform will have their own copy of data.-->
                  </h6>
               </div>
            </div>
            <div class="col-lg-2 col-md-6 reveal-0">
               <div class="text-center service-block">
                  <img src="./public/assets/images/service/down.png" alt="Functionality"> 
                  <h3><%= translation.transparency %></h3>
                  <h6><%= translation.marketplace %>
                    <!--<br /> The LOOiX  token can be transferred to two other parties as payment for goods and services after bids for-->
                  </h6>
               </div>
            </div>
            <div class="col-lg-2 col-md-6 reveal-0">
               <div class="text-center service-block">
                  <img src="./public/assets/images/service/private.png" alt="Cost Effectiveness">
                  <h3><%= translation.collaboration %></h3>
                  <h6><%= translation.procedures %>
                     <!-- <br /> You will only be charged little or no amount thereby making you deploy a payment service of your own -->
                  </h6>
               </div>
            </div>
            <div class="col-lg-2 col-md-6 reveal-0">
               <div class="text-center service-block">
                  <img src="./public/assets/images/service/secure.png" alt="Immediatate Payment">
                  <h3><%= translation.safety %></h3>
                  <h6>
                     <%= translation.money %> <!-- There are certain procedures that will aid you to keep the address of the receiver in mind. <br />This makes the transfer of money a seamless exercise.  -->
                  </h6>
               </div>
            </div>
            <div class="col-lg-2 col-md-6 reveal-0">
               <div class="text-center service-block">
                  <img src="./public/assets/images/service/reliable.png" alt="Peer to Peer Payment">
                  <h3> <%= translation.trust %></h3>
                  <h6> <%= translation.mobile %>
                      <br /> <!--This shows that you will be able to transfer funds for payment of goods and services in the bid marketplace.-->
                  </h6>
               </div>
            </div>
            <div class="col-lg-2 col-md-6 reveal-0">
               <div class="text-center service-block">
                  <img src="./public/assets/images/service/simple.png" alt="Secure Wallet">
                  <h3><%= translation.charity %></h3>
                  <h6>
                    <%= translation.payments %>  <!--This shows that you will be able to transfer funds for payment of goods and services in the bid marketplace--> <!-- in a secured and improved manner without requiring any document or possessing a bank account -->
                  </h6>
               </div>
            </div>

         </div>
      </div>
   </section>



   <!-- Tokens Summary starts -->
   <section class="section ico-token ico" id="token-sum" data-anchor="ICO">
      <div class="container reveal-0">
         <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
               <div class="text-center">
                  <h2 class="title"><%= translation.token_summary %></h2>
                  <span class="titleline"><em></em></span>
               </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 text-center mt-5">
              <div id="js-container" class="scale-token"></div>
               <!--  <div id="pie-chart" class="pie-chart" data-chart-title="piechart"></div>
               <div class="bar-chart"></div> -->
            </div>
         </div>
      </div>
   </section>
   
   <!-- Faq starts -->
   <section class="section faq" data-anchor="FAQ">
      <div class="container reveal-0">
         <div class="row">
            <div class="col-sm-12">
               <div class="text-center">
                  <h2 class="title">FAQ</h2>
                  <span class="titleline"><em></em></span>
               </div>
            </div>
         </div>
         <div class="col-sm-12 col-xs-12 panel">
            <div class="question">
               <span>How to contribute in LOOiX ?</span>
               <span class="material-icons"><i class="fa fa-angle-down"></i></span>
            </div>
            <div class="answer">
               <div class="card-body">
                  <ul>
                     <li> Step-1 : Register at LOOiX and fill the forms</li>
                     <li> Step 1: Click on Buy Token to buy token    </li>
                     <li> Step 3: Deposit BTC or ETH into your LOOiX Wallet or execute wire transfer  </li>
                     <li>The contribution is limited to min 40 Euro However you can purchase as many time as you want. In order to purchase more than 10`000 Euro equivalent, you need to request approval.</li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="col-sm-12 col-xs-12 panel">
            <div class="question">
               <span>May I have multiple account with same ETH address?</span>
               <span class="material-icons"><i class="fa fa-angle-down"></i></span>
            </div>
            <div class="answer">
               <ul>
                  <li>No, One ETH address can be used only in one account.</li>
               </ul>
            </div>
         </div>
         <div class="col-sm-12 col-xs-12 panel">
            <div class="question">
               <span>Is there any country restriction to contribute in Pre-ICO or in ICO?</span>
               <span class="material-icons"><i class="fa fa-angle-down"></i></span>
            </div>
            <div class="answer">
               <ul>
                  <li>Yes, USA and China Citizen can't participate in LOOiX Pre-ICO and ICO Phase.But they can purchase token from exchange after launch.</li>
               </ul>
            </div>
         </div>
         <div class="col-sm-12 col-xs-12 panel">
            <div class="question">
               <span> How does the Bonus Program work?</span><!-- How many free tokens I will get at the time of whitelist? (How does the Bonus Program work) -->
               <span class="material-icons"><i class="fa fa-angle-down"></i></span>
            </div>
            <div class="answer">
               <ul>
                  <li>After your register on the Affiliate System you will recieve the Bonus programm by Email with you activation link</li>
               </ul>
            </div>
         </div>
         <div class="col-sm-12 col-xs-12 panel">
            <div class="question">
               <span>Does ICO Price increase after each phase?</span>
               <span class="material-icons"><i class="fa fa-angle-down"></i></span>
            </div>
            <div class="answer">
               <ul>
                  <li>The first 3'000'000'000 tokens with 65% Bonus then after this subject to the Investment and Bonus plan which is send to you by Email after the register to the Affiliate System</li>
                  <li>The Regular sales price will be 2 Euro Cent until no more tokens are available (this sale can take months) </li>
               </ul>
            </div>
         </div>
         <div class="col-sm-12 col-xs-12 panel">
            <div class="question">
               <span>After contibuting in Pre-ICO and ICO phase when can I trade the LOOiX Token</span>
               <span class="material-icons"><i class="fa fa-angle-down"></i></span>
            </div>
            <div class="answer">
               <ul>
                  <li>LOOiX Token are or will be tradable right after ICO END on LOOiX Exchange and other Exchange plattforms which we are in negotiation with at this point of time!</li>
               </ul>
            </div>
         </div>
         <div class="col-sm-12 col-xs-12 panel">
            <div class="question">
               <span>How to get ETH Address for my LOOiX Token?</span>
               <span class="material-icons"><i class="fa fa-angle-down"></i></span>
            </div>
            <div class="answer">
               <ul>
                  <li>You can create account in MEW (MyEtherWallet) or in MetaMask to get ETH address.</li>
                  <!-- <li>For details Check here. (The click here part, its very hard to see) </li> -->
               </ul>
            </div>
         </div>
      </div>
   </section>
   <!-- how work starts -->
   <section id="opportunity" class="section opportunity" data-anchor="Works">
      <div class="container">
         <div class="row reveal-0">
            <div class="col-md-12 col-sm-12 col-xs-12">
               <div class="">
                  <div class="text-center">
                     <h2 class="title">How It Works ?</h2>
                     <span class="titleline"><em></em></span>
                  </div>
               </div>
            </div>
         </div>
         <div class="row reveal-0">
            <div class="col-md-12 col-sm-12 col-xs-12">
               <div class="text-center">
                  <div class="tab-content" id="pills-tabContent">
                     <div class="tab-pane fade show active" id="pills-home" role="tabpanel">
                        <div class="opportunity-wrapper">
                           <div id="cntr-img-cntnt-display">
                              <img src="./public/assets/images/how/shop.png" alt="#" class="center-img" />
                              <h3 class="mt-2 text-white"><%= translation.token_holder %></h3>
                           </div>
                           <div class="how-work-content">
                           </div>
                        </div>
                        <div class="">
                           <ul class="investment-service">
                              <li>
                                 <div class="how-w-circle rounded-circle">
                                    <img src="./public/assets/images/how/card.png" alt="#"/>
                                    <h5>BankCard Business</h5>
                                    <!-- <div class="exchng-list">
                                       <p class="exchng-list-items">Max 24 hours turn around.</p>
                                    </div> 
                                    <div class="work-cont">
                                       <p class="exchng-list-items"><i class="fa fa-check" aria-hidden="true"></i> Max 24 hours turn around.</p>
                                       <p class="exchng-list-items"><i class="fa fa-check" aria-hidden="true"></i> Genuine Buyers, No fake bidding</p>
                                       <p class="exchng-list-items"><i class="fa fa-check" aria-hidden="true"></i> Ads Revenue sharing 50% to seller and 30% to buyer</p>
                                    </div>-->
                                 </div>
                              </li>
                              <li>
                                 <h5 class="zero-tran-fee"><%=  translation.sales_profit %></h5>
                              </li>
                              <li>
                                 <div class="how-w-circle rounded-circle" id="exchange">
                                    <img src="./public/assets/images/how/business.png" alt="#"/>
                                    <h5 class="align-self-center">Online <br> Business</h5>
                                    <!--<div class="exchng-list">
                                        <p class="exchng-list-items"></p>
                                    </div> 
                                    <div class="work-cont">
                                       <p class="exchng-list-items"> <i class="fa fa-check" aria-hidden="true"></i> Lowest trading fee at 0.01% Only</p>
                                       <p class="exchng-list-items"><i class="fa fa-check" aria-hidden="true"></i> LOOiX Holders will get distribution of 50% trading revenue. sharing</p>
                                       <p class="exchng-list-items"><i class="fa fa-check" aria-hidden="true"></i> Prizes and many excitements</p>
                                       <p class="exchng-list-items"><i class="fa fa-check" aria-hidden="true"></i> Web / mobile apps</p>
                                    </div>-->
                                 </div>
                              </li>
                              <li>
                                 <h5 class="zero-tran-fee"><%=  translation.sales_profit %></h5>
                              </li>
                              <li>
                                 <div class="how-w-circle rounded-circle" id="freelance">
                                    <img src="./public/assets/images/how/freelanc.png" alt="#"/>
                                    <h5>Offline Business </h5>
                                    <!-- <div class="exchng-list">
                                       <p class="exchng-list-items">Service Fee is 0% For employee and 0.1%...</p>
                                    </div> 
                                    <div class="work-cont">
                                       <p class="exchng-list-items"><i class="fa fa-check" aria-hidden="true"></i> Service fee is 0% for employee and only 0.1% for freelancers.</p>
                                       <p class="exchng-list-items"><i class="fa fa-check" aria-hidden="true"></i> Escrow</p>
                                       <p class="exchng-list-items"><i class="fa fa-check" aria-hidden="true"></i> Reviews and ratings</p>
                                       <p class="exchng-list-items"><i class="fa fa-check" aria-hidden="true"></i> Freelancers public Profiles</p>
                                       <p class="exchng-list-items"><i class="fa fa-check" aria-hidden="true"></i> Web / Mobile apss.</p>
                                    </div>-->
                                 </div>
                              </li>
                              <li>
                                 <h5 class="zero-tran-fee"><%=  translation.sales_profit %></h5>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- Road Map starts -->
   <section  class="section road-map" id="road-map" data-anchor="Road-Map">
      <div class="roadmap">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="text-center">
                     <h2 class="title">Road Map</h2>
                     <span class="titleline"><em></em></span>
                  </div>
               </div>
            </div>
            <div class="row mt-lg-5">
               <div class="col-lg-1 offset-lg-10 timeline-box">
                  <p> > 1000 Mio &euro;</p>
                  <div class="box"></div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-1 offset-lg-9 timeline-box">
                  <p> > 500 Mio &euro;</p>
                  <div class="box"></div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-1 offset-lg-8 timeline-box">
                  <p> > 100 Mio &euro;</p>
                  <div class="box"></div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-1 offset-lg-7 timeline-box">
                  <p> > 50 Mio &euro;</p>
                  <div class="box"></div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-1 offset-lg-6 timeline-box">
                  <p> > 20 Mio &euro;</p>
                  <div class="box"></div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-1 offset-lg-5 timeline-box">
                  <p> = 19 Mio &euro;</p>
                  <div class="box"></div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-1 offset-lg-4 timeline-box">
                  <p> = 10 Mio &euro; </p>
                  <div class="box"></div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-1 offset-lg-3 timeline-box">
                  <p> = 5 Mio &euro;</p>
                  <div class="box"></div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-1 offset-lg-2 timeline-box">
                  <p> = 2 Mio &euro;</p>
                  <div class="box"></div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-1 offset-lg-1 timeline-box">
                  <p> &#8249; 2 Mio &euro;</p>
                  <div class="box"></div>
               </div>
            
            </div>
            <div class="row mt-lg-5 text-center">
               <div class="col-md-10  col-sm-10 col-lg-3 offset-lg-1 time-shape bg-green md-ml-10">
                  <p>APRIL | MAY | JUNE |  2018</p>
               </div>
               <div class="col-md-10  col-sm-10 col-lg-3 time-shape bg-green-light md-ml-10">
                  <p>JULY | AUGUST | SEPTEMBER  2018</p>
               </div>
               <div class="col-md-10  col-sm-10 col-lg-4  time-shape bg-theme md-ml-10">
                  <p>OCTOBER | NOVEMBER | DECEMBER 2018</p>
               </div>
            </div>
         </div>
      </div>
      <!-- <div class="container reveal-0">
         <div class="row">
            <div class="col-sm-12">
               <div class="text-center">
                  <h2 class="title">Road <span>Map</span></h2>
               </div>
            </div>
            <div class="col-md-12 mt-4">
               <div class="main-timeline">
                  <div class="timeline">
                     <div class="timeline-icon"><span class="year">01</span></div>
                     <div class="timeline-content">
                        <h3 class="title">Q4 2017, November</h3>
                        <p class="description">
                           Research on Market Opportunities – Global Analysis 
                        </p>
                     </div>
                  </div>
                  <div class="timeline">
                     <div class="timeline-icon"><span class="year">02</span></div>
                     <div class="timeline-content">
                        <h3 class="title">Q4 2017, December</h3>
                        <p class="description">
                           Initial Research Completed and Concept Finalized
                        </p>
                     </div>
                  </div>
                  <div class="timeline">
                     <div class="timeline-icon"><span class="year">03</span></div>
                     <div class="timeline-content">
                        <h3 class="title">Q1 2018, January</h3>
                        <p class="description">
                           Designing of User Interface for ‘Bidding Marketplace’ and ‘Freelance’ platform
                        </p>
                     </div>
                  </div>
                  <div class="timeline">
                     <div class="timeline-icon"><span class="year">04</span></div>
                     <div class="timeline-content">
                        <h3 class="title">Q1 2018, March</h3>
                        <p class="description">
                           Whitepaper Public Announcement and Pre-sale Kick off
                        </p>
                     </div>
                  </div>
                  <div class="timeline">
                     <div class="timeline-icon"><span class="year">05</span></div>
                     <div class="timeline-content">
                        <h3 class="title">Q2 2018, April</h3>
                        <p class="description">
                           LOOiX  to conduct ICO Sale
                           <br />
                           &nbsp;
                        </p>
                     </div>
                  </div>
                  <div class="timeline">
                     <div class="timeline-icon"><span class="year">06</span></div>
                     <div class="timeline-content">
                        <h3 class="title">Q2 2018, June</h3>
                        <p class="description">
                           Launching of Exchange & Begin listing BIDM on Major exchanges
                        </p>
                     </div>
                  </div>
                  <div class="timeline">
                     <div class="timeline-icon"><span class="year">07</span></div>
                     <div class="timeline-content">
                        <h3 class="title">Q3 2018, July</h3>
                        <p class="description">
                           Exchange App Launching <br /> &nbsp;
                        </p>
                     </div>
                  </div>
                  <div class="timeline">
                     <div class="timeline-icon"><span class="year">08</span></div>
                     <div class="timeline-content">
                        <h3 class="title">Q3 2018, July</h3>
                        <p class="description">
                           Preparation for Launch – Marketing Campaigns
                        </p>
                     </div>
                  </div>
                  <div class="timeline">
                     <div class="timeline-icon"><span class="year">09</span></div>
                     <div class="timeline-content">
                        <h3 class="title">Q3 2018, August</h3>
                        <p class="description">
                           Launching of Freelance Platform
                           <br /> &nbsp;
                        </p>
                     </div>
                  </div>
                  <div class="timeline">
                     <div class="timeline-icon"><span class="year">10</span></div>
                     <div class="timeline-content">
                        <h3 class="title">Q3 2018, September</h3>
                        <p class="description">
                           Freelance App Launching
                           <br />&nbsp;
                        </p>
                     </div>
                  </div>
                  <div class="timeline">
                     <div class="timeline-icon"><span class="year">11</span></div>
                     <div class="timeline-content">
                        <h3 class="title"> Q4 2018, October</h3>
                        <p class="description">
                           Preparation for Launch – Marketing Campaigns
                        </p>
                     </div>
                  </div>
                  <div class="timeline">
                     <div class="timeline-icon"><span class="year">12</span></div>
                     <div class="timeline-content">
                        <h3 class="title">Q4 2018, November</h3>
                        <p class="description">
                           E-Bid Marketplace Launch
                           <br /> &nbsp;
                        </p>
                     </div>
                  </div>
                  <div class="timeline">
                     <div class="timeline-icon"><span class="year">13</span></div>
                     <div class="timeline-content">
                        <h3 class="title">Q4 2018, December</h3>
                        <p class="description">
                           E-Bid Market App Launch
                           <br /> &nbsp;
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         </div>
         -->
   </section>
   <!-- echo system -->
   <section class="section documents" id="documents" data-anchor="Documents">
      <div class="container reveal-0">
         <div class="row">
            <div class="col-sm-12">
               <div class="text-center">
                  <h2 class="title"><%= translation.documents %></h2>
                  <span class="titleline"><em></em></span>
               </div>
            </div>
            <div class="col-lg-6 col-md-6">
               <a href="./public/assets/images/pdf/Whitepaper-LOOiX-DE.pdf" class="document-bdm">
                  <div class="box_feat">
                     <img src="./public/assets/images/icons/whitepaper.png" class="img-fluid" alt="">
                     <h3>Whitepaper Deutsch</h3>
                  </div>
               </a>
            </div>
            <div class="col-lg-6 col-md-6">
               <a href="./public/assets/images/pdf/Whitepaper-LOOiX-UK.pdf" class="document-bdm">
                  <div class="box_feat">
                     <img src="./public/assets/images/icons/whitepaper.png" class="img-fluid" alt="">
                     <h3>Whitepaper English</h3>
                  </div>
               </a>
            </div>
         </div>
      </div>
   </section>
   <!-- Team section -->
   <section class="section team" id="team" data-anchor="Team">
      <div class="container reveal-0">
         <div class="col-sm-12">
            <div class="text-center">
               <h2 class="title"><%= translation.who_is %> <%= translation.looix %> </h2>
               <span class="titleline"><em></em></span>
            </div>
         </div>
         <div class="row">
            <div class="col-md-4">
               <div class="who-looix height-partners">
                  <img src="./public/assets/images/who/logo-arico-invest.svg" alt="arico-invest">
                  <div class="who-looix-content text-center">
                     <h3 class="title mb-0">AIA Arico Invest AG</h3>
                     <h5>Flughofstrasse 50 CH-8152 glattbrugg Schweiz</h5>
                     <a href="http://www.arico-ag.com/">www.arico-ag.com</a>
                  </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="who-looix height-partners">
                  <img src="./public/assets/images/who/iss.png" alt="iss">
                  <div class="who-looix-content text-center">
                     <h3 class="title mb-0">Internet Sport Service Ltd.</h3>
                     <h5 class="post">68 South Lambeth Rd. London SW8 1RL United Kingdom</h5>
                     <a href="http://www.internet-sport-service.com">www.internet-sport-service.com</a>
                  </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="who-looix height-partners">
                  <img src="./public/assets/images/tipwin.png" alt="tipiwin">
                  <div class="who-looix-content text-center">
                     <h3 class="title mb-0">Tipiwin (curacao) N.V.</h3>
                     <h5 class="post">Dr. M.J Hugenholtzweg Z/H UTS gebouw curacao</h5>
                     <a href="http://www.tipiwin.com/">www.tipiwin.com</a>
                     <h5 class="post">eGaming Licence # 1668 JAX Certificate Agreement: CEP-IP/2015-2705</h5>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- Partners -->
   <section class="section partners" data-anchor="partners">
      <div class="container reveal-0">
         <div class="col-sm-12">
            <div class="text-center">
               <h2 class="title"><%= translation.payment_partners %></h2>
               <span class="titleline"><em></em></span>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <div class="partners-img"><img src="./public/assets/images/partners.png" alt="apcopay" class="responsive-img"></div>
            </div>
         </div>
      </div>
   </section>
   <section class="section" data-anchor="Soft-Partners">
      <div class="container-fluid reveal-0">
         <div class="col-sm-12">
            <div class="text-center">
               <h2 class="title"><%= translation.software_partners %></h2>
               <span class="titleline"><em></em></span>
            </div>
         </div>
         <div class="row">
           
           <div class="col-md-12 col-lg-3 col-xl-3 mt-3">
               <div class="who-looix">
                  <div class="image-bottom">
                     <img src="./public/assets/images/who/cbcx1.png" alt="iss">
                  </div>
                  <div class="who-looix-content">
                     <h3 class="title mt-3 mb-0">CBCX Betting technologies computer betting company GmbH</h3>
                     <h5 class="post">Füchselbachstraße 7 4060 Leonding, Austria</h5>
                     <a href="https://www.cbc-x.com">www.cbc-x.com</a>
                     <h3 class="title mt-4 mb-0">S-TECH Investment Limited</h3>
                     <h5 class="post">Elisbethinergasse 22, A-8020 Graz, Austria</h5>
                  </div>
               </div>
            </div>
            <div class="col-md-12 col-lg-3 col-xl-3 mt-3">
               <div class="who-looix">
                  <div class="image-bottom">
                     <img src="./public/assets/images/who/arland.png" alt="arico-invest">
                  </div>
                  <div class="who-looix-content">
                     <h3 class="title mt-3 mb-0">ARLAND - Trading GmbH</h3>
                     <h5>Elisabethinergasse 22 A-8020 Graz, Austria</h5>
                     <a href="http://www.arland.at/">www.arland.at</a>
                  </div>
               </div>
            </div> 
            
            
            <div class="col-md-12 col-lg-3 col-xl-3 mt-3">
               <div class="who-looix">
                  <div class="image-bottom">
                     <img src="./public/assets/images/who/digitain.png" alt="tipiwin">
                  </div>
                  <div class="who-looix-content">
                     <h3 class="title mt-3 mb-0">Digitain Holding Limited</h3>
                     <h5 class="post">Clinch’s House Lord Street, Douglas, Isle of Man IM99 1RZ</h5>
                     <a href="https://www.digitain.com/">www.digitain.com/</a>
                  </div>
               </div>
            </div>
            <div class="col-md-12 col-lg-3 col-xl-3 mt-3">
               <div class="who-looix">
                  <div class="image-bottom">
                     <img src="./public/assets/images/who/cbsa.png" alt="tipiwin">
                  </div>
                  <div class="who-looix-content">
                     <h3 class="title mt-3 mb-0 text-center">Com-Bet.com</h3>
                     <h5 class="post">Commerz Park West 1 , A-4061 Pasching, Austria</h5>
                     <a href="http://www.com-bet.com">www.com-bet.com</a>
                     <h3 class="title mt-4 mb-0">Phalanx Gmbh</h3>
                     <h5 class="post">Goethestraße 12, D-89073 ULm, Germany</h5>
                  </div>
               </div>
            </div>

         </div>
      </div>   
   </section>
<!-- Floating Social Media bar Starts -->
<!--<div class="float-sm">
   <div class="fl-fl float-fb">
      <i class="fa fa-facebook"></i>
      <a href="https://www.facebook.com/Looix" target="_blank" class="folw"> Like us!</a>
   </div>
   <div class="fl-fl float-tw">
      <i class="fa fa-twitter"></i>
      <a href="https://twitter.com/Looix official" target="_blank" class="folw">Follow us!</a>
   </div>
   <div class="fl-fl float-gp">
      <i class="fa fa-telegram"></i>
      <a href="https://t.me/Looix" target="_blank" class="folw">Connect</a>
   </div>
   </div>-->
<!-- Floating Social Media bar Ends -->
<!-- check whitelist modal box-->
<!--
   <div class="modal fade" id="whitelistmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Check Whitelist</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <div class="login-form col-sm-12">
                  <div class="col-sm-12">
                     <form class="tab-content active">
                        <div class="form-group form-row">
                           <input type="text" name="address" value="" placeholder="Enter ETH wallet address" class="form-control" id="erc20" autocomplete="off">
                           <span class="help-block text-danger" id="message">
                           </span>
                        </div>
                        <div class="text-center">
                           <button type="button" onClick="checklstUser()" class="btn btn-login text-center">Check</button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   -->
<!-- -->
<% include ../partials/footer %>
<%- contentFor('footer') %>
</div>

<script>
   /* _____________________________________
   
   Count down
   _____________________________________ */
   var start_date = "<%= setting.ico_start_date %>";
   console.log(start_date);
   var convertedStartDate = new Date(start_date);
   

   //var countDownDate = moment("2018-04-19 00:00:00", "YYYY-MM-DD HH:mm:ss").valueOf(); 
   var countDownDate = moment(convertedStartDate, "YYYY-MM-DD HH:mm:ss").valueOf();
    
   // Update the count down every 1 second
   var countdownfunction = setInterval(function() {
      
       // Get todays date and time
       var now = new Date().getTime();
       
       // Find the distance between now an the count down date
       var distance = countDownDate - now;
       
       // Time calculations for days, hours, minutes and seconds
       var days = Math.floor(distance / (1000 * 60 * 60 * 24));
       var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
       var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
       var seconds = Math.floor((distance % (1000 * 60)) / 1000);
       
       // Output the result in an element with id="timer"
       document.getElementById("timer").innerHTML = "<span>" + days + "<span class='timer-cal'>days</span></span>" + "<span>" + hours + "<span class='timer-cal'>hours</span></span> "
       + "<span>" + minutes + "<span class='timer-cal'>minutes</span></span> " + "<span>" + seconds + "<span class='timer-cal'>second</span></span> ";
       
       
       // If the count down is over, write some text 
       if (distance < 0) {
         clearInterval(countdownfunction);
         document.getElementById("timer").innerHTML = "EXPIRED";
         //location.reload();
      }
   }, 1000);
   
   $(document).ready(function(){
      
      // Add smooth scrolling to all links
      $("nav a").on('click', function(event) {
         
         // Make sure this.hash has a value before overriding default behavior
         if (this.hash !== "") {
            
            // Prevent default anchor click behavior
            event.preventDefault();
            
            // Store hash
            var hash = this.hash;
            
            // Using jQuery's animate() method to add smooth page scroll
            // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
            $('html, body').animate({
               scrollTop: $(hash).offset().top
            }, 800, function(){
               
            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
         });
         } // End if
      });
   });
   
   $(document).ready(function() {
      
      $('.faq .question').on('click', function () {
         $(this).parents('.panel').toggleClass('open').siblings().removeClass('open');
         $(this).siblings('.answer').slideToggle(225);
         $(this).parents('.panel').siblings().find('.answer').slideUp(225);
      });
      
   });
   $(document).ready(function() {
      $('.tabnav-invest li').on('click', function () {
        $('.tabnav-invest li').removeClass("active");
        $(this).addClass("active");
     });
   });
   
   
   
   
   (function() {
     var selectors = {
       nav: '[data-features-nav]',
       tabs: '[data-features-tabs]',
       active: '.__active'
    }
    var classes = {
       active: '__active'
    }
    $('a', selectors.nav).on('click', function() {
       let $this = $(this)[0];
       $(selectors.active, selectors.nav).removeClass(classes.active);
       $($this).addClass(classes.active);
       $('div', selectors.tabs).removeClass(classes.active);
       $($this.hash, selectors.tabs).addClass(classes.active);
       return false
    });
   }());
   
   $(".btn-with-icon").on("click", function() {
     $(".wave-anim").addClass('visible').one("webkitAnimationEnd mozAnimationEnd MSAnimationEnd", function() {
       $(".wave-anim").removeClass('visible');
    });
   });
   
      /*skip-video */
      $(document).ready(function() {
            $('#skip-video').on('click', function () {
                            
              $('#pvid').html("");
              $('.main-video-container-home').css("opacity","0");
              $('.main-video-container-home').css("display","none");
              $('#button').css("display","none");
              $(this).addClass('dis-none');              
              $(".main-theme-font").css("transform","translateX(0px)");
              $(".ico-lunch").css("transform","translateX(0px)");
              $(".bottom-anim").css("transform","translateY(0px)");
              $(".prog-bottom-anim").css("transform","translateY(0px)");
              

           });
         });


      $(document).ready(function() {
         setTimeout(function(){             
              $('.main-video-container-home').css("opacity","0");
              $('.main-video-container-home').css("display","none");
              $('#button').css("display","none");
              $(this).addClass('dis-none');
              $(".main-theme-font").css("transform","translateX(0px)");
              $(".ico-lunch").css("transform","translateX(0px)");
              $(".bottom-anim").css("transform","translateY(0px)");
              $(".prog-bottom-anim").css("transform","translateY(0px)");


         }, 27000);
      });
   
   window.onload = function() {
    var audioPlayer = document.getElementById("abtvideo");
           //audioPlayer.load();
           //audioPlayer.play();
        };
        
   window.sr = ScrollReveal();
   
   // Customizing a reveal set
   sr.reveal('.reveal-0', { duration: 500 ,delay : 100 ,rotate: { x: 0, y: 0, z: 0 }});
        
   // check whitelist user
   function checklstUser()
   {
     var address = $('#erc20').val();
     
     $.get("checklstUser/"+address, function(data, status){
      $('#message').empty();
      if(data == 1)
      {
         $('#message').removeClass();
         $('#message').addClass('help-block text-success');
         $('#message').append('<strong> This Address is Whitelisted </strong>')
      }else{
         $('#message').removeClass();
         $('#message').addClass('help-block text-danger');
         $('#message').append('<strong> This Address Not Whitelisted Now </strong>')
      }
   });  
   }
   
   
   var $owl = $('.owl-carousel');
   
   $owl.children().each( function( index ) {
   $(this).attr( 'data-position', index ); // NB: .attr() instead of .data()
   });
   
   $owl.owlCarousel({
   center: true,
   loop: true,
   items: 5,
   });
   
   $(document).on('click', '.owl-item>div', function() {
   $owl.trigger('to.owl.carousel', $(this).data( 'position' ) );
   });
</script>