@media (max-width: 1366px) {
    /*.form-bg{
         height: auto !important;
    }
    */
     .home{
         height: auto;
         padding-bottom: 30px;
    }
     .login-new-bg{
         height: 100vh;
    }
     .rg-form-bg{
         height: auto;
    }
}
 
@media (max-width: 1199px) {
     .nice-nav {
         top: 95px;
    }
     .nice-nav~.dashboard-body {
         margin-top:90px;
    }
}
@media (min-width: 1199px) {
     .nice-nav {
         top: 65px;
    }
     .nice-nav~.dashboard-body {
         margin-top: 66px;
    }
}



@media (max-width: 991px){
    .nice-nav {
        top: 120px;
    }
    .dashboard-wrapper {
        margin-top: 110px;
    }
 }
 @media (max-width: 800px){
     .nice-nav {
         top: 120px;

    }
     .nice-nav~.dashboard-body {
         margin-top: 90px;
    }
    .header-bottom {
         background:white;
    }
}
 @media only screen and (max-width: 768px){
    .dashboard-sidebar{
        margin-left: 25px;
    }
    .nice-nav {
        top: 125px;
    }
    .nice-nav~.dashboard-body {
            margin-top: 110px;
    }
    .docs-pictures > li > img{
        width: 100% !important;
        height: 100% !important;
    }
 }
 @media only screen and (max-width: 767px){
     .home{
         height: auto;
         padding-bottom: 0px;
    }
     .main-theme-font{
         font-size: 20px;
    }
     .main-sub-f{
         padding: 0 !important;
         margin: 0 !important;
         font-size: 14px !important;
    }
     .legend li {
         width: auto;
    }
     .pie{
         margin: 0 0px 30px 0;
    }
     
     .dashboard-sidebar {
         float: right !important;
    }
     ul.social-links-list li{
         width: 50% ;
    }
     .footer-menu{
         padding:0;
    }
     .dashboard-curruncy {
         text-align: center !important;
    }
     .dashboard-header .rating-info {
         padding: 0;
    }
     .dashboard-header .rating-info li {
         padding-left: 0px !important;
    }
     .nice-nav {
         top: 95px;
             position: sticky;
    }
     .nice-nav~.dashboard-body {
         margin-top: -10px;
    }
     .dashboard-body {
         padding: 15px;
    }
     .dashboard-wrapper {
         margin-top: 101px;
    }
     .timer-wrapper p>span {
         font-size: 17px !important;
         padding: 0px !important;
    }
     ul.investment-service:before, ul.investment-service:after {
         display: none;
    }
     ul.investment-service li, ul.investment-service {
         position: relative;
         left: 0 !important;
         right: 0 !important;
         bottom: 0 !important;
         top: 0 !important;
    }
     ul.investment-service li {
         display: inline-block;
         width: auto;
         margin: 30px;
    }
     .opportunity-wrapper {
         margin-top: 0px;
         margin-bottom: 0;
    }
     ul.investment-service {
         width: auto;
         height: auto;
         text-align: center;
         margin: 0px auto 
    }
     .work-cont {
         opacity:1;
         left: 0 !important;
    }
     .how-w-circle {
         width: 100%;
    }
     .work-cont p {
         color: #fff;
         animation: scaleDisappear 0.3s;
         width: 100% !important;
         text-align: left !important;
    }
     ul.investment-service li:nth-child(1) .work-cont {
         background-color: #e0e0e000;
         position: relative;
         top: 50px;
         left: 0;
         opacity: 1;
         margin: auto 0;
         width: 100%;
    }
     ul.investment-service li:nth-child(1) {
         margin: 15px auto;
         width: 100%;
         text-align: center;
    }
     ul.investment-service li:nth-child(2) {
         margin: 60px auto 0;
         text-align: center;
    }
     ul.investment-service li:nth-child(3) {
         margin: 0 auto;
         width: 100%;
         text-align: center;
    }
     ul.investment-service li:nth-child(4) {
         width: 100%;
         text-align: center;
         margin-left: auto;
         margin-top: 250px;
    }
     ul.investment-service li:nth-child(5) {
         margin: -30px auto 0;
         width: 100%;
         text-align: center;
    }
     ul.investment-service li:nth-child(5) .work-cont {
         background-color: #e6e6e600;
         position: relative;
         top: 40px;
         left: -77px;
         height: 0px;
         margin: 0 auto;
    }
     ul.investment-service li:nth-child(6) {
         display:none;
    }
     .rounded-circle{
         border-radius: 0 !important;
    }
     .how-w-circle{
         border: 1px solid #269298;
         position: relative;
         text-align: center;
         margin: 0 auto;
    }
     .how-w-circle:hover {
         box-shadow: 0px 0px 27px #1f365c52;
         border: 1px solid #269298;
         transition: all 0.4s;
    }
     .progress-total-coin {
         font-size: 10px !important;
    }
     .progress-total-text {
         font-size: 9px !important;
    }
     .form-bg{
        /*height: auto;
        */
    }
     .validate-page .form-bg{
         height: 100vh;
    }
     .validate-page .login-left-div{
         height: auto;
    }
}
/*microsoft lumia 550*/
 @media screen and (max-width: 640px) and (max-height: 360px){
    .form-bg {
         height: auto;
    }
 }
 @media screen and (max-width: 600px) {
     .xs-center{
         text-align: center;
        /*padding-top: 10px;
        */
    }
     .form-bg{
        /*height: auto;
        */
    }
    .login-box .login-info{
        border-right: 0;
        border-bottom: 2px solid #ddd;
    }
}
 @media (max-width: 575px) {
     .xs-center{
         text-align: center;
         padding-top: 10px;
    }
     .form-bg{
         height: auto !important;
    }
     .login-box {
         margin-top: 0px;
         margin-bottom: 0px;
    }
     .text-left-md{
         text-align: center;
    }
     .nice-nav {
         top: 155px;
    }
     .nice-nav~.dashboard-body {
         margin-top: 150px;
    }
}
 @media screen and (max-width: 480px) {
    /*.xs-center{
         text-align: center ;
    }
    */
    .docs-pictures > li > img{
        width: 100% !important;
        height: 100% !important;
    }
     .forgt-pas-height .form-bg{
         height: 100%;
    }
    
     .validate-page .form-bg {
         height: 100vh !important;
    }
    span.btn.btn-default.btn-file {
        width: 80%;
    }
    .nice-nav {
        top: 125px;
        position: sticky;
    }
     .nice-nav~.dashboard-body {
         margin-top: 125px;
    }
}
 @media only screen and (max-width: 448px){
     .dashboard-wrapper {
         margin-top: 172px;
    }
     /*.nice-nav {
         top: 179px;
    }*/
    .nice-nav~.dashboard-body {
        margin-top: -20px;
    }
     .nice-nav {
         top: 150px;
    }
    span.btn.btn-default.btn-file {
        width: 75%;
    }
}
 @media only screen and (max-width: 320px){
     .frg-pas{
         text-align: center !important;
    }
     .xs-res-font{
         font-size: 16px;
    }
    .nice-nav~.dashboard-body {
        margin-top: 10px;
    }
     .nice-nav {
         top: 185px;
    }
}
