<%- contentFor('head') %>
<%- contentFor('body') %>
<% include ../../partials/header %>
<style >

</style>
<% include ../../partials/sidebar %>
<div class="dashboard-wrapper">
   <% include ../../partials/sidebar %>
</div>
<style type="text/css">
  
</style>
 <div class="dashboard-body">
   <div class="row">
     <div class="col-sm-12">
        <h4 class="page-title">Deposit</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href=""><i class="fa fa-home" aria-hidden="true"></i></a>
            </li>
            <li class="breadcrumb-item"><a href="#">Deposit</a>
            </li>
        </ol>
    </div> 


        <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            <h4>Deposit</h4>
          </div>
        <div class="card-body">
 <form class="form-horizontal theme-form" >
            <div class="col-lg-12 col-md-12">
            <div id="error_message"></div>
                <div class="form-group token_error">
                  <label for="address"><b>Amount to Withdraw</b></label>
                  <input type="number" class="form-control"  name="fiat_amount" required="" id="fiat_amount"  placeholder="0.00000000" onkeyup="checkNumber(this)" autocomplete="off">
                  <span id="error"></span>
                </div>
                <input type="hidden" id="fiat_currency" value="<%= coin %>" >
                <div class="form-group text-left">
                  <div class="btn-deposit text-right">Deposit</div>
                    <span class="btn btn-outline-light ml-2 paypal-checkout-button opt-0">    
                        <div id="paypal-button-container"></div>
                    </span>
                </div>
          </div>
        </form>
       </div>
       </div>
       </div>

              <div class="col-md-12 col-lg-8">
            <div class="card">
              <div class="card-header">
                <h4>Balances</h4>
              </div>
               <div class="card-body coin-value">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="media">
                        <img class="mr-3" src="../public/assets/images/euro.png" alt="Euro">
                        <div class="media-body">
                          <h5 class="mt-2">
                          EUR Balance</h5>
                          <h4 class="blue-font mt-0 ">
                             <%= user.euro_bal.toFixed(2) %>
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="media">
                        <img class="mr-3" src="../public/assets/images/$.png" alt="ETH">
                        <div class="media-body">
                          <h5 class="mt-2">
                          USD Balance</h5>
                          <h4 class="blue-font mt-0 ">
                          <%= user.usd_bal.toFixed(2) %>
                          </h4>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
            </div>



      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4>Deposit History</h4>
          </div>
          <div class="card-body">
          <table id="data-table" class="table table-striped data-table dataTable no-footer" cellspacing="0" width="100%">
                <thead class="thead-dark">
                   <th scope="col">Sr.</th>
                   <th scope="col">Amount (<%= coin %>)</th>
                   <th scope="col">Type</th>
                   <th scope="col">Txid/Payment ID</th>
                   <th scope="col">Status</th>
                </thead>
              
                <tbody>
                <% var i=1; %>
                  <% var i=1; %>
                     <% if(deposit.length>0){ deposit.forEach(function(deposit) { %>
                      <tr>
                       <td> <%=  i++; %></td>
                       <td><%= deposit.amount %></td>
                       <td><%= deposit.currency %></td>
                       <td><%= deposit.payment_id %></td>
                       <td><% if(deposit.status==0){ %> <span class="badge badge-warning"> Pending </span> <% }else if(deposit.status==1){ %> <span class="badge badge-success">Completed </span> <% }else if(deposit.status==2){ %> <span class="badge badge-danger">Rejected</span> <% }  %></td>
                      </tr>
                      <% });} %>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div> 
</div>

<%- contentFor('footer') %>



 <!--<script src="https://www.paypalobjects.com/api/checkout.js"></script>--> 
 <script src="../public/assets/js/paypal-checkout.js"></script>
    <script src="../public/assets/js/jquery-paypal.js"></script>
    <script>
     
    </script>
<script>
  $(document).ready(function() {
          $('#data-table').DataTable();
      });


function checkNumber(elem){
        var val = $(elem).val();
          if(!isNaN(val)){
                 val = val.replace(/[^0-9\.]/g,'');
                 if(val.split('.').length>2)
                     val = val.replace(/\.+$/,"");
                 $(elem).val(val);
            }
        }
        paypal.Button.render({

            env: 'sandbox', // sandbox | production

            // PayPal Client IDs - replace with your own
            // Create a PayPal app: https://developer.paypal.com/developer/applications/create
            client: {
                sandbox:    'AZDxjDScFpQtjWTOUtWKbyN_bDt4OgqaF4eYXlewfBP4-8aqX3PiV8e1GWU6liB2CUXlkA59kJXE7M6R',
                production: 'AVMG2mciUQMlaVcsDHli8WqzdnOriE147OUIj-q4keUEWIg_TkwPPBU8N2o2eUqm5n1uLlk0C-p5M58b'
            },

            // Show the buyer a 'Pay Now' button in the checkout flow
            commit: true,

            // payment() is called when the button is clicked
            payment: function(data, actions) {
                var amount = $("#fiat_amount").val(); 
                var currency = $("#fiat_currency").val();
                if(amount=="" || typeof amount === 'undefined' )
                {
                 $("#error_message").html("<div class='alert alert-danger'>Please enter amount first</div>");
                 return 0;
                 // Window.location.reload();
                }
                else{
                // Make a call to the REST api to create the payment
                return actions.payment.create({
                    payment: {
                        transactions: [
                            {
                                amount: { total: amount, currency: currency }
                            }
                        ]
                    }
                });
                }
            },

            // onAuthorize() is called when the buyer approves the payment
            onAuthorize: function(data, actions) {
                console.log(data);
                var amount = $("#fiat_amount").val(); 
                var currency = $("#fiat_currency").val();
                $.ajax({
                   type: 'post',
                   url:"/success-order",
                   data: "paymentID="+data.paymentID+"&paymentToken="+data.paymentToken+"&orderID="+data.orderID+"&payerID="+data.payerID+"&amount="+amount+"&currency="+currency,
                   success: function (responseData) {
                        if(responseData == "done"){
                        // Make a call to the REST api to execute the payment
                            return actions.payment.execute().then(function() {
                                window.alert('Payment Complete!');
                                Window.location.reload();
                            });
                        }
                        else{

                        }
                   }
                })
            },
            onCancel: function(data) {
            window.alert('The payment was cancelled!');
           // console.log('The payment was cancelled!');
        }
        }, '#paypal-button-container');



    </script>