<%- contentFor('head') %>
<%- contentFor('body') %>
<% include ../../partials/header %>
<% include ../../partials/sidebar %>
<div class="dashboard-wrapper">
</div>
 <div class="dashboard-body">
   <div class="row">
     <div class="col-sm-12">
        <h4 class="page-title">Deposit</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href=""><i class="fa fa-home" aria-hidden="true"></i></a>
            </li>
            <li class="breadcrumb-item"><a href="#">Wallet</a>
            <li class="breadcrumb-item"><a href="#">Deposit</a>
            </li>
        </ol>
    </div> 


        <div class="col-md-12 col-lg-4">
            <div class="card">
              <div class="card-header">
                <h4><%= coin %> Deposit</h4>
              </div>
              <div class="card-body">
                <div id="qrcode" style="text-align:  center;">
                    <img src="<%= data %>" width="150px" height="150px" >
                </div>
                <div class="mb-4"></div>
                <h3 style="text-align:center;margin-bottom: 15px;">Address</h3>
                <p style="text-align:center;color:  #fff;"><%= address %></p>
              </div>
            </div>
        </div>


        <div class="col-md-12 col-lg-8">
            <div class="card">
              <div class="card-header">
                <h4>Balances</h4>
              </div>
               <div class="card-body coin-value">
                  <div class="row">
                    <div class="col-lg-6 mt-2">
                      <div class="media">
                        <img class="mr-3" src="../public/assets/images/bitcoin.png" alt="bitcoin">
                        <div class="media-body">
                          <h5 class="mt-2">
                          BTC Balance</h5>
                          <h4 class="blue-font mt-0 ">
                             <%= user.btc_bal.toFixed(8) %>
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 mt-2">
                      <div class="media">
                        <img class="mr-3" src="../public/assets/images/icon-eth.png" alt="ETH">
                        <div class="media-body">
                          <h5 class="mt-2">
                          ETH Balance</h5>
                          <h4 class="blue-font mt-0 ">
                          <%= user.eth_bal.toFixed(8) %>
                          </h4>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
            </div>


        <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4>Transaction History</h4>
          </div>
          <div class="card-body table-responsive">
           <table id="data-table" class="table table-striped data-table dataTable no-footer" cellspacing="0" width="100%">
             <thead class="thead-dark">
              <tr>
               <th scope="col">Sr.</th>
               <th scope="col">Amount (<%= coin %>)</th>
               <th scope="col">Type</th>
               <th scope="col">Txid</th>
               <th scope="col">Status</th>
             </tr>
           </thead>
           <tbody>
             <% var i=1; %>
               <% if(deposit.length>0){ deposit.forEach(function(deposit) { %>
                <tr>
                 <td> <%=  i++; %></td>
                 <td><%= deposit.amount %></td>
                 <td><%= deposit.currency %></td>
                 <td><%= deposit.tx_id %></td>
                 <td><% if(deposit.status==0){ %> <span class="badge badge-warning"> Pending </span> <% }else if(deposit.status==1){ %> <span class="badge badge-success">Completed </span> <% }else if(deposit.status==2){ %> <span class="badge badge-danger">Rejected</span> <% }  %></td>
                </tr>
                <% });} %>
         </tbody>
       </table>
     </div>
    </div>
   </div>

  </div> 
</div><!-- end dashboard body -->
<script type="text/javascript">
  $(document).ready(function() {
$('#data-table').DataTable();
});
</script>
<%- contentFor('footer') %>