<%- contentFor('head') %>
<%- contentFor('body') %>
<% include ../../partials/header %>
<% include ../../partials/sidebar %>
<div class="dashboard-wrapper">
   <% include ../../partials/sidebar %>
</div>
 <div class="dashboard-body">
   <div class="row">
     <div class="col-sm-12">
        <h4 class="page-title">Deposit</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href=""><i class="fa fa-home" aria-hidden="true"></i></a>
            </li>
            <li class="breadcrumb-item"><a href="#">Deposit</a>
            </li>
        </ol>
    </div> 

        <div class="card-body">
          <p>You can easily deposit <b>money</b> into your Looix account! Simply transfer money to any of the accounts below:</p>
        <div class="inner">
          <p>Bank: <b>Nedbank</b><br />
          Account: <b>Looix (Pty) Ltd</b><br />
          Account type: <strong>Current</strong><br />
          Branch code: <b>19720500</b><br />
          Account number: <b>1158806744</b><br />
          Reference: <b><span class="trade-account-no"><%= user.trade_account_no %> </span></b></p>
          <p>Please make sure you don&#39;t forget to use your&nbsp;Trader account number as a reference!</p>
          <p>&nbsp;</p>
        </div>
          <div class="col-lg-12">
              <% if (error.length > 0) { %>
                <div class="alert alert-danger flash"><%= error %></div>
              <% } %> 
              <% if (success.length > 0) { %>
                <div class="alert alert-success flash"><%= success %></div>
              <% } %>
          </div>
            <form class="form-horizontal theme-form" method="post" action="/deposit-fiat/<%= coin %>">
                <div class="form-group token_error">
                  <label for="address">Amount to Deposit</label>
                  <input type="text" class="form-control"  name="fiat_amount" required="" id="fiat_amount"  placeholder="0.00000000">
                  <span id="error"></span>
                </div>
                <input type="hidden" id="fiat_currency" value="<%= coin %>" >
                <div class="form-group text-left">
                    <input type="submit" class="btn btn-primary" value="Deposit" />
                </div>
          </form>
       </div>
    </div> 
</div><!-- end dashboard body -->
<%- contentFor('footer') %>