<%- contentFor('head') %>
<%- contentFor('body') %>
<% include ../../partials/header %>
<% include ../../partials/sidebar %>
<div class="dashboard-wrapper">
</div>
<style type="text/css">button.btn.btn-outline-dark {
    background: #2b989f;
    color: #fff;
}</style>
 <div class="dashboard-body">
   <div class="row">
     <div class="col-sm-12">
        <h4 class="page-title">Wallet</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href=""><i class="fa fa-home" aria-hidden="true"></i></a>
            </li>
            <li class="breadcrumb-item"><a href="#">Wallet</a>
            </li>
        </ol>
    </div> 
   <!-- Wallet -->
     <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4>Deposit & Withdrawal</h4>
          </div>
          <div class="card-body table-responsive">
           <table id="data-table" class="table table-striped data-table dataTable no-footer" cellspacing="0" width="100%">
             <thead class="thead-dark">
              <tr>
               <th scope="col">Currency</th>
               <th scope="col">Name</th>
               <th scope="col">Account Balance</th> 
               <th scope="col">Bonus</th>
               <th scope="col">Action</th>
             </tr>
           </thead>
           <tbody>
            <tr>
             <th scope="row">
              <img style="height: 50px;" src="./public/assets/images/bitcoin.png" alt="BTC">
             </th>
             <td>BTC</td>
             <td><%= user.btc_bal.toFixed(8) - user.btc_bonus_bal.toFixed(8) %> </td>
             <td><%= user.btc_bonus_bal.toFixed(8) %> </td>
             <td>
              <a href="/deposit/BTC" alt="deposit"> <button type="button" class="btn btn-theme mb-2">Deposit</button></a>
              <a href="/withdraw/BTC" alt="withdraw"><button type="button" class="btn btn-theme mb-2" >Withdraw</button></a>
             </td>
            </tr>
            <tr>
              <th scope="row">
                <img style="height: 50px;" src="./public/assets/images/icon-eth.png"  alt="ETH"></th>
                <td>ETH</td>
              <td><%= user.eth_bal.toFixed(8) - user.eth_bonus_bal.toFixed(8) %> </td> 
              <td><%= user.eth_bonus_bal.toFixed(8) %> </td>
              <td>
                 <a href="deposit/ETH"> <button type="button" class="btn btn-theme mb-2">Deposit</button></a>
                 <a href="/withdraw/ETH" alt="withdraw"><button type="button" class="btn btn-theme mb-2" >Withdraw</button></a>
              </td>
           </tr>
           <tr>
              <th scope="row">
                <img style="height: 50px;" src="./public/assets/images/$.png"  alt="USD"></th>
                <td>USD</td>
              <td><%= user.usd_bal.toFixed(2) - user.usd_bonus_bal.toFixed(2) %> </td>
              <td><%=  user.usd_bonus_bal.toFixed(2) %> </td>
              <td>
                <a href="deposit-fiat/USD"> <button type="button" class="btn btn-theme mb-2">Deposit</button></a>
                <a href="/withdraw-fiat/USD" alt="withdraw"><button type="button" class="btn btn-theme mb-2" >Withdraw</button></a>
              </td>
           </tr>
           <tr>
              <th scope="row">
                <img style="height: 50px;" src="./public/assets/images/euro.png" alt="EUR"></th>
                <td>EUR</td>
              <td><%= user.euro_bal.toFixed(2) - user.eur_bonus_bal.toFixed(2) %> </td>
              <td><%=  user.eur_bonus_bal.toFixed(2) %> </td>
              <td>
                 <a href="deposit-fiat/EUR"> <button type="button" class="btn btn-theme mb-2">Deposit</button></a>
                 <a href="/withdraw-fiat/EUR" alt="withdraw"><button type="button" class="btn btn-theme mb-2" >Withdraw</button></a>
              </td>
           </tr> 
           <tr>
              <th scope="row">
                <img style="height: 50px;" src="../public/assets/images/logo-2.png" alt="LOOiX"></th>
                <td>LOOiX</td>
              <td><%= user.total_token %></td>
              <td>-</td>
              <td>
                <a href="/buy-token"> <button type="button" class="btn btn-theme mb-2">Deposit</button></a>
                <a href="/withdraw-looix" alt="withdraw"><button type="button" class="btn btn-theme mb-2" >Withdraw</button></a>
              </td>
           </tr>
         </tbody>
       </table>
     </div>
    </div>
   </div>
   <!-- Wallet end -->

 </div> 
</div><!-- end dashboard body -->
<script type="text/javascript">
  $(document).ready(function() {
$('#data-table').DataTable();
});
</script>
<%- contentFor('footer') %>
