<%- contentFor('head') %>
<%- contentFor('body') %>
<% include ../../partials/header %>
<% include ../../partials/sidebar %>
<div class="dashboard-wrapper">
<% include ../../partials/sidebar %>
</div>
 <div class="dashboard-body">
   <div class="row">
     <div class="col-sm-12">
        <h4 class="page-title">Withdraw</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href=""><i class="fa fa-home" aria-hidden="true"></i></a>
            </li>
            <li class="breadcrumb-item"><a href="#">Withdraw</a>
            </li>
        </ol>
    </div> 

     <div class="col-sm-4">
            <div class="card">
              <div class="card-header">
                <h4>Withdraw Amount</h4>
              </div>
              <div class="card-body">
                <form class="form-horizontal theme-form mt-2 row" method="post" action="/withdraw-looix" >
                
                 <div class="col-lg-12">
                  <div id="error_msg"></div>
                   <div id="alert-suceess-error-withdraw"></div>
                  <% if (error.length > 0) { %>
                    <div class="alert alert-danger flash"><%= error %> <br><br></div>
                  <% } %> 
                  <% if (success.length > 0) { %>
                    <div class="alert alert-success flash"><%= success %> <br><br></div>
                  <% } %>
                </div>
                    <div class="form-group col-md-12">
                       <label for="address"><b>Address</b></label>
                       <p style="color:  #fff;"><%= user.erc20_address %></p>
                    </div>
                    <div class="form-group col-md-12">
                       <label for="amount"><b>Tokens to withdraw</b></label>
                       <p id="total_token" style="color:  #fff;"> <%= user.total_token %> </p>
                    </div>
                    <div class="form-group col-md-12">
                       <label for="amount">Tokens to withdraw</label>
                       <input type="number" class="form-control" name="amount" value="" id="amount" onkeyup="checkAmount(this)" autocomplete="off" >
                    </div>

                    <div class="form-group col-md-12 text-right">
                       <button type="submit" id="withdraw-coin" class="btn  btn-theme mt-4">Withdraw</button>
                    </div>
                </form>
              </div>
            </div>
        </div>


        <div class="col-sm-8">
            <div class="card">
              <div class="card-header">
                <h4>Balances</h4>
              </div>
               <div class="card-body coin-value">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="media">
                        <img class="mr-3" src="../public/assets/images/logo-2.png" alt="bitcoin">
                        <div class="media-body">
                          <h5 class="mt-2">
                          LOOiX Balance</h5>
                          <h4 class="blue-font mt-0 ">
                            <%= user.total_token %>
                          </h4>
                        </div>
                      </div>
                      </div>

                    </div>
                  </div>
                </div>
            </div>



        <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4>Transaction History</h4>
          </div>
          <div class="card-body table-responsive">
           <table id="data-table" class="table table-striped data-table" cellspacing="0" width="100%">
             <thead class="thead-dark">
              <tr>
               <th scope="col">Sr.</th>
               <th scope="col">Amount (LOOiX)</th>
               <th scope="col">Type</th>
               <th scope="col">Txid</th>
               <th scope="col">Status</th>
             </tr>
           </thead>
           <tbody>
            <% var i=1; %>
           <% withdraw.forEach(function(withdraw) { %>
            <tr>
             <td> <%=  i++; %></td>
             <td><%= withdraw.amount %></td>
             <td><%= withdraw.currency %></td>
             <td><%= withdraw.payout_batch_id %></td>
             <td><% if(withdraw.status==0){ %> <span class="badge badge-warning"> Pending </span> <% }else if(withdraw.status==1){ %> <span class="badge badge-success">Completed </span> <% }else if(withdraw.status==2){ %> <span class="badge badge-danger">Rejected</span> <% }  %></td>
            </tr>
            <% }); %>
         </tbody>
       </table>
     </div>
    </div>
   </div>
  </div>
</div>
<!-- end dashboard body -->
<%- contentFor('footer') %>

<script>


  $(document).ready(function() {
$('#data-table').DataTable();
});


$(document).ready(function() {
   $("#withdraw-coin").prop('disabled',true);
 })

    function checkAmount(elem){

        var token = $(elem).val();
      if(!isNaN(token)){
             val = token.replace(/[^0-9\.]/g,'');
             if(val.split('.').length>2)
                 val = val.replace(/\.+$/,"");
             $(elem).val(val);
        }
   
      if(token === "" || token.length == 0){
       $("#withdraw-coin").prop('disabled', true);
      }
      else{
        var left_tokens= <%= user.total_token %> - token;
        
        if(left_tokens > 0){
         $("#total_token").html(left_tokens);
          $("#withdraw-coin").prop('disabled', false);
          $("#error_msg").html("");
        }
        else{
        $("#withdraw-coin").prop('disabled', true);
         $("#total_token").html('<span style="color:red">'+left_tokens+'</span>');
           $("#error_msg").html("<div class='alert alert-danger'>Insufficient Tokens to withdraw. </div><br>");
        }
      }
    }

</script>