<%- contentFor('head') %>
<%- contentFor('body') %>
<% include ../../partials/header %>
<% include ../../partials/sidebar %>
<div class="dashboard-wrapper">
<% include ../../partials/sidebar %>
</div>
 <div class="dashboard-body">
   <div class="row">
     <div class="col-sm-12">
        <h4 class="page-title">Withdraw</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href=""><i class="fa fa-home" aria-hidden="true"></i></a>
            </li>
            <li class="breadcrumb-item"><a href="#">Withdraw</a>
            </li>
        </ol>
    </div> 

     <div class="col-md-12 col-lg-4">
            <div class="card">
              <div class="card-header">
                <h4>Withdraw Amount</h4>
              </div>
              <div class="card-body">
                <form class="form-horizontal theme-form mt-2 row" method="post" action="/withdraw/<%= coin %>" >
                 <div class="col-lg-12">
                   <div id="alert-suceess-error-withdraw"></div>
                  <% if (error.length > 0) { %>
                    <div class="alert alert-danger flash"><%= error %></div>
                  <% } %> 
                  <% if (success.length > 0) { %>
                    <div class="alert alert-success flash"><%= success %></div>
                  <% } %>
                </div>
               
                    <div class="form-group col-md-12">
                       <label for="address">Address</label>
                       <input type="text" class="form-control" name="coin_address" value="" id="coin_address" autocomplete="off" >
                    </div>

                    <div class="form-group col-md-12">
                       <label for="address">Amount to withdraw</label>
                       <input type="number" class="form-control" name="amount" value="" id="amount" autocomplete="off" onkeyup="checkNumber(this)"  step="any">
                    </div>

                    <div class="form-group col-md-12" id="match-otp-2fa">
                       <label for="address">Authentication code</label>
                        <input type="number" class="form-control aucode" placeholder="input your 6-digit Authenticator code " aria-label="Amount (to the nearest dollar)" id="google_2fa_otp" onkeyup="checkOTP()">
                    </div>
                    <div class="form-group col-md-12 text-right">
                       <button type="submit" id="withdraw-coin" class="btn  btn-theme mt-4">Withdraw</button>
                    </div>
                </form>
              </div>
            </div>
        </div>


        <div class="col-md-12 col-lg-8">
            <div class="card">
              <div class="card-header">
                <h4>Balances</h4>
              </div>
               <div class="card-body coin-value">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="media">
                        <img class="mr-3" src="../public/assets/images/bitcoin.png" alt="bitcoin">
                        <div class="media-body">
                          <h5 class="mt-2">
                          BTC Bonus Balance</h5>
                          <h4 class="blue-font mt-0 ">
                            <%= user.btc_bonus_bal.toFixed(8) %>
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="media">
                        <img class="mr-3" src="../public/assets/images/icon-eth.png" alt="ETH">
                        <div class="media-body">
                          <h5 class="mt-2">
                          ETH Bonus Balance</h5>
                          <h4 class="blue-font mt-0 ">
                         <%= user.eth_bonus_bal.toFixed(8) %>
                          </h4>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
            </div>



      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4>Withdraw History</h4>
          </div>
          <div class="card-body table-responsive">
           <table id="data-table" class="table table-striped data-table" cellspacing="0" width="100%">
             <thead class="thead-dark">
              <tr>
               <th scope="col">Sr.</th>
               <th scope="col">Amount (<%= coin %>)</th>
               <th scope="col">Type</th>
               <th scope="col">Txid</th>
               <th scope="col">Status</th>
               <th scope="col">Created On</th>
             </tr>
           </thead>
           <tbody>
            <% var i=1; %>
           <% withdraw.forEach(function(withdraw) { %>
            <tr>
             <td> <%=  i++; %></td>
             <td><%= withdraw.amount %></td>
             <td><%= withdraw.currency %></td>
             <td><%= withdraw.tx_id %></td>
             <td><% if(withdraw.status==0){ %> <span class="badge badge-warning"> Pending </span> <% }else if(withdraw.status==1){ %> <span class="badge badge-success">Completed </span> <% }else if(withdraw.status==2){ %> <span class="badge badge-danger">Rejected</span> <% }  %></td>
             <td><%= withdraw.created_date %></td>
            </tr>
            <% }); %>
           </tbody>
       </table>
     </div>
    </div>
   </div>
  </div>
</div>
<!-- end dashboard body -->
<%- contentFor('footer') %>

<script>


  $(document).ready(function() {
$('#data-table').DataTable();

   $("#withdraw-coin").prop('disabled',true);
 })

function checkNumber(elem){

        var val = $(elem).val();
        var coin ="<%= coin %>";
        console.log(val);
          if(!isNaN(val)){
                 val = val.replace(/[^0-9\.]/g,'');
                 if(val.split('.').length>2)
                     val = val.replace(/\.+$/,"");
                 $(elem).val(val);
            }
      if(coin=="BTC"){
         if(val > "<%= user.btc_bonus_bal.toFixed(8)  %> "){
            $("#withdraw-coin").prop('disabled',true); 
            $("#alert-suceess-error-withdraw").html("<div class='alert alert-danger'>Insuffisient balance</div>");
         } 
         else{
          $("#withdraw-coin").prop('disabled',false);
         }
      }
      else if(coin=="ETH")
      {
        if(val > "<%= user.eth_bonus_bal.toFixed(8)  %>"){
            $("#withdraw-coin").prop('disabled',true);
             $("#alert-suceess-error-withdraw").html("<div class='alert alert-danger'>Insuffisient balance</div>");
        }
        else{
         $("#withdraw-coin").prop('disabled',false);
        }
      }
        
}


    function checkOTP()
     {
       $("#alert-suceess-error-withdraw").html('');
       var code= $("#google_2fa_otp").val();
       if(code.length == 6)
       {
        console.log(code);
         $.ajax({
           type: 'post',
           url:"../validate-otp",
           data: "totp="+code,
           success: function (responseData) {
             if(responseData==1)
             {
                $("#withdraw-coin").prop('disabled',false);
                $("#match-otp-2fa").hide();
                $("#google_2fa_otp").val('');
                $("#alert-suceess-error-withdraw").html("<div class='alert alert-success'>Correct 2FA code!</div>");
             }
             else{
             $("#alert-suceess-error-withdraw").html("<div class='alert alert-danger'>Nice try but OTP not match, Please try again.</div>");
             }
           }
         });
       } else if(code.length > 6) {
         $("#alert-suceess-error-withdraw").html("<div class='alert alert-danger'>Invalid OTP Code.</div>");
       }
     }

</script>