<%- contentFor('head') %>
<%- contentFor('body') %>
<% include ../../partials/header %>
<% include ../../partials/sidebar %>
<div class="dashboard-wrapper">
<% include ../../partials/sidebar %>
</div>
<style type="text/css">
  .inner {
    margin-top: 18px;
}
</style>
 <div class="dashboard-body">
   <div class="row">
     <div class="col-sm-12">
        <h4 class="page-title">Withdraw</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href=""><i class="fa fa-home" aria-hidden="true"></i></a>
            </li>
            <li class="breadcrumb-item"><a href="#">Withdraw</a>
            </li>
        </ol>
    </div> 

    <div class="col-md-6">
    <div class="card">
        <div class="card-header">
          <h4>Withdraw <%= coin %></h4>
        </div>
        <div class="col-md-12">
         <div class="card-body">

            <span style="
    color:  #fff;
    font-size:  18px;
"><b>You can easily withdraw <b>money</b> from your Looix account!</b></span>


          <div class="inner">
          <% if(user.paypal_email==""){ %>
           <div class="alert alert-danger">For withdrawing fiat amount you need to set first paypal email id in your profile section.</div>
          <% }else{ %>
            
              <div class="card col-sm-12">
                <h4>Your paypal email id</h4>
                <h4><%= user.paypal_email %></h4>
              </div>
              <div class=" card col-sm-12">
                <h4>Your available balance</h4>
                <h4 id="available_balance"></h4>
              </div>
           
          <% } %>
          </div>


            <div class="col-lg-12">
                <% if (error.length > 0) { %>
                  <div class="alert alert-danger flash"><%= error %></div>
                <% } %> 
                <% if (success.length > 0) { %>
                  <div class="alert alert-success flash"><%= success %></div>
                <% } %>
                <div id="error_msg" ></div>
            </div>
              <form class="form-horizontal theme-form" method="post" action="/withdraw-fiat/<%= coin %>">
                  <div class="form-group token_error">
                    <label for="address"><b>Amount to Withdraw</b></label>
                    <input type="number" class="form-control"  name="fiat_amount" required="" id="fiat_amount"  placeholder="0.00000000" onkeyup="checkAmount(this)" step="any">
                    <span id="error"></span>
                  </div>
                  <input type="hidden" id="fiat_currency" value="<%= coin %>" >
                  <div class="form-group text-right">
                      <input type="submit" class="btn  btn-theme mt-4" value="Withdraw" id="withdraw-fiat" />
                  </div>
            </form>
         </div>
       </div>
  </div>
  </div>

    <div class="col-md-12 col-lg-6">
            <div class="card">
              <div class="card-header">
                <h4>Balances</h4>
              </div>
               <div class="card-body coin-value">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="media">
                        <img class="mr-3" src="../public/assets/images/euro.png" alt="Euro">
                        <div class="media-body">
                          <h5 class="mt-2">
                          EUR Bonus Balance</h5>
                          <h4 class="blue-font mt-0 ">
                             <%= user.eur_bonus_bal.toFixed(2) %>
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="media">
                        <img class="mr-3" src="../public/assets/images/$.png" alt="ETH">
                        <div class="media-body">
                          <h5 class="mt-2">
                          USD Bonus Balance</h5>
                          <h4 class="blue-font mt-0 ">
                          <%= user.usd_bonus_bal.toFixed(2) %>
                          </h4>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
            </div>

<!-- Displaying Withdraw history -->

  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h4>Withdraw History</h4>
      </div>
      <div class="card-body table-responsive">
       <table id="data-table" class="table table-striped data-table" cellspacing="0" width="100%">
         <thead class="thead-dark">
          <tr>
           <th scope="col">Sr.</th>
           <th scope="col">Amount (<%= coin %>)</th>
           <th scope="col">Type</th>
           <th scope="col">Payout Batch Id</th>
           <th scope="col">Status</th>
         </tr>
       </thead>
       <tbody>
          <% var i=1; %>
           <% withdraw.forEach(function(withdraw1) { %>
            <tr>
             <td> <%=  i++; %></td>
             <td><%= withdraw1.amount %></td>
             <td><%= withdraw1.currency %></td>
             <td><%= withdraw1.payout_batch_id %></td>
             <td><% if(withdraw1.status==0){ %> <span class="badge badge-warning"> Pending </span> <% }else if(withdraw1.status==1){ %> <span class="badge badge-success">Completed </span> <% }else if(withdraw1.status==2){ %> <span class="badge badge-danger">Rejected</span> <% }  %></td>
            </tr>
            <% }); %>
        </tbody>
      </table>
     </div>
    </div>
   </div>


  </div>
</div><!-- end dashboard body -->
<%- contentFor('footer') %>
<script>

  $(document).ready(function() {
$('#data-table').DataTable();
});

$(document).ready(function() {
console.log("askjhdas");
  var paypal_email= "<%= user.paypal_email %>";
  var coin = "<%= coin %>";
  if(coin == "EUR"){ var balance= "<%= user.eur_bonus_bal %>"; }
  else if(coin == "USD"){ var balance= "<%= user.usd_bonus_bal %>";  }
  $("#available_balance").html(balance+" "+coin);
  if(paypal_email=="" || balance<=0 ){
    $("#withdraw-fiat").prop('disabled',true);
  }
});

 function checkAmount(elem){
        var coin = "<%= coin %>";
        var amount = $(elem).val();
      if(!isNaN(amount)){
             val = amount.replace(/[^0-9\.]/g,'');
             if(val.split('.').length>2)
                 val = val.replace(/\.+$/,"");
             $(elem).val(val);
        }
   
      if(amount === "" || amount.length == 0){
       $("#withdraw-fiat").prop('disabled', true);
      }
      else{
      var left_amount=0;
      if(coin=="USD"){
          var left_amount= <%= user.usd_bonus_bal %> - amount;
      }else if(coin=="EUR"){
          var left_amount= <%= user.eur_bonus_bal %> - amount;
      }
        
        
        if(left_amount >= 0){
         $("#available_balance").html(left_amount+" "+coin);
         $("#withdraw-fiat").prop('disabled', false);
          $("#error_msg").html("");
        }
        else{
        $("#withdraw-fiat").prop('disabled', true);
         $("#available_balance").html('<span style="color:red">'+left_amount+" "+coin+'</span>');
           $("#error_msg").html("<div class='alert alert-danger'>Insufficient Tokens to withdraw. </div><br>");
        }
      }
    }





</script>