<%- contentFor('head') %>
<%- contentFor('body') %>
<% include ../../partials/header %>
<% include ../../partials/sidebar %>
<style type="text/css">
    h2, h3, h4, h5 {
    color: #ffff;
}
.ico-font {
    color: #fff; 
}
</style>
        <div class="dashboard-body">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">Rate Edit</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href=""><i class="fa fa-home" aria-hidden="true"></i></a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">Rate Edit</a>
                        </li>
                    </ol>
                </div>
                 <div class="col-sm-12">

          <% for(var i=0; i<error.length; i++) { 
              if (error[i].param == 'percentage'){ var percentage =  error[i]['msg']; }
           }  %>


   <div class="card coin-value">
             <div class="card-body">
                   <form class="form-vertical" action="/rate-edit" method="post">
                        <div class="form-group col-md-12">
                           <label><b style="color:  #fff;">Level <%= data.level %></b></label>
                           <input type="text" name="percentage" class="form-control" value="<%= data.percentage %>" required>
                                 <% if (percentage) { %> <span class="help-block text-danger"> <strong><%= percentage %></strong> </span>  <% }  %>
                        </div>
                        <input type="hidden" name="rate_id" value="<%= data.id %>"/>
                        <div class="form-group col-md-12 text-left">
                           <button type="submit" class="btn btn-theme mt-2">Change</button>
                        </div>
                     </form>

                 </div>
                 </div></div>
            </div>
        </div>
 <%- contentFor('footer') %>