<%- contentFor('head') %>
<%- contentFor('body') %>
<% include ../../partials/header %>
<% include ../../partials/sidebar %>

        <div class="dashboard-body">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">Rate Setting</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href=""><i class="fa fa-home" aria-hidden="true"></i></a>
                        </li>
                        <li class="breadcrumb-item"><a href="#">Rate Setting</a>
                        </li>
                    </ol>
                </div>
<!-- ICO Setting -->
    <div class="col-md-12">
      <div class="card"> 
         <div class="card-body table-responsive">

         
                        
              <table id="buy-table" class="table table-striped data-table dataTable no-footer">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Sr.</th>
                  <th scope="col">Level</th>
                  <th scope="col">Percentage</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
             <% var i=1; %>

          <% if (data) { %>
                      <% data.forEach(function(ratedata){ %>
                      <tr>
                           <td><%= i++;  %></td>
                           <td><%= ratedata.level  %></td>
                           <td><%= ratedata.percentage %></td>
                           <td><a href="/rate-edit-one/<%= ratedata._id %>"><button class="btn btn-success"><i class="fa fa-edit"></i>&nbsp;Edit</button> </a></td>
                          
                      </tr>
                  <% }) %>
                  <% } %>   
                  
              </tbody>
            </table>
         </div>
      </div>
   </div>
   <!-- ICO Setting end -->
   </div>
  </div>

 <%- contentFor('footer') %>


<script>

$(document).ready(function() {
$('#buy-table').DataTable();
});

</script>





